/* Builder Body */
.tw-builder__body{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 1fr auto;
    gap: 12px;

    min-height: 100%;

    padding: 10px 0;
}


.tw-builder__handlebars-canvas-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: var(--canvas-max-width);
}
.tw-builder__handlebars-canvas-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: var(--canvas-max-width);
}
.tw-builder__canvas{
    background-color: var(--canvas-background);
    border-radius: 0; /* To prevent actives outline from being cut by the overflow on the radius */
    border: 1px solid var(--border-fresco-color);
    box-shadow: var(--fancy-shadow); 

    height: 100%;
    min-height: 100%;
    min-width: var(--canvas-min-width); /* Handlebar will never go below this width */
    width: 100%; /* Handlebars will never go above parent width (the parent canvas wrapper width) */
    max-width: 100%; /* Handlebars will change this to fixed px */ 

    overflow: auto;
    position: relative;
    transform: translate(0);
}
.tw-builder__canvas::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.tw-builder__canvas::-webkit-scrollbar-thumb {
    background: var(--handlebars-color);
    border-radius: 10px;
}
.tw-builder__toolbar{
    background-color: var(--toolbar-background);
    border-radius: 12px;
    border: var(--toolbar-border);
    box-shadow: var(--toolbar-shadow);

    height: 100%;
    max-height: fit-content;
    width: 100%;
    max-width: fit-content;

    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    position: relative;
}

/* Handlebars */
.trustwards-builder--is-dragging *{
    user-select: none;
}
.tw-builder__handlebar{
    background-color: var(--handlebars-color);
    height: 40px;
    min-width: 5px;

    border-radius: 10px;
    cursor: e-resize;

    transition: height 0.2s ease, background-color 0.2s ease;
}
.tw-builder__handlebar:hover{
    height: 80px;
    background-color: var(--handlebars-color-active);
}
.tw-builder__handlebar.tw-builder__handlebar--active{
    height: 60px;
    background-color: var(--handlebars-color-active);
}