.tw-builder__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.tw-builder__header-settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--panels-background);
    border-radius: 12px;
    height: 40px;
    border: 1px solid var(--border-light-color);
    box-shadow: var(--fancy-shadow);
}
.tw-builder__header-setting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;

}
.tw-builder__header-setting-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tw-builder__header-divider{
    width: 1px;
    height: 100%;
    background-color: var(--border-light-color);
}
.tw-builder__header-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.tw-builder__header-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: default;
}
.tw-builder__header-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--logo-background);
    border: 1px solid var(--border-strong-color);
    padding: 1.5px;
}
.tw-builder__header-img--null{
    display: none;
}
.tw-builder__header-color{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-mini);
    font-weight: 500;
    text-transform: uppercase;  
}
.tw-builder__header-color--null{
    display: none;
}
.tw-builder__header-title{
    font-size: var(--font-size-mini);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
    cursor: pointer;
    display: inline-block;
    position: relative;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tw-builder__header-input{
    display: none;
}

.tw-builder__header-plan{
    font-size: var(--font-size-extreme-mini);
    font-weight: 700;
    color: var( --body-light-color);
    background-color: var(--header-plan-background);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.tw-builder__header-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}
.tw-builder__header-control{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: var(--undo-redo-background);
    padding: 5px;
    border-radius: 4px;
}

.tw-builder__header-breakpoints{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    
}
.tw-builder__header-breakpoint{ 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--body-light-color);
    position: relative;
}
.tw-builder__header-breakpoint-icon--active{
    color: var(--body-strong-color);
}
.tw-builder__header-breakpoint .tooltip__mask{
    width: max-content;
}
.tw-builder__header-tooltip{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
.tw-builder__header-tooltip-divider{
    opacity: 0.5;
}
.tw-builder__header-tooltip-edit{
    width: 12px;
    height: 12px;
    opacity: 0.7;
}
.tw-builder__header-tooltip-input{
background-color: transparent;
color: #fff;
border: none;
outline: none;
font-size: var(--font-size-mini);
font-weight: var(--font-weight);
letter-spacing: var(--letter-spacing-negative);

} 
.tw-builder__header-tooltip-span{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    display: inline-flex;
    align-items: center;
    
}
.tw-builder__header-tooltip-input:focus{
    outline: none;
}