.siteView{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.siteView__header{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
    gap: 10px;
}


@media (max-width: 767px) {
    .siteView__header{
        height: 150px;
    }
}
