.sort__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 6px;
    background-color: fff;
    color: var(--dashed-btn-color);
    letter-spacing: var(--letter-spacing);
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    cursor: pointer;
}
.sort__button svg {
    width: 12px;
    height: 12px;
    color: var(--dashed-btn-color);
}

.sort__title {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  color: #686B74;
  padding: 6px 12px 2px 12px;
  pointer-events: none;
  user-select: none;
}

.dropdown__tick {
  display: flex;
  align-items: center;
  margin-right: 8px;
  color: #0099FE;
  min-width: 16px;
}

/* Mobile */
@media (max-width: 480px) {
    .sort__button {
      font-size: 12px;
    }
    .sort__button svg {
      width: 12px;
      height: 12px;
    }
  }