.sort__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px;
    background-color: var(--dashed-btn-background);
    color: var(--dashed-btn-color);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    font-size: 14px;
    font-weight: 500;
    border: var(--dashed-border);
    border-radius: 8px;
    cursor: pointer;
}

.sort__icon svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: var(--dashed-btn-color);
}

/* Mobile */
@media (max-width: 480px) {
    .sort__button {
      font-size: 12px;
    }
    .sort__button svg {
      width: 12px;
      height: 12px;
    }
  }