.sort__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 6px;
    background-color: fff;
    color: var(--dashed-btn-color);
    letter-spacing: var(--letter-spacing);
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    cursor: pointer;
}
.sort__button svg {
    width: 12px;
    height: 12px;
    color: var(--dashed-btn-color);
}

/* Mobile */
@media (max-width: 480px) {
    .sort__button {
      font-size: 12px;
    }
    .sort__button svg {
      width: 12px;
      height: 12px;
    }
  }