/* Installation */

.skeleton-installation__script {
    width: 60%;
    height: 35px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Scanner Overview */

.skeleton-scanner-overview {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 1px solid var(--skeleton-color);
    padding: 20px;
}
.skeleton-scanner-overview__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.skeleton-scanner-overview__title {
    width: 118px;
    height: 17px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-scanner-overview__button {
    width: 43px;
    height: 26px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-scanner-overview__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}
.skeleton-scanner-overview__item {
    width: 100%;
    height: 15px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
    margin: 10px 0;
}
.skeleton-scanner-overview__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.skeleton-scanner-overview__scanner {
    width: 200px;
    height: 15px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
    margin-top: 20px;
}

/* Site Usage */
.skeleton-site-usage {
    width: 20%;
    height: 295px;
    border-radius: 16px;
    border: 1px solid var(--skeleton-color);
    padding: 15px;
    box-shadow: 0px 2px 4px 0px var(--shadow-strong-color);
    gap: 10px;
    display: flex;
    flex-direction: column; 
}
.skeleton-site-usage__header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.skeleton-site-usage__title {
    width: 68px;
    height: 17px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-site-usage__button {
    width: 33px;
    height: 22px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}

.skeleton-site-usage__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.skeleton-site-usage__content-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skeleton-site-usage__subtitle {
    width: 130px;
    height: 20px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-site-usage__usage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.skeleton-site-usage__item {
    width: 100%;
    height: 15px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-site-usage__footer {
    width: 100%;
    height: 25px;
    background-color: var(--skeleton-color);
    border-radius: 8px;
}

/* Comply Health */

.skeleton-comply-health {
    width: 20%;
    height: 100%;
    border-radius: 16px;
    border: 1px solid var(--skeleton-color);
    padding: 15px;
    box-shadow: 0px 2px 4px 0px var(--shadow-strong-color);
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.skeleton-comply-health__header {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.skeleton-comply-health__title {
    width: 94.5px;
    height: 17px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-comply-health__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.skeleton-comply-health__circle {
    width: 96px;
    height: 96px;
    background-color: var(--skeleton-color);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skeleton-comply-health__item {
    width: 100%;
    height: 15px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
/* Analytics */
.skeleton-analytics {
    width: 60%;
    height: 295px;
    border-radius: 16px;
    border: 1px solid var(--skeleton-color);
    padding: 15px;
    box-shadow: 0px 2px 4px 0px var(--shadow-strong-color);
    display: flex;
    flex-direction: column;
}
.skeleton-analytics__header {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: row;

}
.skeleton-analytics__title {
    width: 60px;
    height: 17px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-analytics__content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.skeleton-analytics__analytics {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skeleton-analytics__circle {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    max-width: 250px;
    background-color: transparent;
    border-radius: 100%;
    border: clamp(12px, 2vw, 20px) solid var(--skeleton-color);
}
.skeleton-analytics__cookies {
    padding-top: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.skeleton-analytics__item {
    width: 100%;
    height: 20px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}

/* Monthly Scans */

.skeleton-monthly-scans {
    width: 165px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.skeleton-monthly-scans__item {
    width: 100%;
    height: 15px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}

/* Scan Result */
.skeleton-scan-result {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.skeleton-scan-result__card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--skeleton-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0px 2px 4px 0px var(--shadow-strong-color);
}
.skeleton-scan-result__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.skeleton-scan-result__title {
    width: 100px;
    height: 21px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-scan-result__scripts {
    width: 55px;
    height: 18px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-scan-result__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skeleton-scan-result__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.skeleton-scan-result__item {
    width: 160px;
    height: 15px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
}
.skeleton-scan-result__item--long {
    width: 300px;
}
.skeleton-scan-result__divider {
    width: 100%;
    height: 1px;
    background-color: var(--skeleton-color);
}


/*Dashboard*/
.skeleton-plan{
    width: 50px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--skeleton-color);
}

.skeleton-sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid transparent;
    gap: 10px;
    padding: 8px 5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    
  }
  
  .skeleton-sidebar__avatar {
    min-width: 22px;
    min-height: 22px;
    background-color: var(--skeleton-color);
    border-radius: 10px;
  } 
  
  .skeleton-sidebar__name{
    display: none;
  }
  .skeleton-sidebar--open .skeleton-sidebar__name {
    width: 100px;
    height: 16px;
    background-color: var(--skeleton-color);
    border-radius: 4px;
    display: block;
  }

  .skeleton-site-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: fit-content;
    gap: 17px;
    flex-wrap: wrap;
  }
  
.skeleton-site {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: calc(25% - 12.75px);
    height: fit-content;
  }
  .skeleton-site__visual {
    min-height: 120px;
    border: 1px solid var(--skeleton-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .skeleton-site__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: transparent;
    border: 1px solid var(--skeleton-color);
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .skeleton-site__avatar {
    width: 35px;
    height: 35px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid var(--skeleton-color);
    position: absolute;
    top: 107px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 5px 0px var(--shadow-fresco-color);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--skeleton-color);
  }
  .skeleton-site__name {
    width: 50px;
    height: 10px;
    background: var(--skeleton-color);
    border-radius: 4px;
  }
  .skeleton-site__plan {
    width: 40px;
    height: 25px;
    background: var(--skeleton-color);
    border-radius: 8px;
  }
  .skeleton-site-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: fit-content;
    gap: 17px;
  }
  .skeleton-user-name {
    width: 100px;
    height: 20px;
    background-color: var(--skeleton-color);
    border-radius: 4px;
  }
  .skeleton-user-avatar {
    width: 25px;
    height: 25px;
    background-color: var(--skeleton-color);
    border-radius: 100%;
  }

  @keyframes skeleton-pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  .skeleton-animate-pulse {
    animation: skeleton-pulse 1.5s ease-in-out infinite;
  }


@media (max-width: 1010px) {
    .skeleton-site-usage {
        width: 100%;
    }
    .skeleton-comply-health {
        width: 100%;
    }
    .skeleton-analytics {
        width: 100%;
    }
    
}

@media (max-width: 992px) {
    .skeleton-site {
        width: calc(50% - 8.5px);
    }
}


