@media (max-width: 820px) {
  .tw-builder{
    display: block;
  }
}

.tw-mobile-warning{
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--builder-background);

  display: flex;
  justify-content: center;
  align-items: center;
}
.tw-mobile-warning__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.tw-mobile-warning__title{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--builder-text-color);
}