.modal-billing{
    width: 100%;
    height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-billing__header{
    width: 100%;
    height: 100%;
}