@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}
html.trustwards-builder{
    padding: 0;
}

/*
Light selected: use root
Dark selected: use html[data-theme="dark"]
System selected: will fallback to root or html[data-theme="dark"]
*/
:root {
    --panels-width: 200px;
    --canvas-min-width: 350px;
    --canvas-max-width: 1480px;

    --panels-radius: 8px;

    --builder-background: #F5F5F5;
    --panels-background: #FFFFFF;
    --canvas-background: #FFFFFF;

    --border-light-color: #E6E6E6;
    --shadow-light-color: #00000010;

    --scrollbars-color: #E6E6E6;
    --handlebars-color: #D9D9D9;
    --handlebars-color-active: #AAAAAA;

    --font-size-mini: 10px;
    --font-size-small: 12px;
    --font-weight: 500;
    --letter-spacing-negative: -0.03em;
    --letter-spacing-positive: 0.03em;
    --logo-background: #FFFFFF;
    --border-strong-color: #E0E0E0;
    --hover-strong-color: #E3E3E3;


    --header-plan-background: #E3E3E3;
    --shadow-color: #999999;
    --subtitle-color: #666666;
    --label-color: #222222;


    --modal-backdrop-color: rgba(0, 0, 0, 0.5);
    --modal-background: #FFFFFF;
    --modal-sidebar-background: #F2F2F2;

    --accent-color: #FFFFFF;
    --accent-bg-color: #0099FE;
    --notification-color: #FFFFFF;
  
    
    --blue-button-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;

    /*General*/
    --body-light-color: #A0A0A0;
    --body-fresco-color: #5E5E5E;
    --body-semistrong-color: #333333;
    --body-strong-color: #000000;
    --border-fresco-color: #E6E6E6;
    --border-strong-color: #E0E0E0;
    --icons-fresco-color: #5E5E5E;
    --icons-strong-color: #000000;
    --hover-light-color: #FFFFFF;
    --hover-fresco-color: #EBEBEB;
    --hover-strong-color: #E3E3E3;
    --shadow-fresco-color: rgba(0, 0, 0, 0.05);
    --shadow-strong-color: rgba(0, 0, 0, 0.1);
    --wrappers-fresco-color: #F2F2F2;
    --wrappers-strong-color: #EDEDED;

    /*Builder Left Panel*/
    --left-panel-toggle-color: #999999;

    --left-panel-logo-background: #FFFFFF;
    --left-panel-logo-border: 1px solid #E6E6E6;
    --left-panel-logo-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

    --left-panel-dropdown-background: #FFFFFF;
    --left-panel-dropdown-border: 1px solid #E6E6E6;
    --left-panel-dropdown-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

    --left-panel-tab-container-background: #F5F5F5;
    --left-panel-tab-slider-background: #FFFFFF;
    --left-panel-tab-slider-border: 1px solid #E6E6E6;
    --left-panel-tab-slider-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    --left-panel-tab-color: #999999;
    --left-panel-tab-active-color: #222222;
    --left-panel-tab-hover-background: #E8E8E8;
    --left-panel-tab-hover-color: #222222;

    /*Tree View*/
    --left-panel-tree-item-hover-background: #F5F5F5;

    --left-panel-tree-item-selected-background: #0099FE;
    --left-panel-tree-item-selected-color: #FFFFFF;

    --left-panel-tree-item-child-selected-background: #E0F2FE;
    --left-panel-tree-item-child-selected-color: #FFFFFF;

    --left-panel-tree-expand-button-color: #999999;
    --left-panel-tree-expand-button-selected-color: white;
    --left-panel-tree-expand-button-child-selected-color: #666666;

    --left-panel-tree-square-icon-background: #FFFFFF;
    --left-panel-tree-text-icon-color: #666666;
    --left-panel-tree-label-child-selected-color: #666666;
    --left-panel-tree-bg-extend-bg: #E0F2FE;
}
/* Button color variables using data-color */
html[data-color="blue"] {
    --blue-button-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
    --accent-bg-color: #0099FE;
  }
  
  html[data-color="green"] {
    --blue-button-shadow: 0px -4px 4px 0px #3CB82C inset, 0px 0px 0px 1px #2FB11F, 0px 0px 0px 1px #7BD86F inset;
    --accent-bg-color: #4EC93E
  }
  
  html[data-color="purple"] {
    --blue-button-shadow: 0px -4px 4px 0px #5951EB inset, 0px 0px 0px 1px #554DFD, 0px 0px 0px 1px #8882FF inset;
    --accent-bg-color: #635BFF
  }
  
  html[data-color="orange"] {
    --blue-button-shadow: 0px -4px 4px 0px #F8722C inset, 0px 0px 0px 1px #FF6A1D, 0px 0px 0px 1px #FFA170 inset;
    --accent-bg-color: #FD803F;
  }
  
  html[data-color="red"] {
    --blue-button-shadow: 0px -4px 4px 0px #E31B1B inset, 0px 0px 0px 1px #F91212, 0px 0px 0px 1px #F97474 inset;
    --accent-bg-color: #F33D3D;
  }

html[data-theme="dark"]{
    --builder-background: #202020;
    --panels-background: #252525;
    --canvas-background: #191919;

    /*General*/
    --body-light-color: #666666;
    --body-fresco-color: #9B9B9B;
    --body-semistrong-color: #9B9B9B;
    --body-strong-color: #FFFFFF;
    --border-fresco-color: #252525;
    --border-strong-color: #333333;
    --icons-fresco-color: #9B9B9B;
    --icons-strong-color: #FFFFFF;
    --hover-light-color: #2B2B2B;
    --hover-fresco-color: #2B2B2B;
    --hover-strong-color: #333333;
    --shadow-fresco-color: rgba(0, 0, 0, 0.05);
    --shadow-strong-color: rgba(0, 0, 0, 0.15);
    --wrappers-fresco-color: #202020;
    --wrappers-strong-color: #2B2B2B;

    /*Builder Left Panel*/
    --left-panel-toggle-color: #9B9B9B;

    --left-panel-logo-background: #2B2B2B;
    --left-panel-logo-border: 1px solid #333333;

    --left-panel-dropdown-background: #2B2B2B;
    --left-panel-dropdown-border: 1px solid #333333;

    --left-panel-tab-container-bg: #202020;
    --left-panel-tab-slider-bg: #2B2B2B;
    --left-panel-tab-slider-border: 1px solid #333333;
    --left-panel-tab-color: #9B9B9B;
    --left-panel-tab-active-color: #FFFFFF;
    --left-panel-tab-hover-bg: #333333;
    --left-panel-tab-hover-color: #FFFFFF;

    /*Tree View*/
    --left-panel-tree-item-hover-bg: #333333;
    --left-panel-tree-item-child-selected-bg: #1E3A8A;
    --left-panel-tree-item-child-selected-color: #60A5FA;
    --left-panel-tree-expand-button-color: #9B9B9B;
    --left-panel-tree-expand-button-child-selected-color: #FFFFFF;
    --left-panel-tree-square-icon-bg: #9B9B9B;
    --left-panel-tree-text-icon-color: #9B9B9B;
    --left-panel-tree-label-child-selected-color: #FFFFFF;
    --left-panel-tree-bg-extend-bg: #1E3A8A;
}

.tw-builder__logo{
  background: url('/assets/logo-light-mode.svg');
  background-size: cover;
  width: 15px;
  height: 11px;
}
.tw-builder--open .tw-builder__logo{
  margin-left: 0px;
}

html[data-theme="dark"] .tw-builder__logo{
  background: url('/assets/logo-dark-mode.svg');
  background-size: cover;
  width: 15px;
  height: 11px;
}