@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}
html.trustwards-builder{
    padding: 0;
}

/*
Light selected: use root
Dark selected: use html[data-theme="dark"]
System selected: will fallback to root or html[data-theme="dark"]
*/
:root {
    --panels-width: 200px;
    --canvas-min-width: 350px;
    --canvas-max-width: 1480px;

    --panels-radius: 8px;

    --builder-background: #F5F5F5;
    --panels-background: #FFFFFF;
    --canvas-background: #FFFFFF;

    --border-light-color: #E6E6E6;
    --shadow-light-color: #00000010;

    --scrollbars-color: #E6E6E6;
    --handlebars-color: #D9D9D9;
    --handlebars-color-active: #AAAAAA;

    --font-size-mini: 10px;
    --font-size-small: 12px;
    --font-weight: 500;
    --letter-spacing-negative: -0.03em;
    --letter-spacing-positive: 0.03em;
    --logo-background: #FFFFFF;
    --border-strong-color: #E0E0E0;
    --hover-strong-color: #E3E3E3;


    --header-plan-background: #E3E3E3;
    --header-plan-color: #999999;


    --modal-backdrop-color: rgba(0, 0, 0, 0.5);
    --modal-background: #FFFFFF;
    --modal-sidebar-background: #F2F2F2;

    --accent-color: #FFFFFF;
    --accent-bg-color: #0099FE;
    --notification-color: #FFFFFF;
  
    
    --blue-button-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
}
/* Button color variables using data-color */
html[data-color="blue"] {
    --blue-button-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
    --accent-bg-color: #0099FE;
  }
  
  html[data-color="green"] {
    --blue-button-shadow: 0px -4px 4px 0px #3CB82C inset, 0px 0px 0px 1px #2FB11F, 0px 0px 0px 1px #7BD86F inset;
    --accent-bg-color: #4EC93E
  }
  
  html[data-color="purple"] {
    --blue-button-shadow: 0px -4px 4px 0px #5951EB inset, 0px 0px 0px 1px #554DFD, 0px 0px 0px 1px #8882FF inset;
    --accent-bg-color: #635BFF
  }
  
  html[data-color="orange"] {
    --blue-button-shadow: 0px -4px 4px 0px #F8722C inset, 0px 0px 0px 1px #FF6A1D, 0px 0px 0px 1px #FFA170 inset;
    --accent-bg-color: #FD803F;
  }
  
  html[data-color="red"] {
    --blue-button-shadow: 0px -4px 4px 0px #E31B1B inset, 0px 0px 0px 1px #F91212, 0px 0px 0px 1px #F97474 inset;
    --accent-bg-color: #F33D3D;
  }

html[data-theme="dark"]{
    --builder-background: #202020;
}

.tw-builder__logo{
  background: url('/assets/logo-light-mode.svg');
  background-size: cover;
  width: 25px;
  height: 18px;
}
.tw-builder--open .tw-builder__logo{
  margin-left: 0px;
}

html[data-theme="dark"] .tw-builder__logo{
  background: url('/assets/logo-dark-mode.svg');
  background-size: cover;
  width: 25px;
  height: 18px;
}