.modal-upgrade-plan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    padding: 20px;
}

.modal-upgrade-plan__header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-upgrade-plan__title{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
}

.modal-upgrade-plan__info{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    color: var(--body-fresco-color);
    min-width: 200px;
}

.modal-upgrade-plan__info--underline{
    text-decoration: underline dotted;
    text-decoration-thickness: .5px;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
    cursor:default;
    position: relative;
}

.tooltip--upgrade{
    display: none;
}

.modal-upgrade-plan__info--underline:hover .tooltip{
    display: block;
}

.modal-upgrade-plan__info--free,
.modal-upgrade-plan__info--pro {
    color: var(--accent-bg-color);
}

.modal-upgrade-plan__sub{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-end;
    justify-content: space-between;
}

.modal-upgrade-plan__infoContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.modal-upgrade-plan__yearly{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.modal-upgrade-plan__yearly-text{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    color: var(--body-light-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__label {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 16px;
}
  
.modal-upgrade-plan__input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.modal-upgrade-plan__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--body-light-color);
    border-radius: 34px;
    transition: .2s;
    overflow: hidden;
}
  
.modal-upgrade-plan__slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
  
.modal-upgrade-plan__input:checked + .modal-upgrade-plan__slider {
    background-color: var(--accent-bg-color);
}
  
.modal-upgrade-plan__input:checked + .modal-upgrade-plan__slider:before {
    transform: translateX(10px);
}

.modal-upgrade-plan__divider{
    height: 1px;
    background: var(--border-strong-color);
    margin: 4px 0;
    width: 100%;
    border: none;
}

.modal-upgrade-plan__plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.modal-upgrade-plan__plan{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-upgrade-plan__plan__title{
    position: relative;
    width: fit-content;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    color: var(--body-fresco-color);
    display: flex;
    flex-direction: row;
    gap: 5px;
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__plan__title--popular{
    position: absolute;
    left: calc(100% + 5px);
    color: var(--accent-bg-color);
    font-size: var(--font-size-mini);
    background-color: var(--upgrade-bg-popular);
    padding: 2px 3px;
    border-radius: 3px;
    align-self: center;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__price{
    font-size: 24px;
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__currency{
    font-size: var(--font-size-mini);
    color: var(--body-strong-color);
    margin-left: 1px;
}

.modal-upgrade-plan__plan__nsites{
    font-size: var(--font-size-mini);
    color: var(--body-semistrong-color);
    letter-spacing: var(--letter-spacing-negative);
    font-weight: var(--font-weight);
}

.modal-upgrade-plan__plan__nsites--unlimited{
    font-size: var(--font-size-mini);
    color: var(--accent-bg-color);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__plan__description{
    font-size: var(--font-size-mini);
    color: var(--body-light-color);
    letter-spacing: var(--letter-spacing-negative);
    font-weight: var(--font-weight);
    min-width: 116px;
}

.modal-upgrade-plan__subscribe{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    border: 1px solid var(--secondary-button-border-color);
    justify-content: center;
    padding: 5px 0;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.modalUpgradePlan__subscribe:hover{
    background-color: var(--secondary-button-border-color);
}

.modal-upgrade-plan__subscribe__title{
    font-size: var(--font-size-mini);
    color: var(--body-strong-color);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__subscribe--popular{
    background-color: var(--accent-bg-color);
    box-shadow: var(--blue-button-shadow);
    border: none;
}
.modalUpgradePlan__subscribe--popular:hover{
    background-color: var(--accent-bg-color);
}

.modal-upgrade-plan__subscribe__title--popular{
    color: #fff;
    
}

.modal-upgrade-plan__site{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.modal-upgrade-plan__site__title{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__site__infos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.modal-upgrade-plan__info__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.modal-upgrade-plan__site__info{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center; 
}

.modal-upgrade-plan__site__info__title{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-upgrade-plan__site__tick{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: var(--body-fresco-color);
}

.modal-upgrade-plan__site__tick--cross{
    color: var(--body-light-color);
}

.modal-upgrade-plan__site__info__title--underline{
    text-decoration: underline dotted;
    text-decoration-thickness: .5px;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
    cursor: default;
    position: relative;

}

.modal-upgrade-plan__site__info__title--underline:hover .tooltip{
    display: block;
}

.modal-upgrade-plan__site__info__title--noincluded{
    color: var(--body-light-color);
}



@media (max-width: 767px) {
    .modal-upgrade-plan__header{
        padding-bottom: 10px;
    }

    .modal-upgrade-plan__plans{
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .modal-upgrade-plan__plan{
        border-top: 1px solid var(--border-strong-color);
        padding: 20px 0px;
    }

    .modal-upgrade-plan__site{
        width: 100%;
        margin-top: 10px;
        gap: 20px;
    }

    .modal-upgrade-plan__sub{
        gap: 12px;
    }

    .modal-upgrade-plan__site__title{
        font-size: var(--font-size-small);
        font-weight: var(--font-weight);
        color: var(--body-strong-color);
    }

    .modal-upgrade-plan__divider{
        display: none;
    }

    .modal-upgrade-plan__site__infos{
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .modal-upgrade-plan__info__container{
        padding: 20px 0;
        width: 100%;
        border-top: 1px solid var(--border-strong-color);
    }

    .modal-upgrade-plan__info__container:nth-child(1)::before{
        content: "Free";
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight);
        color: var(--body-fresco-color);
        letter-spacing: var(--letter-spacing-negative);
    }

    .modal-upgrade-plan__info__container:nth-child(2)::before{
        content: "Solo";
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight);
        color: var(--body-fresco-color);
        letter-spacing: var(--letter-spacing-negative);
    }

    .modal-upgrade-plan__info__container:nth-child(3)::before{
        content: "Scale";
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight);
        color: var(--body-fresco-color);
        letter-spacing: var(--letter-spacing-negative);
    }
    
    .modal-upgrade-plan__info__container:nth-child(4)::before{
        content: "Trustwards";
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight);
        color: var(--accent-bg-color);
        letter-spacing: var(--letter-spacing-negative);
    }
}