/*
EXPANDER (nestable)
*/
.tw-expander-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.tw-expander-item {
  width: 600px;
  max-width: 100%;
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.tw-expander-question { 
  padding: 10px 20px;
  position: relative;
  display: flex; 
  align-items: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  --icon-transition-duration: 0.2s;
}

.tw-expander-icon {
  color: white;
  transition: var(--icon-transition-duration);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  order: 1;
}

.tw-expander-icon svg {
  width: 100%;
  height: 100%;
  transition: inherit;
}

.tw-expander-question-text {
  font-size: 16px;
  color: white;
  margin: 0;
  flex: 1;
  order: 2;
}

.tw-expander-question.tw-expander-active > .tw-expander-icon {
  --rotate-degree: 180deg;
  transform: rotate(var(--rotate-degree));
}

.tw-expander-answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
}

.tw-expander-answer.tw-expander-open {
  max-height: 1000px;
}

.tw-expander-answer-content { 
  font-size: 1.6rem;
  line-height: 1.5;
  color: white;
  padding: 0 20px 15px 20px;
}
