.view__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px;
    background-color: var(--dashed-btn-background);
    color: var(--dashed-btn-color);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    font-size: 14px;
    font-weight: 500;
    border: var(--dashed-border);
    border-radius: 8px;
    cursor: pointer;
  }

.view__button svg {
    width: 14px;
    height: 14px;
    color: var(--dashed-btn-color);
}

/* Mobile */
@media (max-width: 480px) {
  .view__button {
    font-size: 12px;
  }
  .view__button svg {
    width: 12px;
    height: 12px;
  }
}