/* <USER CONFIG MODAL */

.profile{
  position: fixed;
  top: 0;
  left: var(--sidebar-width-close);
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--sidebar-transition);
}

.profile__modal {
  background: rgba(243, 243, 243, 0.85);
  height: 340px;
  border-radius: 10px;
  width: 330px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--border-color);
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__banner {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, #3b82f6, #f97316);
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #ffffff;
}

.profile__header {
  display: flex;
  justify-content: start;
  align-items: start;
  z-index: 1;
  position: relative;	
  flex-direction: column;
  padding: 12.5px 10px 0px 10px;
  width: 100%;
}

.profile__header__name{
  font-size: var(--sidebar-font-size);
  font-weight: var(--font-weight);
  color: #000;
  letter-spacing: var(--letter-spacing-negative);
  font-family: var(--font-family);
  margin-top: 7.5px;
}

.profile__header__email{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  color: #5E5E5E;
  letter-spacing: var(--letter-spacing-negative);
  font-family: var(--font-family);
}

.profile__avatar__img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background-color: #fff;
  padding: 7px;
}

.profile__avatar {
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  cursor: pointer;
}

.profile__avatar__svg{
  display: none;
}

.profile__avatar:hover .profile__avatar__svg {
  display: block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 2.5px;
  border: 0.5px solid var(--border-color);
  cursor: pointer;
}

.profile__body{
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  flex: 1;
  width: 100%;
}

.profile__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 1px solid var(--border-color);
}

.profile__row--last{
  border-bottom: none;
}

.profile__input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  
}

.profile__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile__row__span{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  color: var(--sidebar-items-color);
  letter-spacing: var(--letter-spacing-negative);
  font-family: var(--font-family);
  color: #000;
}

.profile__label{
  width: 210px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  padding: 5px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  color: var(--sidebar-items-color);
  letter-spacing: var(--letter-spacing-negative);
  font-family: var(--font-family);
}

.profile__label:focus{
  outline: 2px solid var(--border-color);
}

.profile__label[aria-invalid="true"] {
  outline: 2px solid rgba(73, 78, 88, .3)
}

.profile__label__name{
  width: 100px;
}

.profile__input__button{
  height: 26px;
  width: 68px;
  border-radius: 6px;
  border: none;
  background-color: rgba(243, 243, 243, 1);
  color: rgba(104, 107, 116, 1);
  font-size: var(--font-size-small);
  padding: 5px 5px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing-negative);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 1),   
    0 0 0 1px rgba(200, 200, 200, 1),        
    inset 0 -4px 4px 0 rgba(232, 232, 232, 1);

}

.profile__input__button:hover{
  opacity: 0.9;
}

.profile__footer{
  display: flex;
  justify-content: end;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.profile__footer__logout{
  height: 20px;
  background-color: transparent;
  border: 1px dashed var(--border-color);
  border-radius: 6px;
  padding: 5px;
  font-size: var(--font-size-small);
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing-negative);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5E5E5E
}

.profile__footer__save{
  height: 25px;
  width: 45px;
  background-color: rgba(0, 153, 254, 1);
  color: #ffffff;
  border-radius: 6px;
  border: none;
  padding: 10px;
  font-size: var(--font-size-small);
  font-weight: 400;
  cursor: pointer;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing-negative);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    inset 0 0 0 1px rgba(87, 166, 254, 1),   /* Primera sombra interna */
    0 0 0 1px rgba(29, 120, 235, 1),         /* Sombra paralela */
    inset 0 -4px 4px 0 rgba(4, 141, 232, 1);
}

@media (max-width: 767px) {
  .profile{
    left: 0;
    top: 0px;
  }
}