
  
  /* <USER CONFIG MODAL */

  .userConfig{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .userConfig__modal {
    background: rgba(243, 243, 243, 0.65);
    height: 340px;
    border-radius: 10px;
    width: 330px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #e0e0e0;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .userConfig__banner {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #3b82f6, #f97316);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .userConfig__header {
    display: flex;
    justify-content: start;
    align-items: start;
    z-index: 1;
    position: relative;	
    flex-direction: column;
    padding: 25px 10px 0px 10px;
  }
  .userConfig__header--name{
    font-size: var(--items-font-size);
    font-weight: var(--font-weight);
    color: var(--category-items-font-color);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
  }

  .userConfig__header--email{
    font-size: 10px;
    font-weight: var(--font-weight);
    color: #5E5E5E;
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
  }




  .userConfig__header  img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 4px;
  }

  .userConfig__avatar {
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
  }

  .userConfig__avatar svg {
    position: absolute;
    bottom: 0;
    right: 3px;
    background-color: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 1px;
    border: 0.5px solid #e0e0e0;
    cursor: pointer;

  }
  .userConfig__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  
  }
  .userConfig__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #e0e0e0;
  }
  .userConfig__row--last{
    border-bottom: none;
  }
  .userConfig__input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    
  }
  .userConfig__row-span{
    font-size: 10px;
    font-weight: var(--font-weight);
    color: var(--category-items-font-color);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
  }


  .userConfig__label{
    width: 210px;
    height: 30px;
    border-radius: 5px;
    background-color: #E2E2E2;
    border: none;
    padding: 5px;
    font-size: 10px;
    font-weight: var(--font-weight);
    color: var(--category-items-font-color);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
  }
  .userConfig__label--name{
    width: 100px;
  }
  .userConfig__input__button{
    height: 20px;
    width: 60px;
    border-radius: 6px;
    background-color: var(--category-items-font-color);
    color: #ffffff;
    font-size: 10px;
    padding: 5px 5px;
    font-weight: 400;
    cursor: pointer;
    font-family: Inter;
    letter-spacing: var(--letter-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .userConfig__input__button:hover{
    opacity: 0.9;
  }
  .userConfig__footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}
.userConfig__footer__logout{
    height: 20px;
    background-color: transparent;
    border: 1px dashed #E3E3E3;
    border-radius: 6px;
    padding: 5px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    font-family: Inter;
    letter-spacing: var(--letter-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
}

.userConfig__footer__save{
    height: 20px;
    background-color: #0099FE;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    padding: 10px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    font-family: Inter;
    letter-spacing: var(--letter-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
}


  /* >USER CONFIG MODAL */
  




    /* <SETTINGS */
    .settingsUser {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .settingsUser__modal {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        margin-bottom: 80px;
      }
      
      .settingsUser__table {
        border-bottom: 0;
      }
      
      .settingsUser__header {
          color: #333;
          margin-bottom: 2rem;
      }
      
      .settingsUser__table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 0 0 1px #ddd;
      }
      .settingsUser__table th,
      .settingsUser__table td {
        text-align: left;
        padding: 12px 16px;
        border-bottom: 1px solid #eee;
      }
      
      .settingsUser__table-header {
        background-color: #f3f3f3;
        color: #000000;
        opacity: 0.3;
      }
      
      .settingsUser__table-body:hover {
        background-color: #f3f3f3;
      }
      /* >SETTINGS */