.tw-builder-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  transition: opacity 0.5s ease-out;
}
.tw-builder-loader--fade-out {
  opacity: 0;
}

.tw-builder-loader__logo{
  width: 32px;
  height: 32px;
}
.tw-builder-loader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.tw-builder-loader__progress{
  --progress-width: 250px;
  --progress-height: 2.5px;

  width: var(--progress-width);
  height: var(--progress-height);

  background-color: #171717;
  border-radius: 100px;
}
.tw-builder-loader__progress-bar{
  width: 0px;
  height: 100%;

  position: relative;
  overflow: hidden;
  border-radius: 100px;

  transition: width 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}
.tw-builder-loader__progress-bar::before{
  content: '';
  display: block;
  width: var(--progress-width);
  height: var(--progress-height);

  background: linear-gradient(to right, #fff, #0099FE);
}