.dropdown {
  position: relative;
  display: inline-block;
}
.sidebar--open .dropdown {
  position: static;
  
}

.dropdown__menu {
  position: absolute;
  min-width: 140px;
  max-width: 90vw;
  background: rgba(255, 255, 255, 0.90);
  border: var(--border);
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(2.5px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  margin-top: 4px;
  overflow: hidden;
  padding: 4px;
}

.dropdown__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  background: none;
  border: none;
  border-radius: 6px;
  color: var(--color-black);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight);
  font-size: var(--font-size-medium);
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;

}
.dropdown__item:hover {
  background: var(--background-color-blue);
  color: #fff;
  border-radius: 6px;
}

.dropdown__item--delete {
  color: #D00606;
}
.dropdown__item--delete:hover {
  background: #F8DADA;
  color: #D00606;
}


.dropdown__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #686B74;
  stroke: none;
  fill: none;
}
.dropdown__icon--delete {
  color: var(--color-logout);
}
.dropdown__item.dropdown__item--delete:hover .dropdown__icon--delete {
  color: var(--color-logout);
}
.dropdown__item:hover .dropdown__icon {
  color: #fff;
}

.dropdown__divider {
  height: 0.8px;
  background: #E0E0E0;
  margin: 4px 0;
  width: 100%;
  border: none;
}

  /* Positioning */
/* Bottom-right (default) */
.dropdown[data-position="bottom-right"] .dropdown__menu {
  top: calc(100% + 4px);
  right: 0;
}

/* Bottom-left */
.dropdown[data-position="bottom-left"] .dropdown__menu {
  top: calc(100% + 4px);
  left: 0;
}

/* Top-left */
.dropdown__menu--top-left {
  bottom: calc(100% + 4px);
  left: 0;
  top: auto;
  margin-top: 0;
  margin-bottom: 4px;
}

/* Top-right */
.dropdown__menu--top-right {
  bottom: calc(100% + 4px);
  right: 0;
  top: auto;
  margin-top: 0;
  margin-bottom: 4px;
}
.profileDropdown--open .dropdown__menu{
 width: 165px;
 bottom: 50px;
}
@media (max-width: 767px) {
.sidebarSites__site--open .dropdown{
    width: 100%;
    justify-content: end;
    display: flex;
  } 

  .sidebarSites__site--open .dropdown__menu{
    width: 100%;
    margin-top: 25px;
  }
  .profileDropdown--open .dropdown__menu{
    width: 100%;
   }
}