.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__menu {
  position: absolute;
  min-width: 140px;
  max-width: 90vw;
  background: rgba(255, 255, 255, 0.90);
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(2.5px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  margin-top: 4px;
  overflow: hidden;
  padding-bottom: 4px;
  padding-top: 4px;
}

.dropdown__item {
  background: none;
  border: none;
  border-radius: 6px;
  color: #000000;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: 12px;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 4px;
  margin-right: 4px;
}

.dropdown__item:hover {
  background: var(--background-color-blue);
  color: #fff;
  border-radius: 6px;
}

  /* Positioning */
/* Bottom-right (default) */
.dropdown[data-position="bottom-right"] .dropdown__menu {
  top: calc(100% + 4px);
  right: 0;
}

/* Bottom-left */
.dropdown[data-position="bottom-left"] .dropdown__menu {
  top: calc(100% + 4px);
  left: 0;
}

/* Top-left */
.dropdown__menu--top-left {
  bottom: calc(100% + 4px);
  left: 0;
  top: auto;
  margin-top: 0;
  margin-bottom: 4px;
}

/* Top-right */
.dropdown__menu--top-right {
  bottom: calc(100% + 4px);
  right: 0;
  top: auto;
  margin-top: 0;
  margin-bottom: 4px;
}
/* Positioning */