/* ModalDelete content wrapper */
.modal-delete__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

/* Reduce modal width for delete dialog */
.modal:has(.modal-delete__content){
  max-width: 220px;
}

/* Top wrapper */
.modal-delete__top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-delete__title {
  letter-spacing: var(--letter-spacing-negative);
  font-size: 13px;
  font-weight: 600;
  color: var(--body-strong-color);
  text-align: left;
}

.modal-delete__divider {
  height: 0.8px;
  background: var(--border-strong-color);
  margin: 4px 0;
  width: 100%;
  border: none;
}

.modal-delete__paragraph {
  letter-spacing: var(--letter-spacing-negative);
  font-weight: var(--font-weight);
  font-size: var(--font-size-medium);
  color: var(--body-fresco-color);
  text-align: left;
}

/* Actions */
.modal-delete__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.modal-delete__cancel {
  letter-spacing: var(--letter-spacing-negative);
  font-weight: var(--font-weight);
  font-size: var(--font-size-medium);
  color: var(--body-fresco-color);
  border: 1px solid var(--border-strong-color);
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
}

.modal-delete__confirm {
  letter-spacing: var(--letter-spacing-negative);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  background: var(--accent-bg-color);
  color: var(--accent-color);
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: var(--blue-button-shadow);
}
