.modal-appearance__content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    gap: 20px;
}

.modal-appearance__top{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-appearance__header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-appearance__title{
    font-size: 14px;
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-appearance__description{
    font-size: 11px;
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-appearance__divider{
    height: 0.8px;
    background: rgba(224, 224, 224, 1);
    margin: 4px 0;
    width: 100%;
    height: 1px;
    background-color: var(--border-strong-color);
}

.modal-appearance__mid{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-appearance__mid__title{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-appearance__choices{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-appearance__choice{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-appearance__img-wrapper{
    height: 80px;
    width: 111px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.modal-appearance__choice__title{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-appearance__img-wrapper--light{
    background-color: var(--appearance-light-theme);
    border: 2px solid var(--appearance-light-theme-border);
    
}

.modal-appearance__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 15px;
}

.modal-appearance__choice__icon{
    display: none;
}

.modal-appearance__choice--active .modal-appearance__choice__icon { 
    display: block;
    position: absolute;
    top: 55px;
    left: 5px;
}

.modal-appearance__tick{
    color: var(--accent-bg-color);
}

.modal-appearance__img-wrapper--dark{
    background-color: var(--appearance-dark-theme);
    border: 2px solid var(--appearance-dark-theme-border);
}

.modal-appearance__img-wrapper--system{
    height: 80px;
    width: 111px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-appearance__img-wrapper--system .modal-appearance__img-wrapper--dark {
    width: 50%; 
}

.modal-appearance__img-wrapper--system .modal-appearance__img-wrapper--dark .modal-appearance__img{
    width: 200%;
}

.modal-appearance__img-wrapper--system .modal-appearance__img-wrapper--dark{
    position: absolute;
    left: 50%;
    border-left: none;
    border-radius: 0 6px 6px 0;
}

.modal-appearance__choice--active{
    border: 2px solid var(--accent-bg-color);
}

.modal-appearance__choice > .modal-appearance__choice--active + .modal-appearance__choice__title{
    color: var(--accent-bg-color);
}

.modal-appearance__img-wrapper--system:has(.modal-appearance__choice--active) ~ .modal-appearance__choice__title {
    color: var(--accent-bg-color);
}

.modal-appearance__bottom{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-appearance__ancent-color{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}

.modal-appearance__ancent-color__choices{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.modal-appearance__ancent-color__choice{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-appearance__ancent-color__title{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    border: none;
}

.modal-appearance__ancent-color__choice--green{
    background-color: rgba(60, 184, 44, 1);
    box-shadow:
    0  1px 1px rgba(123, 216, 111, 1) inset, 
    0 0 0 1px rgba(47, 177, 31, 1),         
    0 -7px 4px 0 rgba(60, 184, 44, 1) inset;  
}

.modal-appearance__ancent-color__choice--purple{
    background-color: rgba(99, 91, 255, 1);
    box-shadow:
    0 1px 1px rgba(136, 130, 255, 1) inset, 
    0 0 0 1px rgba(85, 77, 253, 1),         
    0 -7px 4px 0 rgba(89, 81, 235, 1) inset;  
}

.modal-appearance__ancent-color__choice--red{
    background-color: rgba(243, 61, 61, 1);
    box-shadow:
    0 1px 1px rgba(249, 116, 116, 1) inset, 
    0 0 0 1px rgba(249, 18, 18, 1),         
    0 -7px 4px 0 rgba(227, 27, 27, 1) inset;  
}

.modal-appearance__ancent-color__choice--orange{
    background-color: rgba(253, 128, 63, 1);
    box-shadow:
    0 1px 1px rgba(255, 161, 112, 1) inset, 
    0 0 0 1px rgba(255, 106, 29, 1),         
    0 -7px 4px 0 rgba(248, 114, 44, 1) inset;  
}

.modal-appearance__ancent-color__choice--blue{
    background-color: rgba(0, 153, 254, 1);
    box-shadow:
    0 1px 1px rgba(87, 166, 254, 1) inset, 
    0 0 0 1px rgba(29, 120, 235, 1),         
    0 -7px 4px 0 rgba(4, 141, 232, 1) inset;   
}

.modal-appearance__ancent-color__save{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-appearance__ancent-color__button{
    width: 45px;
    padding: 10px;
    background: var(--accent-bg-color);
    border: none;
    border-radius: 7px;
    letter-spacing: var(--letter-spacing-negative);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--accent-color);
    cursor: pointer;
    box-shadow: var(--blue-button-shadow);
    margin-top: 10px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.modal-appearance__ancent-color__choice--active{
    box-shadow:
    0 0 4px var(--shadow-strong-color),    
    0 0 0 2px white,               /* Borde externo blanco */
    0 0 0 3px #0094ff;             /* Borde externo azul */
}

.modal-appearance__reduced-motion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-appearance__reduced-motion__title{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-appearance__reduced-motion__label {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 16px;
  }
  
.modal-appearance__reduced-motion__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.modal-appearance__reduced-motion__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(227, 227, 227, 1);
    border-radius: 34px;
    transition: .4s;
    overflow: hidden;
  }
  
.modal-appearance__reduced-motion__slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

 /* Disable transitions and animations of slider during initial load */
.modal-appearance__content:not(.modal-appearance__content--initialized) .modal-appearance__reduced-motion__slider,
.modal-appearance__content:not(.modal-appearance__content--initialized) .modal-appearance__reduced-motion__slider:before {
    transition: none;
  }
  
.modal-appearance__reduced-motion__input:checked + .modal-appearance__reduced-motion__slider {
    background-color: var(--accent-bg-color);
    box-shadow: var(--blue-button-shadow);
  }
  
.modal-appearance__reduced-motion__input:checked + .modal-appearance__reduced-motion__slider:before {
    transform: translateX(8px);
}

@media (max-width: 767px) {
    .modal-appearance__content{
     gap: 10px;
     width: 350px;
    }
    .modal-appearance__choices{
        flex-direction: column;
        justify-content: center;
    }
    .modal-appearance__mid{
        gap: 5px;
    }
    .modal-appearance__bottom{
        gap: 10px;
    }
}
