.sidebar__link {
  text-decoration: none;
  display: flex;
  overflow: hidden;
  gap: 10px;
  white-space: nowrap;
  align-items: center;
  padding: 8px 9px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sidebar__link:hover {
  background-color: var(--hover-fresco-color);
}

.sidebar__link-text{
  color: var(--body-fresco-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-negative);
}