/* Builder Right Panel */
.tw-builder__right-panel{
    background-color: var(--panels-background);
    border-radius: var(--panels-radius);
    border: 1px solid var(--border-fresco-color);
    box-shadow: var(--fancy-shadow);
    height: 100%; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Builder Right Panel Closed State */
.tw-builder__right-panel--closed {
    max-height: 50px;
    height: 50px;
    overflow: hidden;
}
.tw-builder__right-panel--closed .tw-builder__right-body {
    display: none;
}

.tw-builder__right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-fresco-color);
}

.tw-builder__right-body{
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
.tw-builder__right-body-content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px; 
}

/* =======================
   ACCESSIBILITY FOCUS STYLES
   ======================= */

/* Builder Right Panel - accessibility for user and save only */
.builder-user:focus-visible {
  outline: var(--focus-outline-dashed);
  outline-offset: var(--focus-outline-offset-inner); /* inner outline to avoid overflow */
}

