/* Builder Right Panel */
.tw-builder__right-panel{
    background-color: var(--panels-background);
    border-radius: var(--panels-radius);
    border: 1px solid var(--border-light-color);
    box-shadow: 0 2px 4px 0 var(--shadow-light-color);
    padding: 10px;
}

.tw-builder__right-header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}
.prueba{
    width: 10px;
    height: 10px;
    background-color: red;
}