.tw-builder__control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--border-fresco-color);

}


.tw-builder__control-header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    padding: 10px 0;
    
}
.tw-builder__control-label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--label-color);
    letter-spacing: var(--letter-spacing-negative);
}

.tw-builder__control-icon{
    display: none;
    color: var(--label-color);
}
.tw-builder__control-icon--active{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tw-builder__control-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}
.tw-builder__control-info{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--body-light-color);
    font-size: 8px;
    font-weight: 900;
    letter-spacing: var(--letter-spacing-negative);
    border: var(--border-fresco-color);
    border-radius: 2px;
    position: relative;
}

.tw-builder__control-info .tooltip__mask{
    width: 150px;
}

.tw-builder__control-deleter{
    position: absolute;
    right: calc(100% + 1px);
    top: 12%;
    height: 26px;
}
