.modal-checkout{
    width: 800px;
    height: 554px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-checkout__main{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.modal-checkout__main-header{
    width: 100%;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.modal-checkout__main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.modal-checkout__main-content-title{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}
.modal-checkout__main-card{
    width: 66.66%;
    height: 34px;
    border: 1px solid var(--border-fresco-color);
    border-radius: 8px;
    padding: 10px;
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
    background-color: transparent;
    &::placeholder {
        color: var(--offcanvas-billing-color);
    }
}
.modal-checkout__divider{
    width: 1px;
    height: 100%;
    background-color: var(--border-fresco-color);
}
.modal-checkout__aside{
    width: 30%;
    height: 100%;
    padding: 20px;
}
.modal-checkout__aside-title{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}

.modal-checkout .offcanvas-pricing__content-plan{
    padding: 16px 0;
    border: none;
}