/* MODAL */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(22px); /* var(--backdrop-blur) */
  -webkit-backdrop-filter: blur(22px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: rgba(243, 243, 243, 0.85); /* var(--modal-background) */
  padding: 3px;
  border: 1px solid rgba(219, 219, 219, 0.85);
  border-radius: 16px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.modal__header {
  width: 100%;
  height: 50px;
  background: linear-gradient(135deg, #3b5998 30%, #e17055 100%);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
}

.modal__avatar {
  width: 60px;
  height: 60px;
  padding: 7px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  bottom: -27px;
  left: 18px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 38px 22px 22px 22px;
  box-sizing: border-box;
}

.modal__title {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: 18px; /* var(--heading-font-size) */
  color: #000;
}

.modal__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal__input {
  width: 100%;
  padding: 12px 12px;
  border: none;
  border-radius: 6px;
  background: #E2E2E2; /* var(--input-background) */
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 13px;
  font-weight: 500;
  color: #5E5E5E;
  /*transition: border-color 0.2s;*/
}
/*
.modal__input:focus {
  outline: none;
  border-color: #3b5998;
  background: #fff;
}
.modal__input[aria-invalid="true"] {
  border-color: #ef4444;
}
*/
.modal__actions-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.modal__button--save {
  background: var(--btn-bg); /* var(--background-color) */
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(60,60,60,0.10);
}

/* CANCEL AND DELETE BUTTONS */
.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.modal__button--cancel {
  background: transparent;
  color: #5E5E5E;
  border: var(--btn-cdn-border); /* var(--dashed-border) */
  border-radius: 10px;
  padding: 6px 12px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.modal__button--delete {
  background-color: #dc2626;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* >MODAL */