/* Notification Container */
.notification {
  position: fixed;
  top: 50px;
  z-index: 9999;
  max-width: 400px;
  background: var(--accent-bg-color);
  border-radius: 8px;
  box-shadow: var(--notification-box-shadow);
  overflow: hidden;
  width: fit-content;
  
}

/* Position variants */
.notification--top {
  top: 20px;
  display: flex;
  justify-self: center;
  

}

.notification--bottom {
  bottom: 20px;
  top: auto;
  position: fixed;
  display: flex;
  justify-self: center;
}

/* Sidebar open variant - centers notification when sidebar is open on desktop */
.notification--sidebar {
  left: 50%; /* Adjust based on sidebar width */
}

/* Notification Content */
.notification__content {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  justify-content: center;
  width: fit-content;
}

/* Notification Message */
.notification__message {
  font-size: var(--font-size-small);
  color: var(--notification-color);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-negative);
  text-align: center;
}

@media (max-width: 767px) {
    .notification__message{
        font-size: var(--font-size-small);
    }
}
