.modal-support__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.modal:has(.modal-support__content) {
    max-width: 344px;
    max-height: 550px;
}

.modal-support__header {
    height: 49px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--support-header-background);
    border-radius: 14px 14px 0 0;
}

.modal-support__icon {
    width: 15px;
    height: 15px;
}

.modal-support__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.modal-support__top {
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.modal-support__description {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-support__choices {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    position: relative;
}

.modal-support__choice {
    background-color: var(--support-choice-background);
    border: 1.5px solid var(--border-strong-color);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 34px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.modal-support__choice__icon {
    display: none;
}

.modal-support__choice__text {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
}

.modal-support__choice--active {
    color: var(--accent-bg-color);
    border: 1.5px solid var(--accent-bg-color);
}

.modal-support__choice--active .modal-support__choice__icon {
    display: flex;
    position: absolute;
    right: -5px;
    top: -5px;
    color: var(--accent-bg-color);
}

.modal-support__choice--active .modal-support__choice__text {
    color: var(--accent-bg-color);
}

.modal-support__mid {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.modal-support__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.modal-support__input__container {
    position: relative;
    display: flex;
}

.modal-support__input__title {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}

.modal-support__input__field {
    width: 100%;
    height: 34px;
    border: 1px solid var(--border-strong-color);
    border-radius: 8px;
    padding: 10px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
    background: transparent;
}

.modal-support__input__field:focus {
    outline: none;
}

.modal-support__input__field--textarea {
    height: 69px;
    resize: none;
}

.modal-support__dropZone {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 69px;
    border: 2px dashed var(--border-strong-color);
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.modal-support__dropZone__span {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
}

.modal-support__button {
    width: 100%;
    height: 25px;
    border-radius: 8px;
    background-color: var(--accent-bg-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--accent-color);
    cursor: pointer;
    border: none;
    box-shadow: var(--blue-button-shadow);
}

.modal-support__dropZone__icon--none {
    display: none;
}

.modal-support__dropZone__span--none {
    display: none;
}

.modal-support__files__container {
    display: flex;
    overflow: auto;
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--border-strong-color) transparent;
    scrollbar-gutter: stable;
}

.modal-support__files {
    display: flex;
    gap: 5px;
    padding: 5px;
    height: auto;
    cursor: pointer;
    width: 100%;
    justify-content: start;
    align-items: center;

}

.modal-support__file {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
    max-width: 80px;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--border-strong-color);
}

.modal-support__file__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.modal-support__file__remove {
    padding: 0px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    color: var(--warning-color);
    height: 10px;
    width: 10px;
    align-items: center;
}

.modal-support__input--hidden {
    display: none;
}