.modal-support__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    height: 100%;
    max-height: fit-content;
}

.modal:has(.modal-support__content) {
    max-width: 344px;
}

/* Top Section */
.modal-support__header {
    min-height: 49px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--support-header-background);
}

.modal-support__icon {
    width: 15px;
    height: 15px;
}

/* Bottom Section */
.modal-support__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;    
    overflow: auto;
}
.modal-support__form::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.modal-support__form::-webkit-scrollbar-thumb {
    background: var(--body-light-color);
    border-radius: 10px;
}

/* Top Wrapper of the form */
.modal-support__top {
    max-width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.modal-support__description {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}

.modal-support__choices {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    position: relative;
}

.modal-support__choice {
    background-color: var(--support-choice-background);
    border: 1.5px solid var(--border-fresco-color);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 34px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.modal-support__choice-icon {
    display: none;
}

.modal-support__choice-text {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
}

.modal-support__choice--active {
    background: var(--accent-bg-color);
}

.modal-support__choice--active .modal-support__choice-icon {
    display: flex;
    position: absolute;
    right: -5px;
    top: -5px;
    color: var(--accent-bg-color);
}

.modal-support__choice--active .modal-support__choice-text {
    color: #FFFFFF;
}

.modal-support__mid {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.modal-support__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.modal-support__input-container {
    position: relative;
    display: flex;
}

.modal-support__input-title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}

.modal-support__input-field {
    width: 100%;
    height: 34px;
    border: 1px solid var(--border-fresco-color);
    border-radius: 8px;
    padding: 10px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
    background: transparent;
}

.modal-support__input-field:focus {
    outline: none;
}

.modal-support__input-field--textarea {
    height: 69px;
    resize: none;
}

/* Bottom wrapper of the form */
.modal-support__bottom {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    min-height: 69px;
    border: 2px dashed var(--border-fresco-color);
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.modal-support__bottom-span {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
}

.modal-support__bottom-icon--none {
    display: none;
}

.modal-support__bottom-span--none {
    display: none;
}

.modal-support__files__container {
    display: flex;
    overflow: auto;
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--border-fresco-color) transparent;
}

.modal-support__files {
    display: flex;
    gap: 5px;
    padding: 5px;
    height: auto;
    cursor: pointer;
    width: 100%;
    justify-content: start;
    align-items: center;

}

.modal-support__file {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
    max-width: 80px;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--border-fresco-color);
}

.modal-support__file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.modal-support__file-remove {
    padding: 0px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    color: var(--warning-color);
    height: 10px;
    width: 10px;
    align-items: center;
}

.modal-support__input--hidden {
    display: none;
}

.modal-support__button {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    background-color: var(--accent-bg-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--accent-color);
    cursor: pointer;
    border: none;
    box-shadow: var(--blue-button-shadow);
}

/* Warning styles for inputs */
.modal-support__input-container .modal-support__input-field--warning {
    border: 1px solid var(--warning-color);
    background-color: var(--hover-warning-color);
    color: var(--warning-color);
}

.modal-support__input-container .modal-support__input-field--warning::placeholder {
    color: var(--warning-color);
}

.modal-support__choices .modal-support__choice--warning {
    border: 1.5px solid var(--warning-color);
    background-color: var(--hover-warning-color);
}

.modal-support__choices .modal-support__choice--warning .modal-support__choice-text {
    color: var(--warning-color);
}