.app-container {
  width: 100%;
  min-height: 100svh;
  background-color: var(--sidebar-background);
}
@media (max-width: 767px) {
  body{
    overflow-x: hidden;
  } 
  .app-container{
    width: 100vw;
    background-color: transparent;
  }
}

.content__container {
    display: flex;
    background-color: var(--content-background);
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--border-fresco-color);
    top: 20px;
    min-height: calc(100vh - 40px);
    width: calc(100vw - 90px);
    height: fit-content;
    padding: 0px;
    left: var(--sidebar-width-close);
    position: relative;
    overflow-x: hidden;
      
  }
  .open{
    left: var(--sidebar-width-open);
    width: calc(100vw - 220px);
   
  
  } 
  

  @media (max-width: 767px) {
      
  .content__container {
    width: calc(100vw - 0px);
    min-height: calc(100vh - 0px);
    left: 0px;
    top: 0px;
    border: 0px;
    border-radius: 0px;
    
  }
  .open{
    left: 0px;
    width: 100%;
  }
}