.content__container {
    display: flex;
    background-color: var(--content-backgroundcolor);
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #E0E0E0;
    top: 20px;
    min-height: calc(100vh - 40px);
    width: calc(100vw - 90px);
    height: fit-content;
    padding: 0px;
    left: var(--sidebar-width-close);
    position: relative;
    overflow-x: hidden;
    z-index: 1;
      
  }
  .open{
    left: var(--sidebar-width-open);
    width: calc(100vw - 220px);
   
  
  } 
  

  @media (max-width: 767px) {
      
  .content__container {
    width: calc(100vw - 0px);
    min-height: calc(100vh - 0px);
    left: 0px;
    top: 0px;
    border: 0px;
    border-radius: 0px;
    
  }
  .open{
    left: 0px;
    width: 100%;
  }
}