@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  font-family: 'Inter', sans-serif;
}

:root {
  --root-backgroundcolor: rgba(245, 245, 245, 1);
  --content-backgroundcolor: #fff;
  --font-weight: 500;
  --letter-spacing-negative: -0.03em;
  --letter-spacing-positive: 0.03em;
  --background-color-blue: #0099FE;
  --background-color-black: #191919;
  --border-color: #E0E0E0;
  --font-size-small: 10px;
  --font-size-medium: 12px;
  --sidebar-icon-size: 16px;
  --sidebar-width-open: 200px;
  --sidebar-width-close: 70px;
  



  --letter-spacing: -0.03em;




  --dashed-border: 2px dashed #E3E3E3;
  --font-size-btn: 14px;
  --btn-bg-hover: #1769aa;
  --font-size-name: 20px;
  --font-size-domain: 12px;
  --backdrop-blur: 20px;
  --modal-background: rgba(243, 243, 243, 0.85);
  --heading-font-size: 18px;
  --input-background: #ffffff;
  --input-color: #686B74;
  --input-padding: 12px;
  --avatar-background: #fff;
  --dashed-btn-color: #5E5E5E;
  --dashed-btn-background: #F7F7F7;
}

#root {
  width: 100%;
  min-height: 100svh;
  background-color: var(--root-backgroundcolor);
}




 
  
@media (max-width: 767px) {

  body{
    overflow-x: hidden;
  } 
  #root{
    width: 100vw;
    background-color: transparent;
    

  }

}
  
   


  
  
  
  
  