.scan__progress-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.scan__progress-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.scan__progress-text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-semistrong-color);
}

.scan__progress-icon {
  color: var(--body-semistrong-color);
}

.scan__progress-bar {
  position: relative;
  width: 165px;
  height: 11px;
  background: var(--border-fresco-color);
  border-radius: 7px;
  border: 2px solid var(--content-background);
  overflow: hidden;
  box-sizing: border-box;
}

.scan__progress-bar-background {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: var(--content-background);
  border-radius: 5px;
  z-index: 1;
}

.scan__progress-bar-inner {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  overflow: hidden;
  border-radius: 5px;
  background: none;
  z-index: 2;
}

.scan__progress-bar-fill {
  width: 100%;
  height: 100%;
  background: var(--accent-bg-color);
  border-radius: 5px;
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(.4,1.3,.6,1);
}

/* Button Progress bar */
.scan-bar-background {
  background: var(--content-background);
  border-radius: 999px;
  width: 24px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan-bar-track {
  border-radius: 999px;
  width: 20px;
  height: 2px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.scan-bar-fill {
  background: var(--accent-bg-color);
  border-radius: 999px;
  height: 100%;
  transition: width 0.3s cubic-bezier(.4,1.3,.6,1);
  position: absolute;
  left: 0;
  top: 0;
}

