.modal-change__content {
  box-shadow: 0 4px 20px var(--shadow-strong-color);
  background-color: var(--modal-background);
  border-radius: 16px;

  max-width: 372px;
  max-height: 80vh;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-change__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 5px 15px;
}

.modal-change__title {
  font-size: var(--font-size-small);
  color: var(--body-fresco-color);
  letter-spacing: var(--letter-spacing-negative);
  font-weight: var(--font-weight);
}

.modal-change__divider {
  height: 1px;
  background: var(--border-strong-color);
  margin: 4px 0;
  width: 100%;
  border: none;
}

.modal-change__body {
  padding: 5px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 331px;
  overflow: auto;
}
.modal-change__body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.modal-change__body::-webkit-scrollbar-thumb {
  background: var(--body-light-color);
  border-radius: 10px;
}

/* Input wrapper */
.modal-change__input-wrapper {
  position: relative;
  display: flex;
}

.modal-change__input {
  border: 1px solid var(--border-strong-color);
  background: transparent;
  height: 34px;
  border-radius: 8px;
  padding: 15px;
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-fresco-color);
  font-weight: var(--font-weight);
  width: 100%;
}
.modal-change__input:focus {
  outline: none;
}
.modal-change__input::placeholder {
  color: var(--body-light-color);
}

/* Bottom wrapper */
.modal-change__actions {
  padding: 0 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.modal-change__actions--right {
  justify-content: flex-end;
}

/* link of forgot password? */
.modal-change__forgot {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--accent-bg-color);
  text-decoration: none;
}

/* Save button */
.modal-change__button {
    width: 43px;
    height: 26px;
    background: var(--accent-bg-color);
    border: none;
    border-radius: 8px;
    letter-spacing: var(--letter-spacing-negative);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    color: var(--accent-color);
    cursor: pointer;
    box-shadow: var(--blue-button-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-change__advice {
  font-size: var(--font-size-mini);
  color: var(--body-fresco-color);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  margin-bottom: 5px;
}


@media (max-width: 767px) {
  .modal-change__content {
    min-width: 330px;
    max-width: 400px;
  }
}

/* Warning styles for inputs */
.modal-change__input-wrapper .modal-change__input--warning {
    border: 1px solid var(--warning-color);
    background-color: var(--hover-warning-color);
    color: var(--warning-color);
}

.modal-change__input-wrapper .modal-change__input--warning::placeholder {
    color: var(--warning-color);
}
