.scanner__wrapper {
  width: 100%;
  max-width: 900px;
  padding: 50px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.scanner__top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scanner__header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.scanner__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-semistrong-color);
}

.scanner__paragraph {
  font-size: 12px;
  font-weight: 500;
  color: var(--body-fresco-color);
  letter-spacing: var(--letter-spacing-negative);
  max-width: 250px;
}

.scanner__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scanner__scan {
  background: var(--accent-bg-color);
  color: var(--accent-color);
  box-shadow: var(--blue-button-shadow);
  border: none;
  border-radius: 8px;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-negative);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scanner__monthly {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  min-width: 165px;
}

.scanner__monthly-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.scanner__monthly-label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-fresco-color);
}
.scanner__monthly-count {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-semistrong-color);
}
.scanner__progress-bar {
  position: relative;
  width: 100%;
  height: 11px;
  background: var(--content-background);
  border-radius: 7px;
  border: 2px solid var(--border-fresco-color);
  padding: 2px 0;
  overflow: hidden;
  box-sizing: border-box;
}

.scanner__progress-bar-background {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: var(--wrappers-fresco-color);
  border-radius: 5px;
}

.scanner__progress-bar-inner {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  height: auto;
  background: var(--accent-bg-color);
  border-radius: 3px;
  transition: width 0.3s cubic-bezier(.4,1.3,.6,1);
  width: 0;
}

.scanner__main-box {
  background: var(--wrappers-fresco-color);
  border-radius: 16px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scanner__main-box-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.scanner__main-box-text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-fresco-color);
}

.scanner__card {
  position: relative;
  width: 100%;
  background: var(--content-background);
  border: 1px solid var(--border-fresco-color);
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px var(--shadow-strong-color);
}

.scanner__card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.scanner__card-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-semistrong-color);
}

.scanner__card-scripts-count {
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: 10px;
  color: var(--body-light-color);;
  font-weight: 700;
  letter-spacing: var(--letter-spacing-negative);
  background: var(--wrappers-fresco-color);
  border-radius: 4px;
  padding: 3px;
}

.scanner__card-divider {
  width: 100%;
  height: 1px;
  background: #ececec;
  margin: 0 0 4px 0;
  border-radius: 1px;
}

.scanner__card-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.scanner__card-table-header,
.scanner__card-table-content {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr;
  align-items: center;
  font-size: 13px;
}

.scanner__card-table-title {
  font-weight: 600;
  font-size: 12px;
  color: var(--body-fresco-color);
  letter-spacing: var(--letter-spacing-negative);
  display: flex;
  gap: 5px;
}

.scanner__card-table-script {
  font-size: 12px;
  font-weight: 500;
  color: var(--body-fresco-color);
  letter-spacing: var(--letter-spacing-negative);
}

.scanner__card-status--tracked {
  color: var(--accent-bg-color);
  font-weight: 600;
}
.scanner__card-status--untracked {
  color: var(--warning-color);
  font-weight: 600;
}
