.profileDropdown{
    display: block; 
    align-items: center;
    justify-content: space-between;
    transition: all 0.8s ease;
    width: 100%;
  }

    .profileDropdown--open{
      height: 40px;
      position: relative;
    } 

  .profileDropdown--mobile{
    height: 40px;
    position: relative;
  }

  .profileDropdown__profile{
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--sidebar-transition);
    flex-direction: row;
  }

  .profileDropdown__profile--open{
    padding: 8px;
    transition: all 0.6s ease;
  }

  .profileDropdown__profile--mobile{
    padding: 8px;
    transition: all 0.6s ease;
  }

  .profileDropdown__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .profileDropdown__avatar{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--border-strong-color);
    padding: 2px;
  }

  .profileDropdown__avatar--null{
    display: none;
  }

  .profileDropdown__color{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--border-strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--avatar-color);
    background-color: var(--avatar-background);
    text-transform: uppercase;
  }

  .profileDropdown__color--null{
    display: none;
  }
  
  .profileDropdown__name{
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    color: var(--sidebar-items-color);
    letter-spacing: var(--letter-spacing-negative);
    display: none;
  }

  .profileDropdown__name--open{
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    display: block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .profileDropdown__name--mobile{
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    display: block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .profileDropdown__icons{
    display: none;
  }

  .profileDropdown__icons--open{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: var(--icons-fresco-color);
  }

  .profileDropdown__icons--mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: var(--icons-fresco-color);
  }
  .profileDropdown__icons--down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--icons-fresco-color);
    transition: all 0.6s ease;
  }

  .profileDropdown__icons--up{
    display: none;
    transition: all 0.6s ease;
  }

  .profileDropdown--open:hover .profileDropdown__icons--up{
    display: flex;
    
  }
  
  .profileDropdown--mobile:hover .profileDropdown__icons--up{
    display: flex;
    
  }


  .profileDropdown--open:hover .profileDropdown__icons--down{
    display: none;
   
  }
  .profileDropdown--mobile:hover .profileDropdown__icons--down{
    display: none;
   
  }

  .profileDropdown--open:hover .profileDropdown__profile--open{
    background-color: var(--hover-fresco-color);
  }

  .profileDropdown--mobile:hover .profileDropdown__profile--mobile{
    background-color: var(--hover-fresco-color);
  }

  @media (max-width: 767px) {
  .profileDropdown__header__name--mobile{
    max-width: 350px;
  }
  .profileDropdown__name{
    display: block;
  }

}

@media (max-width: 467px) {
  .profileDropdown__header__name--mobile{
    max-width: 160px;
  }
}


 