.tw-builder__canvas *{
    cursor: default;
}
.tw-builder__active{
    outline: 1px solid #0099FE !important;
    outline-offset: -1px !important;
}
#tw-root--banner,
#tw-root--modal{
    height: 100%;
    min-height: fit-content;
}
#tw-root--banner:not(.tw-active-root),
#tw-root--modal:not(.tw-active-root){
    display: none;
}

/*Drop indicator*/
.tw-builder__canvas .tw-builder__drop-indicator {
    background-color: var(--drop-indicator-color);
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: relative;

    height: 1px;
    width: 100%;
}
.tw-builder__canvas .tw-block--hover-drop {
    outline: 1px dashed var(--drop-indicator-color);
    outline-offset: -1px;
    background-color: var(--drop-indicator-background);
}