.tw-builder__canvas *{
    cursor: default;
}
.tw-builder__active:not(#tw-root--banner, #tw-root--modal){
    outline: 1px solid #0099FE;
    outline-offset: -1px;
}
#tw-root--banner,
#tw-root--modal{
    height: 100%;
}
#tw-root--banner:not(.tw-active-root),
#tw-root--modal:not(.tw-active-root){
    display: none;
}

/*Drop indicator*/
.tw-builder__canvas .tw-builder__drop-indicator {
    background-color: #0099FE;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: relative;

    height: 1px;
    width: 100%;
}
.tw-builder__canvas .tw-block--hover-drop {
    outline: 1px dashed #0099FE;
    outline-offset: -1px;
    background-color: #0099FE15;
}