.modalChange {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  border-radius: 16px;
}

.modalChange__content {
  background-color: white;
  border-radius: 16px;
  min-width: 400px;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalChange__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 5px;
}

.modalChange__title {
  font-size: var(--font-size-medium);
  color: rgba(72, 72, 72, 1);
  letter-spacing: var(--letter-spacing-negative);
  font-weight: 600;
}

.modalChange__divider {
    height: 0.8px;
    background: rgba(224, 224, 224, 1);
    margin: 4px 0;
    width: 100%;
    border: none;
}
.modalChange__body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5px;
}
.modalChange__input {
  border: var(--border);
  height: 34px;
  border-radius: 8px;
  padding: 15px;
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing-negative);
  color: rgba(104, 107, 116, 1);
  font-weight: var(--font-weight);
  width: 100%;
}
.modalChange__input:focus {
  outline: none;
}
.modalChange__input::placeholder {
  color: rgba(160, 160, 160, 1);
}
.modalChange__actions {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 0px;
}
.modalChange__forgot {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--background-color-blue);
  text-decoration: none;
}
.modalChange__forgot:hover {
  color: rgb(2, 124, 206);
  transition: all 0.3s ease;
}
.modalChange__button {
    width: 43px;
    height: 26px;
    background: var(--background-color-blue);
    border: none;
    border-radius: 8px;
    letter-spacing: var(--letter-spacing-negative);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: #FFF;
    cursor: pointer;
    box-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalChange__input__wrapper {
  position: relative;
}