.modalChange {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  border-radius: 16px;
}

.modalChange__content {
  background-color: var(--modal-background);
  border-radius: 16px;
  min-width: 400px;
  max-width: 500px;
  box-shadow: 0 4px 20px var(--shadow-strong-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalChange__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 5px;
}

.modalChange__title {
  font-size: var(--font-size-medium);
  color: var(--body-fresco-color);
  letter-spacing: var(--letter-spacing-negative);
  font-weight: 600;
}

.modalChange__divider {
    height: 0.8px;
    background: var(--border-strong-color);
    margin: 4px 0;
    width: 100%;
    border: none;
}
.modalChange__body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5px;
}
.modalChange__input {
  border: 1px solid var(--border-strong-color);
  background: transparent;
  height: 34px;
  border-radius: 8px;
  padding: 15px;
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-fresco-color);
  font-weight: var(--font-weight);
  width: 100%;
}
.modalChange__input:focus {
  outline: none;
}
.modalChange__input::placeholder {
  color: var(--body-light-color);
}
.modalChange__actions {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 0px;
}
.modalChange__forgot {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--accent-bg-color);
  text-decoration: none;
}
.modalChange__button {
    width: 43px;
    height: 26px;
    background: var(--accent-bg-color);
    border: none;
    border-radius: 8px;
    letter-spacing: var(--letter-spacing-negative);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--accent-color);
    cursor: pointer;
    box-shadow: var(--blue-button-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalChange__input__wrapper {
  position: relative;
}


@media (max-width: 767px) {
    .modalChange__content {
        min-width: 300px;
        max-width: 400px;
    }
}
