.sidebar__sites-tooltip-wrapper{
    position: relative;
    width: 100%;
}

.sidebar__sites-tooltip-wrapper--open{
    position: static;
}


.sidebarSites__site{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid transparent;
    gap: 10px;
    padding: 4.5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sidebarSites__site--open{
        overflow: visible;
    }

    
.sidebarSites__site:hover{
    background-color: var(--hover-fresco-color);
}

.sidebarSites__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebarSites__edit{
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s ease;
    margin-right: 10px;
    height: 15px;
    color: var(--icons-fresco-color);
}   
.sidebarSites__site--open:hover .sidebarSites__edit{
    opacity: 1;
    transition: opacity 0.3s ease;
    height: 15px;
}

.sidebarSites__header-avatar-img{
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--logo-background);
    padding: 2px;
border: 1px solid var(--border-strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--shadow-fresco-color);
    
}



.tooltip--sidebar{
   display: none;
}

.sidebar__sites-tooltip-wrapper:hover .tooltip--sidebar{
    display: block;
}

.sidebarSites__header-name{
    text-overflow: ellipsis;
    max-width: 94px;
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    
    color: var(--body-strong-color);
}

.sidebarSites__header-name-input{
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
}
@media (max-width: 767px) {
    .sidebarSites__header-name{
        max-width: 320px;
        
    }
}

@media (max-width: 480px) {
    .sidebarSites__header-name{
        max-width: 160px;
    }
}

