.sidebar__sites-tooltip-wrapper{
    width: 100%;
    display: flex;
}

.sidebar-sites__site{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid transparent;
    gap: 10px;
    padding: 6px;
    padding-right: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sidebar--open .sidebar-sites__site{
    overflow: visible;
    width: 100%;
}

.sidebar--menu .sidebar-sites__site{
    overflow: visible;
    width: 100%;
}

.sidebar-sites__site:hover,
.sidebar-sites__site:focus,
.sidebar-sites__site--child-focused{
    background-color: var(--hover-fresco-color);
}

/* Icon and text*/
.sidebar-sites__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

/* Edit button (dots) */
.sidebar-sites__edit{
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s ease;
    margin-right: 10px;
    height: 15px;
    color: var(--icons-fresco-color);
}   

.sidebar--open .sidebar-sites__site:hover .sidebar-sites__edit,
.sidebar--open .sidebar-sites__site:focus .sidebar-sites__edit,
.sidebar--open .sidebar-sites__site--child-focused .sidebar-sites__edit,
.sidebar--open .sidebar-sites__site--dropdown-open .sidebar-sites__edit{
    opacity: 1;
    height: 15px;
}

.sidebar--menu .sidebar-sites__site:hover .sidebar-sites__edit,
.sidebar--menu .sidebar-sites__site:focus .sidebar-sites__edit,
.sidebar--menu .sidebar-sites__site--child-focused .sidebar-sites__edit,
.sidebar--menu .sidebar-sites__site--dropdown-open .sidebar-sites__edit{
    opacity: 1;
    height: 15px;
}

/* Avatar */
.sidebar-sites__avatar{
    border-radius: 10px;
    background-color: var(--logo-background);

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 22px;
    height: 22px;
}
.sidebar-sites__color{
    position: absolute;
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
}

.sidebar-sites__color--null{
    display: none;
}
.sidebar-sites__img{
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--logo-background);
    padding: 3px;
    border: 1px solid var(--border-strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--fancy-shadow);
}
.sidebar-sites__img--null{
    display: none;
}

.sidebar-sites__name{
    text-overflow: ellipsis;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
}

@media (max-width: 767px) {
    .sidebar-sites__name{
        max-width: 320px;
    }
}

@media (max-width: 480px) {
    .sidebar-sites__name{
        max-width: 160px;
    }
}
