.sidebar__sites-tooltip-wrapper{
    width: 100%;
    display: flex;
}

.sidebarSites__site{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid transparent;
    gap: 10px;
    padding: 6px;
    padding-right: 0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sidebar--open .sidebarSites__site{
    overflow: visible;
    width: 100%;
}

.sidebar--menu .sidebarSites__site{
    overflow: visible;
    width: 100%;
}

.sidebarSites__site:hover{
    background-color: var(--hover-fresco-color);
}

.sidebarSites__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebarSites__edit{
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s ease;
    margin-right: 10px;
    height: 15px;
    color: var(--icons-fresco-color);
}   

.sidebar--open .sidebarSites__site:hover .sidebarSites__edit{
    opacity: 1;
    height: 15px;
}

.sidebar--menu .sidebarSites__site:hover .sidebarSites__edit{
    opacity: 1;
    height: 15px;
}

.sidebarSites__img{
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--logo-background);
    padding: 3px;
    border: 1px solid var(--border-strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--shadow-fresco-color);
}

.sidebarSites__img--null{
    display: none;
}

.sidebarSites__color{
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--logo-background);
    border: 1px solid var(--border-strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--shadow-fresco-color);
    font-size: var(--font-size-mini);
    font-weight: 500;
    padding-left: 1px;
    padding-top: 1px;
    text-transform: uppercase;
}

.sidebarSites__color--null{
    display: none;
}

.sidebarSites__name{
    text-overflow: ellipsis;
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}

.sidebarSites__input{
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
}

@media (max-width: 767px) {
    .sidebarSites__name{
        max-width: 320px;
    }
}

@media (max-width: 480px) {
    .sidebarSites__name{
        max-width: 160px;
    }
}
