.tw-categories__expander-checkbox{
    position: relative;
    display: flex;
    align-items: center;

    width: 26px;
    height: 16px;
    border-radius: 100px;

    background-color: var(--disabled-color);
    transition: background var(--transition-duration) var(--transition-easing);
}
.tw-categories__expander-input--category{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    cursor: pointer;
}
.tw-categories__expander-switch{
    position: absolute;
    z-index: 1;

    left: var(--switch-spacing);
    top: var(--switch-spacing);
    width: var(--switch-size);
    height: var(--switch-size);
    background: var(--switch-background);
    border-radius: var(--switch-radius);
    box-shadow: var(--switch-shadow);
    transition: left var(--switch-duration);
}
.tw-categories__expander-checkbox:has(input:checked) {
    background: var(--enabled-color) !important;
}
.tw-categories__expander-checkbox input:checked + span {
    left: var(--checked-left) !important;
}