/*
   =======================
       UNDERLINE HOVER
   =======================
*/
.tw-underline-hover {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.tw-underline-hover::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1px;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  background: #ffffff;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  -o-transition: -o-transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  -moz-transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), -moz-transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), -webkit-transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), -moz-transform 0.7s cubic-bezier(0.16, 1, 0.3, 1), -o-transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}

.tw-underline-hover:hover::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  transition-delay: unset;
  -webkit-transition-delay: unset;
  -o-transition-delay: unset;
  -moz-transition-delay: unset;
}

/* Variante para color azul */
.tw-underline-hover--blue::before {
  background-color: var(--website-accent-color);
}

