.modalUser{
    display: flex;
    flex-direction: row;
    height: 362px;
    max-width: 800px;
    gap: 5px;
}
.modalUser--upgrade{
    height: 493px;
}
.modalUser__aside{
    display: flex;
    flex-direction: column;
    height: 362px;
    width: 157px;
    height: 100%;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 16px 0px 0px 16px;
    padding: 15px;
}
.modalUser__settings{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.modalUser__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 26px;
    padding: 0 10px;

}
.modalUser__item--active{
    background-color: rgba(227, 227, 227, 1);
    border-radius: 8px;
}
.modalUser__item:hover{
    background-color: rgba(227, 227, 227, 1);
    border-radius: 8px;
    cursor: pointer;
}
.modalUser__item__span{
    color: rgba(72, 72, 72, 1);
    font-size: var(--font-size-medium);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-negative);
}
.modalUser__item__span--upgrade{
    color: var(--background-color-blue);
    white-space: nowrap;
}
.modalUser__item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalUser__setting{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 16px 16px 0px;
    align-items: center;
   
}
.modalUser__divider{
    height: 0.8px;
    background: rgba(224, 224, 224, 1);
    width: 100%;
    border: none;
}
.modalUser__item--upgrade{
    padding-right: 25px;
}

@media (max-width: 768px) {
    .modalUser{
        height: 700px;
    }
    
}
