.scriptCopy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    background-color: var(--view-toggle-background);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);

}

.scriptCopy__script {
    font-size: var(--font-size-medium);
    font-weight: 500;
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}
