.scriptCopy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    background-color: var(--view-toggle-background);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);

}

.scriptCopy__script {
    font-size: var(--font-size-medium);
    font-weight: 500;
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
    max-width: 540px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.scriptCopy__copy {
    cursor: pointer;
}

@media (max-width: 767px) {
    .scriptCopy__script {
        max-width: 480px;
    }
    .scriptCopy__copy{
        width: 40px;
    }
}