/*Adapt each page container width to installation first*/
.home:has(> .home__installation-container),
.usage:has(> .home__installation-container),
.scanner:has(> .home__installation-container),
.integrations:has(> .home__installation-container),
.proof-of-consent:has(> .home__installation-container){
    max-width: 992px;
    width: 100%;

    height: fit-content;
    min-height: fit-content;
    max-height: fit-content;

    gap: 15px;
    padding: 20px;
}

/* Verify button */
.home__verify{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--accent-bg-color);
    box-shadow: var(--blue-button-shadow);
    padding: 6px 10px;
}
.home__verify-text{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--accent-color);
}

/* Installation container */
.home__installation-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;  
    border-radius: 16px;
    border: 1px solid var(--border-fresco-color);
    box-shadow: var(--fancy-shadow);
    margin-top: 30px;
    background: var(--installation-background);
}
.home__installation-container--installed{
    border: none;
    box-shadow: none;
    max-width: 600px;
    margin-top: 0;
    background: unset;
}

.home__installation-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.home__installation-title{
    font-size: var(--font-heading);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}

.home__installation-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.home__paste{
    margin-top: 10px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
}

.home__divider{
    width: 100%;
    height: 1px;
    background-color: var(--border-strong-color);
}

/* Header content Cards container */
.home__cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    
}
.home__card{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(90deg, #337aca, #b02c47);
    border-radius: 8px;
    padding: 15px 20px;
    padding-bottom: 30px;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    
}
.home__card--reverse{
    background: linear-gradient(90deg, #b02c47, #337aca);
}
.home__card-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home__card-title{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--home-subtitle-color);
}
.home__card-text{
    font-size: var(--font-size-small);
    font-weight: 400;
    letter-spacing: var(--letter-spacing-negative);
    max-width: 200px;
    height: 30px;
    color: var(--home-text-color);
}
.home__card-svg-container{
    height:100%;
    width: 121px;
    position: relative;    
}
.home__card-svg{
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1010px) {
    .home__cards{
        flex-direction: column;
    }

    .home__installation-container{
        width: 100%;
    }
}

