@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.03em;
}
html.trustwards-login{
    padding: 0;
}
[tw-login-flickering="true"]{
    opacity: 0;
}
.tw-login{
    transition: opacity 0.2s ease-in-out;
}

/*
Light selected: use root
Dark selected: use html[data-theme="dark"]
System selected: will fallback to root or html[data-theme="dark"]
*/
:root{
    --login-background: #FFFFFF;
    --login-title-color: #232323;
    --login-text-color: #444;

    --login-email-background: #FFFFFF;
    --login-email-text-color: #333333;
    --login-email-border: 1px solid #E1E6F9;
    --login-email-box-shadow: 0px 4px 8px 0px rgba(0, 17, 119, 0.025), 0px 8px 20px 0px rgba(0, 17, 119, 0.025);

    --login-or-color: #444;
    --login-or-divider-color: #CCC;

    --login-continue-with-background: #EEEEEE;
    --login-continue-with-text-color: #444;

    --login-sent-email-background: #FFF;
    --login-sent-email-border-color: #E1E6F9;
    --login-sent-email-box-shadow: 0px 4px 8px 0px rgba(0, 17, 119, 0.025), 0px 8px 20px 0px rgba(0, 17, 119, 0.025);
    --login-sent-email-title-color: #232323;
    --login-sent-email-text-color: #444;
    --login-sent-email-link-color: #0099FE;

    --login-sent-email-icon-fill: #FFF;
    --login-sent-email-icon-stroke: #aaa;

    --login-error-color: #D00606;
}
.tw-login__logo{
    background: url('/assets/logo-light-mode.svg');
    background-size: cover;
    width: 30px;
    height: 22px;

    margin-bottom: 10px;
}
html[data-theme="dark"]{
    --login-background: #282828;
    --login-title-color: #FFFFFF;
    --login-text-color: #CCCCCC;

    --login-email-background: #363636;
    --login-email-text-color: #FFFFFF;
    --login-email-border: unset;
    --login-email-box-shadow: 0 1px 2px #0d131e1a;

    --login-or-color: #CCC;
    --login-or-divider-color: #444;

    --login-continue-with-background: #363636;
    --login-continue-with-text-color: #F5F5F5;

    --login-sent-email-background: #36363650;
    --login-sent-email-border-color: #363636;
    --login-sent-email-box-shadow: unset;
    --login-sent-email-title-color: #FFFFFF;
    --login-sent-email-text-color: #CCCCCC;

    --login-sent-email-icon-fill: #333333;
    --login-sent-email-icon-stroke: #999;
}
html[data-theme="dark"] .tw-login__logo{
    background: url('/assets/logo-dark-mode.svg');
    background-size: cover;
    width: 30px;
    height: 22px;

    margin-bottom: 10px;
}

/* Login Wrappers */
.tw-login{
    background: var(--login-background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;

    position: relative;
    padding: 50px 20px;
}
.tw-login__content{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 1;

    max-width: 253px;
}

/* Top Content */
.tw-login__top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.tw-login__title{
    background: linear-gradient(90deg, var(--login-title-color) 75%, #0099FE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 23px;
    font-weight: 700;

    text-align: center;
}
.tw-login__text{
    font-size: 14px;
    font-weight: 500;
    color: var(--login-text-color);

    text-align: center;
}

/* Form */
.tw-login__form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    margin-top: 25px;
}
.tw-login__email{
    outline: unset;
    border: unset;

    border: var(--login-email-border);
    box-shadow: var(--login-email-box-shadow);
    background: var(--login-email-background) !important;
    padding: 10px 12px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    color: var(--login-email-text-color);

    transition-delay: calc(infinity * 1s);
}
.tw-login__email::placeholder{
    color: var(--login-email-text-color);
}
.tw-login__continue{
    outline: unset;
    border: unset;

    box-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
    background: #11A8FF;

    padding: 10px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

/* or separator */
.tw-login__or-separator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    width: 100%;
}
.tw-login__or-separator-container::before,
.tw-login__or-separator-container::after{
    content: '';
    display: block;

    width: 100%;
    max-width: 60px;
    height: 1px;

    background: var(--login-or-divider-color);
}
.tw-login__or-separator{
    font-size: 14px;
    font-weight: 500;
    color: var(--login-or-color);

    margin: 10px 0;
}

/* Continue with Google */
.tw-login__continue-with{
    outline: unset;
    border: unset;

    padding: 10px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    color: var(--login-continue-with-text-color);
    background: var(--login-continue-with-background);
    cursor: pointer;

    width: 100%;
}
.tw-login__continue-with--github{
    margin-top: 10px;
}

/* Blurs */
.tw-login__blur{
    position: absolute;
    left: 0;
    bottom: 0;

    background: url('/assets/login-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100%;
    width: 100%;
}

/* Sent email */
.tw-login__sent-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    border: 1px solid var(--login-sent-email-border-color);
    background: var(--login-sent-email-background);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: var(--login-sent-email-box-shadow);

    padding: 25px;
    border-radius: 16px;

    width: 100%;
    max-width: 350px;

    position: relative;
    z-index: 1;

    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.tw-login__sent-email-icon{
    margin-bottom: 5px;
}
.tw-login__sent-email-icon path{
    fill: var(--login-sent-email-icon-fill);
    stroke: var(--login-sent-email-icon-stroke);
}

.tw-login__sent-email-title{
    font-size: 18px;
    font-weight: 700;
    color: var(--login-sent-email-title-color);
    text-align: center;
}
.tw-login__sent-email-text{
    font-size: 14px;
    font-weight: 500;
    color: var(--login-sent-email-text-color);
    text-align: center;
    line-height: 1.5;
}
.tw-login__sent-email-link{
    color: var(--login-sent-email-link-color);
    cursor: pointer;
}

/* Error */
.tw-login__error{
    margin-top: 10px;

    font-size: 14px;
    font-weight: 500;
    color: var(--login-error-color);
    text-align: center;
}