/* SITES */
.sites__wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  background-color: #ffffff;
}

.sites__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  width: 100%;
}

/* HEADER */
.sites__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sites__title {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
  margin: 0;
}

/* Header buttons */
.sites__header-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sites__view-button,
.sites__sort-button {
  padding: 6px;
  background-color: #F7F7F7;
  color: #5E5E5E;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 14px;
  font-weight: 500;
  border: var(--dashed-border);
  border-radius: 8px;
  cursor: pointer;
}

.sites__new-button {
  padding: 7px;
  background-color: var(--background-color-blue);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.sites__new-button:hover {
  background-color: var(--btn-bg-hover);
}

/* SITES */