/* SITES */
.open{
  left: var(--sidebar-width-open);
  width: calc(100vw - 220px);

} 
.sites__wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0 auto;
  background-color: #ffffff;
  max-height: calc(100vh - 40px);
  padding-top: 60px;
}

.sites__welcome {
  font-size: 1.5rem;
  font-weight: 600;
}

.sites__top-card {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
  min-height: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.sites__top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}
.sites__top-left {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.sites__top-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 17px;
}

/* Legacy */
.sites__top-card--legacy {
  background: linear-gradient(180deg, #0099FE -22.03%, #1AE8FF 112.81%);
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.sites__top-card--legacy .sites__legacy-svg {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  object-fit: contain;
}

/* Trustwards */
.sites__top-card--trustwards {
  background: linear-gradient(355deg, #009AFF -24.13%, #000 67.45%);
  position: relative;
  display: flex;

}
.sites__top-card--trustwards .sites__trustwards-svg {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 125px;
  height: auto;
}
.sites__top-card--trustwards .sites__top-card-text {
  color: #FFFFFFB2;
  max-width: 100%;
}

/* News */
.sites__top-card--news {
  background: linear-gradient(355deg, #009AFF -24.13%, #000 67.45%);
  position: relative;
  display: flex;
  grid-row: span 2;
  overflow: hidden;
}
.sites__top-card--news .sites__news-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.sites__top-card--news .sites__news-img {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.sites__top-card--news .sites__top-card-text {
  color: #FFFFFFB2;
  max-width: 80%;
}

/* Changelog */
.sites__top-card--changelog {
  background: linear-gradient(119deg, #A100FF -11.71%, #FAEDFF 117.26%);
  position: relative;
  display: flex;

}
.sites__top-card--changelog .sites__changelog-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
  pointer-events: none;
}
.sites__top-card--changelog .sites__top-card-text {
  color: #FFFFFFB2;
}

/* Builder */
.sites__top-card--builder {
  background: linear-gradient(119deg, #A100FF -11.71%, #FF681A 117.26%);
  position: relative;
  display: flex;

}
.sites__top-card--builder .sites__builder-svg {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 90%;
  height: auto;
  pointer-events: none;
}
.sites__top-card--builder .sites__top-card-text {
  color: #FFFFFFB2;
}

/* Card Content */
.sites__top-card-content {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sites__top-card-title {
  color: #fff;
  letter-spacing: var(--letter-spacing-negative);
  font-weight: 600;
  font-size: 16px;
}

.sites__top-card-text {
  color: #FFFFFFD9;
  letter-spacing: var(--letter-spacing-negative);
  font-size: 14px;
  font-weight: 500;
  max-width: 55%;
}

/* Bottom Grid */
.sites__grid.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 17px;
}

.sites__grid.list {
  display: flex;
  flex-direction: column;
}


/* HEADER */
.sites__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.sites__title {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
  margin: 0;
}

/* Header buttons */
.sites__header-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.sites__new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 7px;
  background-color: var(--background-color-blue);
  box-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.sites__new-button svg {
  color: #ffffff;
  width: 12px;
  height: 12px;
}

/* Responsive */

/* Tablet */
@media (max-width: 767px) {
  .sites__title {
    font-size: 22px;
  }
  .sites__new-button {
    font-size: 12px;
  }
  .sites__top-grid {
    grid-template-columns: 1fr;
    gap: 17px;
  }
  .sites__top-left {
    flex-direction: column;
    gap: 17px;
  }
  .sites__top-right-grid {
    grid-template-columns: 1fr 1fr;
    gap: 17px;
  }
  .sites__grid.grid {
    grid-template-columns: 1fr 1fr;
    gap: 17px;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    width: 80%;
  }
  .sites__top-card--changelog .sites__changelog-svg {
    bottom: -30px;
  }

}

/* Mobile */
@media (max-width: 467px) {
  .sites__title {
    font-size: 22px;
  }
  .sites__new-button {
    font-size: 12px;
  }
  .sites__top-grid {
    grid-template-columns: 1fr;
    gap: 17px;
  }
  .sites__top-left {
    flex-direction: column;
    gap: 17px;
  }
  .sites__top-right-grid {
    grid-template-columns: 1fr;
    gap: 17px;
  }
  .sites__grid.grid {
    grid-template-columns: 1fr;
    gap: 17px;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    width: 120%;
    height: auto;
    top: 0;
  }

}
