.user{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    transition: all 0.8s ease;
    width: 100%;
    height: 40px;
  }

.sidebar--open .user{
      position: relative;
    } 

  .sidebar--menu .user{
    position: relative;
  }

  /* Sidebar lower content (user profile) */
  .user__profile{
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.6s ease;
    flex-direction: row;
    cursor: default;
  }

  .sidebar--open .user__profile{
    padding: 8px;
    padding-left: 5px;
  }
  .sidebar--closed .user__profile{
    display: block;
  }

  .sidebar--menu .user__profile{
    padding: 8px;
  }

  /* User header (Icon and name) */
  .user__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  /* User avatar */
  .user__avatar{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--border-strong-color);
    padding: 2px;
  }
  .user__avatar--null{
    display: none;
  }

  .user__color{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--border-strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    color: var(--avatar-color);
    background-color: var(--avatar-background);
    text-transform: uppercase;
  }
  .user__color--null{
    display: none;
  }
  
  /* User name */
  .user__name{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    display: block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
  }

  .sidebar--open .user__name{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    display: block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sidebar--menu .user__name{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    display: block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* Arrow icon */
  .user__icons{
    display: none;
  }

  .sidebar--open .user__icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: var(--icons-fresco-color);
    transition: all 0.6s ease;
  }

  .sidebar--menu .user__icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: var(--icons-fresco-color);
  }
  .user__icons--down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--icons-fresco-color);
    transition: all 0.6s ease;
  }

  .user__icons--up{
    display: none;
    transition: all 0.6s ease;
  }

  .sidebar--open .user:hover .user__icons--up{
    display: flex;
    
  }
  
  .sidebar--menu .user:hover .user__icons--up{
    display: flex;
  }

  .sidebar--open .user:hover .user__icons--down{
    display: none;
   
  }
  .sidebar--menu .user:hover .user__icons--down{
    display: none;
  }

  .sidebar--open .user:hover .user__profile{
    background-color: var(--hover-fresco-color);
  }

  .sidebar--menu .user:hover .user__profile{
    background-color: var(--hover-fresco-color);
  }
  

  @media (max-width: 767px) {
  .sidebar--menu .user__name{
    max-width: 350px;
  }
  .user__name{
    display: block;
  }
}

@media (max-width: 467px) {
  .sidebar--menu .user__name{
    max-width: 160px;
  }
}


 