.tw-builder__settings-classes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.tw-builder__settings-id{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
    background-color: var(--classes-background);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.tw-builder__settings-class-unactive{
    cursor: pointer;
    font-size: 10px;
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: #FFFFFF;
}
.tw-builder__settings-class-unactive:hover{
    color: #ff0000;
}
.tw-builder__settings-classes-selected{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
}
.tw-builder__settings-class{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background-color: var(--classes-background);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    color: var(--body-fresco-color);
}

.tw-builder__settings-class-name{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    
}
.tw-builder__settings-class-remove{
    position: absolute;
    right: -4px;
    top: -4px;
    cursor: pointer;
    opacity: 0;
    font-size: 7px;
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--panels-background);
    background-color: rgba(255, 0, 0, 0.749);
    padding: 1px 2px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
}
.tw-builder__settings-class:hover .tw-builder__settings-class-remove{
    opacity: 1;
}

.tw-builder__settings-classes-pool {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--right-panel-dropdown-background);
    z-index: 2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tw-builder__settings-classes-adder {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px 10px 5px;

}

.tw-builder__settings-classes-add-input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
}
.tw-builder__settings-classes-add{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--accent-bg-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 6.5px;
    box-shadow: var(--blue-button-shadow);
   
}
.tw-builder__settings-classes-add-span{
    color: #FFFFFF;
    font-size: 11px;
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
}
.tw-builder__settings-classes-add-input::placeholder {
    color: #FFFFFF;
}
.tw-builder__settings-classes-add-input:focus {
    outline: none;
}
.tw-builder__settings-classes-divider{
    width: 100%;
    height: 1px;
    background-color: #363636;
}

.tw-builder__settings-classes-searcher {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tw-builder__settings-classes-search {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
}
.tw-builder__settings-classes-search:focus {
    outline: none;
}
.tw-builder__settings-classes-search::placeholder {
    color: #FFFFFF;
}
.tw-builder__settings-classes-list{
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-color: #444 transparent;
    scrollbar-width: thin;
    width: 98%;
    scrollbar-arrow-color: transparent;
}


.tw-builder__settings-classes-list::-webkit-scrollbar-button {
    display: none;
}




.tw-builder__settings-classes-item{
    display: none;
} 
.tw-builder__settings-classes-item:hover{
    background-color: var(--accent-bg-color);
}
.tw-builder__settings-classes-item:has(.tw-builder__settings-classes-item-name){
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    display: flex;
    align-items: center;
}
.tw-builder__settings-classes-item-name{
    color: #999999;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
}

.tw-builder__settings-classes-item--empty{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding-top: 10px;
}
.tw-builder__settings-classes-item--empty .tw-builder__settings-classes-item-name{
    color: #0099FE;
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
}

.tw-builder__settings-classes-item:has(.tw-builder__settings-classes-item-name) + .tw-builder__settings-classes-item--empty{
    display: none;
}
.tw-builder__settings-classes .dropdown__menu{
    right: 0;
    background-color: var(--right-panel-dropdown-background);
    border-radius: 5px;
    border: unset;
    box-shadow: unset;
}

.tw-builder__settings-states{
    background-color: var(--states-background);
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    color: var(--states-active-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tw-builder__settings-states--active{
    background-color: var(--accent-bg-color);
    color: var(--accent-color);
}
.tw-builder__settings-states-dropdown{
    position: relative;
}
.tw-builder__settings-states-menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}
.tw-builder__settings-states-item{
    padding: 5px;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color:#F5F5F5;
    border-radius: 3px;
}
.tw-builder__settings-states-item:hover{
    background-color: var(--accent-bg-color);
}