/* SITE CARD */
.site {
  background: var(--modal-background);
  border-radius: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 280px;
  max-width: 340px;
}

.sites__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;
} 

.site__gradient-header {
  width: 100%;
  height: 50px;
  background: linear-gradient(135deg, #3b5998 30%, #e17055 100%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
}

.site__avatar {
  width: 40px;
  height: 40px;
  padding: 4px;
  background: var(--avatar-background);
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.site__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.site__name {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-name);
  font-weight: 700;
  color: #5E5E5E;
  text-align: center;
}

.site__domain {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-domain);
  font-weight: 700;
  color: #B1B1B1;
  text-align: center;
}

.site__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 18px 18px;
}

.site__button-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.site__cdn-btn {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  color: #B1B1B1;
  background: transparent;
  border: var(--dashed-border);
  border-radius: 12px;
  padding: 7px 10px;
  font-size: var(--font-size-btn);
  font-weight: 700;
  cursor: pointer;
}

.site__builder-btn {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  background: var(--background-color-blue);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 7px 12px;
  font-size: var(--font-size-btn);
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.site__builder-btn:hover {
  background: var(--btn-bg-hover);
}