:root{
  --sidebar-font-size: 14px;
  --sidebar-icon-main-size: 16px;

  /* --sidebar-transition: all 0.4s ease; */

  
}
.open{
  left: var(--sidebar-width-open);
  width: calc(100vw - 220px);
 

} 

.sidebar{
  width: var(--sidebar-width-close);
  padding: 32.5px 0px 32.5px 0px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  
}


  
  .sidebar--open {
    width: var(--sidebar-width-open);
    padding: 32.5px 15px;
  }

  .sidebar__container{
    width: var(--sidebar-width-close);
    padding: 72.5px 0px 22.5px 0px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  .sidebar__container--open{
    width: var(--sidebar-width-open);
    padding: 52.5px 0px 22.5px 0px;
    justify-content: space-between;
  }
  .sidebar__logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: var(--border);
    padding-bottom: 10px;
    width: 31px;
   
   
  }
  .sidebar__logos--open{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0px 10px;
    gap: 0px;
    width: 100%;
    border: none;
   
  }
  
  .sidebar__logo{
    display: flex;
    
    
  }
  .sidebar__logo--open{
    display: flex;
    
  }
  
  .sidebar__action {
    cursor: pointer;
    z-index: 1;
    
    
    
  }

  .sidebar__desk{
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    
  }
  .sidebar__mobile{
    display: none;
    width: var(--icon-size);
    height: var(--icon-size);
  }
  
  .sidebar__upper {
    display: flex;
    flex-direction: column;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 25px;
    
  }
  .sidebar__home{
    
    border-bottom: var(--border);  
    padding: 15px 1px 15px 1px;  
  }

 
  .sidebar__header{
    padding: 4px;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    gap: 10px;
    white-space: nowrap;
    align-items: center;           /* PONER VAIRABLE */
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.2s ease;
  }
  .sidebar__header--active,
  .sidebar__header:hover{
    background-color: var(--hover-light-color);
border: 1px solid var(--border-fresco-color);
  }
  .sidebar__header__icon{
    width: 22px;
    height: 22px;
    background-color: var(--logo-background);
    padding: 4px;
    border-radius: 6px;             /* PONER VAIRABLE */
border: 1px solid var(--border-fresco-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--shadow-fresco-color);
  }
  .sidebar__header__svg{
    width: 22px;
    height: 22px;
  }

  .sidebar__sites{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: column-reverse;
    gap: 20px;
    padding-top: 20px;
    
  }
  .sidebar__sites--open{
    flex-direction: column;
    gap: 20px;
    padding-top: 0px;
    
    
  }
  .sitesDisplay__nosites{
    color: var(--sidebar-items-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    opacity: 0;
    transition: opacity 0.4s ease; 
  }
  
  .sitesDisplay__nosites--open{
    opacity: 1;
    align-self: center;

  }


  .nosites__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--wrappers-strong-color);
    padding: 10px;
    border-radius: 8px;
    height: 93px;
    width: 150px;
  }
  .nosites__text{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
  }
  .nosites__text__span{
    color: var(--accent-bg-color);
  }
  .nosites__button{
    width: 49px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--accent-bg-color);
    color: var(--accent-color);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 11px;
    border: none;
    border-radius: 8px;
    box-shadow: var(--blue-button-shadow);
    gap: 3px;
  }
  .nosites__button__text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
  }
  .nosites__button__svg{
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5px;
  }
  .nosites__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.sidebar__sites__header{
  opacity: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
 
}
.sidebar__sites__header--open{
  opacity: 1;
  padding-top: 20px;
}

.sidebar__sites__searcher{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;

}
.sidebar__sites__searcher--open{
  justify-content: start;

}
.sidebar__sites__input{
  display: flex;
  width: 0px;
  opacity: 0;
  transition: opacity 0.4s ease; 
}
  
.sidebar__sites__input--open{
  width: 100px;
  background-color: var(--hover-light-color);
  border: 1px solid var(--border-fresco-color);
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  right: 0;
  border-radius: 7px;
  padding: 5px;
  padding-left: 20px;
  color: var(--body-strong-color);
  opacity: 1;
}
.sidebar__sites__input:focus{
  outline: none;
}

.sidebar__sites__title{
  font-size: var(--font-size-small);
  font-weight: 700;
  color: var(--body-strong-color);
  letter-spacing: var(--letter-spacing-positive);
  margin-right: 10px; 
  text-transform: uppercase;
}
.sidebar__sites__title--site{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar__sites__search{
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-left: 5px;
  

  
}
.sidebar__sites__add{
  margin-left: 5px;
  cursor: pointer;
  padding-bottom: 3.5px;
  
}


.sidebar__sites__container{
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

.sidebar__sitesDisplay{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  /* padding-right: 4px; */
}

.sidebar__sitesDisplay--open{
  max-height: calc(100vh / 2.8);
  overflow-y: auto;
}






.sitesDisplay__siteslinks{
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



  .sidebar__sites__icon{
    background-color: var(--icons-strong-color);
    padding: 4px;
    border-radius: 20%;
    
  }

 /*  .sidebar__header__icon,
  .sidebar__sites__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
  } */
  .sidebar__header__text{
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
  
  }
  .sidebar__lower {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 15px;
    padding-right: 18px;
    padding-left: 18px;
    
  }
  .sidebar__others{
    border-bottom: 1px solid var(--border-fresco-color);
    padding-bottom: 10px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 4px;
    

  }

  
  .sidebar__link {
    text-decoration: none;
    color: var(--body-fresco-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    display: flex;
    overflow: hidden;
    gap: 12px;
    white-space: nowrap;
    align-items: center;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  
  .sidebar__link:hover {
    background-color: var(--hover-light-color);
border: 1px solid var(--border-fresco-color);
  }
  .site__link{
    display: flex;
    overflow: hidden;
    gap: 12px;
    white-space: nowrap;
    align-items: center;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  .site__link__icon{
    background-color: var(--logo-background);
    padding: 3px;
    border-radius: 6px;
border: 1px solid var(--border-fresco-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--shadow-fresco-color);
  }
  .site__link__text{
    text-decoration: none;
    color: var(--body-strong-color);
    font-size: 14px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
  }
  
 
  .sidebar__link__svg{
    width: var(--sidebar-icon-size);
    height: var(--sidebar-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar__user-avatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  /* >SIDEBAR */

    
@media (max-width: 767px) {
    
  .open{
       left: 0px;
       width: 100%;
    } 


  .sidebar__desk{
    display: none;
  }
  .sidebar__mobile{
    display: flex;
    z-index: 2;
  }

  .sidebar{
    width: 100vw;
    background-color: transparent;
    padding: 0px 15px;
    position: relative;
    left: 0px;
    top: 0;
    height: 0px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    z-index: 2;
    
}



.sidebar__container{
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding: 0px 10px;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  z-index: 1;
  border: 0px solid var(--border-fresco-color);
  border-radius: 10px;
  justify-content: end;
  overflow: hidden;
  height: auto;
  min-height: 0px;
}

.sidebar__container--open{
    padding: 10px 10px;
    border: 1px solid var(--border-fresco-color);
    height: auto;
    min-height: 600px;
}
.logo-container{
    width: 100%;
}
.sidebar__upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.sidebar__home{
    border-top: 0px;
}
.sidebar__sites__header{
  justify-content: space-between;
}
.sidebar__sites__header--open{
  justify-content: space-between;
}
.sidebar__sites__searcher{
  width: 100%;
  
}
.sidebar__sites__searcher--open{
  max-width: 530px;
  width: 100%;
  
}
.sidebar__sites__search{
  margin-left: 5px;
}

.sidebar__sites__input--open{
  width: 100%;
  
}
.sidebar__others{
  max-width: 100%;
}
.sidebar__lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; 
    gap: 20px;
}
.sidebar__logos{
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-items: center;
  padding: 15px 15px;
  border: none;
    
    
}

.sidebar__logo {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;

}
.sidebar__logo--open{
    display: flex;
    justify-content: start;
    align-items: center;
}

.sidebar__sites__title{
  max-width: 100%;
}




}