:root{
  --sidebar-font-size: 14px;
  --sidebar-icon-main-size: 16px;
  
  --sidebar-items-color: #686B74;
  
}


  /* <SIDEBAR */
.open{
    left: 200px;
    width: calc(100vw - 220px);
    transition: all 0.4s ease;
  } 
   

  
  .sidebar--open {
    width: 200px;
    background-color: transparent;
    padding: 32.5px 15px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s ease;
    white-space: nowrap;
  }
  .sidebar{
    width: 70px;
    background-color: transparent;
    padding: 32.5px 0px 32.5px 0px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
  }
  .sidebar__container{
    width: 70px;
    background-color: transparent;
    padding: 72.5px 0px 22.5px 0px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
  }
   
  @keyframes sidebarHide {
    0% {
      width: 200px;
      
     
    }
    30% {
      width: 90px;
   
    }
    100% {
      width: 40px;
  
    }
  }
  
  @keyframes sidebarShow {
    0% {
      width: 40px;
    
    }
    30% {
      width: 90px;
      
    }
    100% {
      width: 200px;
     
    }
  }  
  .sidebar__container--open{
    width: 200px;
    background-color: transparent;
    padding: 72.5px 0px 22.5px 0px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.4s ease;
    background-color: transparent;
    white-space: nowrap;
    justify-content: space-between;
  }
  .sidebar__logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
   padding-bottom: 10px;
    width: 35px;
   
  }
  .sidebar__logos--open{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 0.5s ease;
    padding: 0px 10px;
  }
  
  .sidebar__logo{
    display: flex;
    
  }
  .sidebar__logo--open{
    display: flex;
  }
  
  .sidebar__action {
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
    
    
    
  }

  .sidebar__action__desk{
    display: block;
    transition: all 0.3s ease;
    width: var(--icon-size);
    height: var(--icon-size);
  }
  .sidebar__action__mobile{
    display: none;
    transition: all 0.3s ease;
    width: var(--icon-size);
    height: var(--icon-size);
  }
  
  .sidebar__upper {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 19px;
    margin-top: 25px;
  }
  .sidebar__home{
    
    border-bottom: 1px solid var(--border-color);  
    padding: 15px 0px 15px 2px;  
  }

 
  .sidebar__header{
    padding: 5px;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    gap: 5px;
    white-space: nowrap;
    align-items: center;
    color: var(--background-color-black);
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;

        
  }
  .sidebar__header__icon{
    background-color: #fff;
    padding: 2px;
    border-radius: 20%;
    border: 1px solid var(--border-color);
  }
  .sidebar__header__svg{
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .sidebar__sites{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: column;
    gap: 20px;
    
  }
  .sitesDisplay__nosites{
    color: var(--sidebar-items-color);
    font-size: 10px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .sitesDisplay__nosites--open{
    color: var(--sidebar-items-color);
    font-size: 10px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    opacity: 1;
    transition: opacity 0.4s ease;
  }

.sidebar__sites-header{
  opacity: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  justify-content: start;
  transition: opacity 0.4s ease;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
 
}
.sidebar__sites-header--open{
  opacity: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  justify-content: start;
  transition: opacity 0.4s ease;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;

}

.sidebar__sites-searcher{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.sidebar__sites-input{
  width: 100px;
  background-color: transparent;
  border: none;
  display: none;
}

.sidebar__sites-title{
  font-size: var(--sidebar-font-size);
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--background-color-black);
  letter-spacing: var(--letter-spacing);

}
.sidebar__sites-search{
  cursor: pointer;
  
}
.sidebar__sites-add{
  margin-left: 5px;
  cursor: pointer;
  padding-bottom: 3.5px;
  
}














  .sidebar__sites__icon{
    background-color: var(--background-color-black);
    padding: 4px;
    border-radius: 20%;
    
  }

  .sidebar__header__icon,
  .sidebar__sites__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
  }
  .sidebar__header__text{
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    color: var(--background-color-black);
    letter-spacing: var(--letter-spacing);
  
  }
  .sidebar__lower {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 15px;
    padding-right: 20px;
    padding-left: 19px;
    
  }
  .sidebar__others{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    max-width: 150px;
    

  }
 /*  .sidebar:hover .sidebar__link{
    overflow: visible;
  } */
  
  .sidebar__link {
    text-decoration: none;
    color: var(--sidebar-items-color);
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    display: flex;
    overflow: hidden;
    gap: 10px;
    white-space: nowrap;
    align-items: center;
    padding: 8px;
    border: 1px solid transparent;
  }
  
  .sidebar__link:hover {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
  }
  
 
  .sidebar__link__svg{
    width: var(--sidebar-icon-size);
    height: var(--sidebar-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar__user-avatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }

  /* >SIDEBAR */

    
@media (max-width: 767px) {
    
  .open{
       left: 0px;
       width: 100%;
    } 


  .sidebar__action__desk{
    display: none;
  }
  .sidebar__action__mobile{
    display: flex;
    z-index: 2;
  }

  .sidebar--open {
    width: 100vw;
    background-color: #fff;
    height: 0px;
    padding: 15px 20px;
    position: relative;
    left: -5px;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: all 1s ease; 
    white-space: nowrap;
    gap: 15px;
    z-index: 2;
   
}
.sidebar{
    width: 100vw;
    background-color: #fff;
    padding: 15px 20px;
    position: relative;
    left: -5px;
    top: 0;
    height: 0px;
    display: flex;
    flex-direction: column;
    
    transition: all 1s ease; 
    white-space: nowrap;
    z-index: 2;
    gap: 15px
}
.sidebar__container{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 0px 10px;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all .7s ease; 
  white-space: nowrap;
  z-index: 1;
  border: 0px solid #E0E0E0;
  border-radius: 10px;
  justify-content: end;
  gap: 7.5px;
  z-index: 2;
  height: auto;
  min-height: 0px;
}

@keyframes sidebarHide {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}

@keyframes sidebarShow {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
} 
.sidebar__container--open{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 10px 10px;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: all .7s ease; 
    white-space: nowrap;
    z-index: 1;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    justify-content: end;
    gap: 7.5px;
    z-index: 1;
    height: auto;
    min-height: 500px;
    overflow: hidden;
}
.logo-container{
    width: 100%;
}
.sidebar__upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar__home{
    border-top: 0px;
}
.sidebar__sites-header{
  justify-content: space-between;
}
.sidebar__sites-header--open{
  justify-content: space-between;
}
.sidebar__others{
  max-width: 100%;
}
.sidebar__lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; 
    gap: 20px;
}
.sidebar__logos{
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-items: center;
  padding: 0px 15px;
  border: none;
    
    
}
.sidebar__logos--open{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
    padding: 0px 15px;
  
}
.sidebar__logo {
    display: flex;
    justify-content: start;
    align-items: center;

}
.sidebar__logo--open{
    display: flex;
    justify-content: start;
    align-items: center;
}
}

/* Animaciones solo se aplican cuando hay un cambio de estado */
/* .sidebar__container.animating {
    animation: sidebarHide 0.4s ease forwards;
}

.sidebar__container--open.animating {
    animation: sidebarShow 0.4s ease forwards;
} */


