

  /* <SIDEBAR */
  .open{
    left: 200px;
    width: calc(100vw - 240px);
    transition: all 0.4s ease;
  }
  
  /* #root.open .app-container {
    margin-left: 225px;
  } */
  
  .sidebar__container-open {
    width: 200px;
    background-color: transparent;
    padding: 35px 35px; 
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s ease;
    white-space: nowrap;
  }
  .sidebar__container{
    width: 50px;
    background-color: transparent;
    padding: 35px 35px; 
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: all 0.4s ease;
    z-index: 1;
    
  }
  .sidebar{
    width: 0px;
    background-color: transparent;
    padding: 12.5px 15px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    background-color: transparent;
    transition: width 0.4s ease;
    animation: sidebarHide 0.4s ease forwards;
    white-space: nowrap;
  }@keyframes sidebarHide {
    0% {
      width: 200px;
      display: flex;
    }
    30% {
      width: 0px;
      display: none;
    }
    100% {
      width: 0px;
      display: none;
    }
  }
  
  @keyframes sidebarShow {
    0% {
      width: 0px;
      display: none;
    }
    30% {
      width: 0px;
      display: flex;
    }
    100% {
      width: 200px;
      display: flex;
    }
  } 
  .sidebar-open{
    width: 250px;
    background-color: transparent;
    padding: 12.5px 15px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 0.4s ease;
    background-color: transparent;
    animation: sidebarShow 0.4s ease forwards;
    white-space: nowrap;
  }
  
  .sidebar__logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 35px 35px;
  }
  
  .sidebar__logos-action {
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
    
  }
  .sidebar-action svg {
    transition: all 0.3s ease;
    width: var(--icon-size);
    height: var(--icon-size);
  }
  .sidebar-action-desk{
    display: block;
  }
  .sidebar-action-mobile{
    display: none;
  }
  
  .sidebar__upper {
    display: flex;
    flex-direction: column;
  }
  .sidebar__home{
    border-bottom: 1px solid #00000015;
  }
  .sidebar__home-text{
    padding: 8px 8px 8px 13px;
    text-decoration: none;
    margin-bottom: 0.5rem;
    text-decoration: none;
    display: flex;
    overflow: hidden;
    gap: 12px;
    white-space: nowrap;
    align-items: center;
    color: var(--category-items-font-color);
        
  }
  .sidebar__home-text-icon{
    background-color: #0099FE;
    padding: 4px;
    border-radius: 20%;
  }
  .sidebar__home-text-icon svg{
    width: var(--icon-size);
    height: var(--icon-size);
  }
  .sidebar__docs-text-icon{
    background-color: #000;
    padding: 4px;
    border-radius: 20%;
  }
  .sidebar__docs-text-icon svg{
    width: var(--icon-size);
    height: var(--icon-size);
  }
  .sidebar__home-text-icon,
  .sidebar__docs-text-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
  }
  .sidebar__home-text-text{
    font-size: var(--items-font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    color: var(--category-items-font-color);
    letter-spacing: var(--letter-spacing);
  
  }
  .sidebar__lower {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 100px;
    width: 170px;
  }
  
  .sidebar:hover .sidebar__link{
    overflow: visible;
  }
  
  .sidebar__link {
    text-decoration: none;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: var(--items-font-color);
    font-size: var(--items-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    display: flex;
    overflow: hidden;
    gap: 12px;
    white-space: nowrap;
    align-items: center;
    padding: 8px 8px 8px 13px;;
    border: 1px solid transparent;
  }
  
  .sidebar__link:hover {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
  }
  
  .sidebar__link svg {
    width: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar__user-avatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  
  .dark-icon {
    display: none;
  }
  
  .logo-container{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 32px 12px;
    height: 25px;
    border-bottom: 1px solid #00000015;
    cursor: pointer;
  }
  .logo-container__logo{
    width: 20px;
    
  
  }
  /* >SIDEBAR */

    
@media (max-width: 767px) {
    
 .open{
    top: 570px;
    height: calc(100vh - 650px);
    transition: all .5s ease;
    left: 20px;
    width: calc(100vw - 40px);
  }

  .sidebar-action-desk{
    display: none;
  }
  .sidebar-action-mobile{
    display: block;
  }

  .sidebar-container-open {
    width: 100vw;
    background-color: transparent;
    padding: 35px 35px; 
    position: fixed;
    left: 0;
    top: 0;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    transition: all .5s ease; 
    white-space: nowrap;
}
.sidebar-container{
    width: 100vw;
    background-color: transparent;
    padding: 35px 35px; 
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s ease; 
    white-space: nowrap;
}
.sidebar{
    width: 100%;
    background-color: transparent;
    padding: 12.5px 15px;
    position: fixed;
    right: 0;
    top: 0;
    height: 0px;
    display: none;
    flex-direction: row;
    transition: height .5s ease;
    animation: sidebarHide .5s ease forwards; 
    white-space: nowrap;
    
}

@keyframes sidebarHide {
    0% {
      height: 570px;
      display: flex;
    }
    30% {
      height: 0px;
      display: none;
    }
    100% {
      height: 0px;
      display: none;
    }
}

@keyframes sidebarShow {
    0% {
      height: 0px;
      display: none;
    }
    30% {
      height: 0px;
      display: flex;
    }
    100% {
      height: 570px;
      display: flex;
    }
} 
.sidebar-open{
    width: 100%;
    background-color: transparent;
    padding: 12.5px 15px;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    transition: height .5s ease; 
    animation: sidebarShow .5s ease forwards;
    white-space: nowrap;
    z-index: 1;
    
}
.logo-container{
    width: 100%;
}
.sidebar__upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar__lower {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%; 
}




  
}
