/* MODAL */
.modal {
  background: var(--modal-background);
  padding: 3px;
  border: 1px solid rgba(219, 219, 219, 0.85);
  border-radius: 16px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.modal__header {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #1261CF 0%, #EC651F 100%);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
}

.modal__avatar {
  width: 60px;
  height: 60px;
  padding: 6px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  bottom: -27px;
  left: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__avatar-edit {
  position: absolute;
  right: -5px;
  bottom: -3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #FFF;
  border: 1px solid #DBDBDB;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px;
}
.modal__avatar-edit:hover {
  background: #F5F5F5;
}

.modal__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  box-sizing: border-box;
}

.modal__title {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: var(--heading-font-size);
  color: #000;
}

.modal__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.modal__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__input-container {
  position: relative;
  width: 100%;
}

.modal__input-label {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  line-height: normal;
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.modal__input {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background: var(--input-background);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: var(--input-color);
  /*transition: border-color 0.2s;*/
}
/*
.modal__input:focus {
  outline: none;
  border-color: #3b5998;
  background: #fff;
}
.modal__input[aria-invalid="true"] {
  border-color: #ef4444;
}
*/
.modal__actions-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__button--save {
  width: 100%;
  background: var(--background-color-blue);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(60,60,60,0.10);
  color: #FFF;
  text-align: center;
  line-height: normal;
  margin-top: 15px;
}

/* DELETE BUTTON */
.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.modal__button--delete {
  background-color: #dc2626;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.modal__plan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modal__plan-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 8px;
  background: #D5D5D5;
}

.modal__plan-option {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: #686B74;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
  user-select: none;
}

.modal__plan-option--active {
  background: #F3F3F3;
  box-shadow: 0px -4px 4px 0px #E8E8E8 inset, 0px 0px 0px 1px #C8C8C8, 0px 0px 0px 1px #FFF inset;
  color: #686B74;
}

.modal__plan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.modal__plan-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.modal__plan-sites {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  color: #686B74;
  text-align: center;
}

.modal__plan-upgrade {
  width: 100%;
  max-width: 60px;
  padding: 7px;
  background: #232323;
  box-shadow: 0px -4px 4px 0px #000 inset, 0px 0px 0px 1px #000, 0px 0px 0px 1px #444 inset;
  border: none;
  border-radius: 10px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  cursor: pointer;
}

/* >MODAL */
@media(max-width: 767px){
  .modal__backdrop{
    left: 0;
    top: 0px;
  }
}
/* Mobile */
@media (max-width: 480px) {
  .modal {
    max-width: 95vw;
    /*border-radius: 12px;*/
    gap: 20px;
  }

  .modal__header {
    height: 45px;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
  }

  .modal__avatar {
    width: 48px;
    height: 48px;
    padding: 5px;
    bottom: -24px;
    left: 7px;
  }

  .modal__content {
    padding: 8px;
  }

  .modal__inputs {
    flex-direction: column;
  }

  .modal__input {
    font-size: 12px;
  }

  .modal__button--save,
  .modal__button--delete {
    padding: 6px 10px;
    font-size: 13px;
  }

  .modal__actions {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .modal__actions-bar {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .modal__plan {
    padding: 12px 0;
    gap: 12px;
  }

  .modal__plan-toggle {
    height: 36px;
  }
}