/* MODAL */


.modal__header {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #1261CF 0%, #EC651F 100%);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
}

.modal__avatar {
  width: 60px;
  height: 60px;
  padding: 6px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  bottom: -27px;
  left: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__avatar-edit {
  position: absolute;
  right: -5px;
  bottom: -3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #FFF;
  border: 1px solid #DBDBDB;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px;
}
.modal__avatar-edit:hover {
  background: #F5F5F5;
}

.modal__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  box-sizing: border-box;
}

.modal__title {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: var(--heading-font-size);
  color: #000;
}

.modal__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.modal__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__input-container {
  position: relative;
  width: 100%;
}

.modal__input-label {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  color: #686B74;
}

.modal__input {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  background: var(--input-background);
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  color: var(--input-color);
}

.modal__divider {
  height: 0.8px;
  background: #E0E0E0;
  margin: 4px 0;
  width: 100%;
  border: none;
}

.modal__plan {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.modal__plan-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 4px;
  border-radius: 8px;
  background: #D5D5D5;
  position: relative;
  z-index: 1;
}

.modal__plan-toggle::before {
  content: '';
  position: absolute;
  width: 50%;
  height: calc(100% - 8px);
  background: #F3F3F3;
  border-radius: 6px;
  box-shadow: 0px -4px 4px 0px #E8E8E8 inset, 0px 0px 0px 1px #C8C8C8, 0px 0px 0px 1px #FFF inset;
  transition: transform 0.3s ease;
  transform: translateX(0);
  left: 4px;
}

.modal__plan-toggle:has(.modal__plan-option:last-child.modal__plan-option--active)::before {
  transform: translateX(calc(100% - 8px));
}

.modal__plan-option {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #686B74;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
  user-select: none;
  position: relative;
  z-index: 1;
}

.modal__plan-stats {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  position: relative;
}

.modal__plan-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.03;
  fill: #E3E3E3;
  pointer-events: none;
  z-index: 0;
}

.modal__plan-stat {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 2px;
}

.modal__plan-stat-label {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 10px;
  font-weight: 500;
  color: #686B74;
  display: flex;
  align-items: end;
  gap: 2px;
}
.modal__plan-stat-label--underline {
  border-bottom: 1px dotted #686B74;
}

.modal__plan-stat-monthly {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  color: #686B74;
  font-size: 7px;
}

.modal__plan-stat-value {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 10px;
  font-weight: 500;
  color: #686B74;
  text-align: right;
}
.modal__plan-stat-value--unlimited {
  background: linear-gradient(93deg, #0099FE -1.95%, #1D5283 112.87%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.modal__button {
  width: 100%;
  padding: 10px;
  background: var(--background-color-blue);
  border: none;
  border-radius: 7px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  box-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
  z-index: 1;
}

/* DELETE BUTTON */
.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.modal__button--delete {
  background-color: #dc2626;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.modal__plan-content {
  padding: 0;
}

.modal__plan-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__plan-pro-title {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 14px;
  font-weight: 600;
  color: #686B74;
  margin: 0;
}

.modal__plan-lock-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.modal__plan-lock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.modal__button--upgrade {
  width: auto;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: 10px;
  padding: 5px 7px;
  background: #232323;
  box-shadow: 0px -4px 4px 0px #000 inset, 0px 0px 0px 1px #000, 0px 0px 0px 1px #444 inset;
  border-radius: 7px;
  color: #FFF;
}

.modal__button--save {
  width: 100%;
  padding: 10px;
  background: var(--background-color-blue);
  border: none;
  border-radius: 7px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
  box-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
  margin-top: 10px;
}

.modal__button--save:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.modal__plan-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.modal__actions-edit {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
/* >MODAL */
@media(max-width: 767px){
  .modal__backdrop{
    left: 0;
    top: 0px;
  }
}
/* Mobile */
@media (max-width: 480px) {
  .modal {
    max-width: 95vw;
    /*border-radius: 12px;*/
    gap: 20px;
  }

  .modal__header {
    height: 45px;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
  }

  .modal__avatar {
    width: 48px;
    height: 48px;
    padding: 5px;
    bottom: -24px;
    left: 7px;
  }

  .modal__content {
    padding: 8px;
  }

  .modal__inputs {
    flex-direction: column;
  }

  .modal__input {
    font-size: 12px;
  }

  .modal__button--save,
  .modal__button--delete {
    padding: 6px 10px;
    font-size: 13px;
  }

  .modal__actions {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .modal__actions-bar {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .modal__plan {
    padding: 12px 0;
    gap: 12px;
  }

  .modal__plan-toggle {
    height: 36px;
  }
}