.modal-avatar {
  width: 100%;
  max-width: 380px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modal-avatar__header {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #1261CF 0%, #EC651F 100%);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
}

.modal-avatar__avatar {
  width: 60px;
  height: 60px;
  padding: 6px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  bottom: -27px;
  left: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-avatar__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal-avatar__backdrop {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(11px);
  z-index: 999;
}
.modal-avatar__backdrop-footer {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(11px);
  z-index: 999;
}

.modal-avatar__divider {
  height: 0.8px;
  background: #E0E0E0;
  width: 100%;
  border: none;
}

.modal-avatar__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  box-sizing: border-box;
  height: calc(100% - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 30px;
  position: relative;
  z-index: 2;
}
.modal-avatar__content::-webkit-scrollbar {
  width: 4px;
}
.modal-avatar__content::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0;
}
.modal-avatar__content::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 10px;
}

.modal-avatar__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 4px;
}
.modal-avatar__section-title {
  letter-spacing: var(--letter-spacing);
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.modal-avatar__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.modal-avatar__option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.modal-avatar__option--selected {
  transform: scale(1.1);
  box-shadow: 0 0 0 2px white, 0 0 0 4px #2563EB;
}
.modal-avatar__option--avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-avatar__option-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.modal-avatar__option-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.modal-avatar__footer {
  display: flex;
  justify-content: end;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.modal-avatar__button-save {
  height: 25px;
  width: 45px;
  background-color: rgba(0, 153, 254, 1);
  color: #ffffff;
  border-radius: 6px;
  border: none;
  padding: 10px;
  font-size: var(--font-size-medium);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-negative);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
} 