.tooltip {
  position: absolute;
  z-index: 10;
}

.tooltip__mask {
  position: relative;
  padding: 6px 8px;
  border-radius: 6px;
  background-color: #494E58;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30) inset;
  color: #fff;
  white-space: nowrap;
  min-width: 50px;
  max-width: calc(100vw - 32px);
  display: block;
  text-align: center;
  box-sizing: border-box;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: 10px;
  z-index: 2;
}

/* Right position */
.tooltip--right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 8px;
}
.tooltip--right .tooltip__mask::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  background-color: #494E58;
  transform: translateY(-50%) rotate(225deg);
  top: 50%;
  left: -5px;
  display: block;
  z-index: 1;
}

/* Left position */
.tooltip--left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 8px;
}
.tooltip--left .tooltip__mask::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-right-color: transparent;
  border-top-color: transparent;
  background-color: #494E58;
  transform: translateY(-50%) rotate(225deg);
  top: 50%;
  right: -5px;
  display: block;
  z-index: 1;
}

/* Top position */
.tooltip--top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
}
.tooltip--top .tooltip__mask::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top-color: transparent;
  border-left-color: transparent;
  background-color: #494E58;
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
  bottom: -5px;
  display: block;
  z-index: 1;
}

/* Bottom position */
.tooltip--bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}
.tooltip--bottom .tooltip__mask::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  background-color: #494E58;
  transform: translateX(-50%) rotate(45deg);
  left: 50%;
  top: -5px;
  display: block;
  z-index: 1;
}

/* Sidebar position */

.tooltip--sidebar {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 8px;

  
}
.tooltip--sidebar .tooltip__mask::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  background-color: #FFFFFFE5;
  transform: translateY(-50%) rotate(225deg);
  top: 50%;
  left: -6px;
  display: block;
  z-index: 1;
}

.tooltip__message {
  flex: 1;
}

@keyframes slideIn {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-5px);
    opacity: 0;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .tooltip__mask {
    white-space: wrap;
    text-align: center;
    padding: 8px;
    font-size: 11px;
  }

  .tooltip--right,
  .tooltip--left,
  .tooltip--sidebar {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    margin: 8px 0 0 0;
  }

  /* Hide all arrows in mobile excepto top y bottom */
  .tooltip--right .tooltip__mask::after,
  .tooltip--left .tooltip__mask::after,
  .tooltip--sidebar .tooltip__mask::after {
    display: none;
  }
  .tooltip--top .tooltip__mask::after,
  .tooltip--bottom .tooltip__mask::after {
    display: block;
  }

  /* Position-specific arrow styles */
  .tooltip--right .tooltip__mask::after {
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  .tooltip--left .tooltip__mask::after {
    border-right-color: transparent;
    border-top-color: transparent;
  }

  .tooltip--top .tooltip__mask::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }

  .tooltip--bottom .tooltip__mask::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  } 
  .tooltip--sidebar .tooltip__mask::after {
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}