.tw-builder__settings-deleter{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    position: absolute;
    right: calc(100% + 2px);
    top: 3px;
    height: 22px;
}
.tw-builder__settings-setting .tw-builder__settings-deleter{
    top: -4px;
}
.tw-builder__settings-deleter-point{
    width: 5px;
    height: 5px;
    background-color: var(--accent-bg-color);
    border-radius: 100%;
    display: flex;
}
.tw-builder__settings-deleter--active{
    display: flex;
}
.tw-builder__settings-deleter-cross{
    display: none;
    cursor: pointer;
    font-size: 8px;
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: red;
}
 .tw-builder__settings-deleter:hover .tw-builder__settings-deleter-cross{
    display: block;
}
.tw-builder__settings-deleter:hover .tw-builder__settings-deleter-point{
    display: none;
} 
.tw-builder__settings-deleter:hover .tw-builder__settings-deleter-cross--not-delete{
    display: none;
}
.tw-builder__settings-deleter:hover:has(.tw-builder__settings-deleter-cross--not-delete) .tw-builder__settings-deleter-point{
    display: block;
 }

