.tw-categories__expander-icon{
    transition: transform var(--expanded-icon-duration) var(--expanded-icon-easing);
}
.tw-categories__expander--open .tw-categories__expander-icon {
    transform: rotate(var(--expanded-icon-rotate));
}