@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}
*:not(.tw-builder__canvas *) {
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: none;
}

/*
Light selected: use root
Dark selected: use html[data-theme="dark"]
System selected: will fallback to root or html[data-theme="dark"]
*/

:root {
  --input-padding: 12px;
  --backdrop-blur: 7px;

  --sidebar-width-open: 230px;
  --sidebar-width-close: 65px;
  --sidebar-menu-backdrop-color: rgba(255, 255, 255, 0.35);

  --font-size-extreme-mini: 10px;
  --font-size-mini: 12px;
  --font-size-small: 13px;
  --font-size-medium: 14px;
  --font-size-big: 16px;
  --heading-font-size: 18px;
  --font-heading: 20px;
  --font-weight: 500;
  --letter-spacing-negative: -0.03em;
  --letter-spacing-positive: 0.03em;

  --sidebar-icon-size: 16px;
  --sidebar-icon-main-size: 16px;
  --skeleton-color: gainsboro;

  /*App*/
  --sidebar-background: #F5F5F5;
  --content-background: #FFFFFF;

  /*General*/
  --body-light-color: #A0A0A0;
  --body-fresco-color: #5E5E5E;
  --body-semistrong-color: #333333;
  --body-strong-color: #000000;
  --border-fresco-color: #E6E6E6;
  --border-strong-color: #E0E0E0;
  --icons-fresco-color: #5E5E5E;
  --icons-strong-color: #000000;
  --hover-light-color: #FFFFFF;
  --hover-fresco-color: #EBEBEB;
  --hover-strong-color: #E3E3E3;
  --shadow-fresco-color: rgba(0, 0, 0, 0.05);
  --shadow-strong-color: rgba(0, 0, 0, 0.1);
  --warning-color: #D00606;
  --hover-warning-color: rgba(248, 218, 218, 1);
  --wrappers-fresco-color: #F2F2F2;
  --wrappers-strong-color: #EDEDED;
  --logo-background: #FFFFFF;

  /*Dashboard Hello Grid*/
  --dashboard-hello-grid-heading-color: #FFFFFF;
  --dashboard-hello-grid-text-fresco-color: #FFFFFF85;
  --dashboard-hello-grid-text-strong-color: #FFFFFFB2;

  /*Sites List*/
  --site-background: #FFFFFF;
  --site-pro-toggle-background: #F2F2F2;
  --site-pro-toggle-text-color: #9E9E9E;
  --view-toggle-color: #FFFFFF;
  --view-toggle-background: #F2F2F2;

  /*Accents*/
  --accent-color: #FFFFFF;
  --accent-bg-color: #0099FE;

  /*Buttons*/
  --blue-button-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
  --secondary-button-border-color: #E0E0E0;

  /*Dropdown*/
  --dropdown-background: #FFFFFF;

  /*Sidebar Tooltip*/
  --sidebar-tooltip-background: #FFFFFF;
  --sidebar-tooltip-color: #000000;

  /*Tooltip*/
  --tooltip-background: #494E58;
  --tooltip-color: #FFFFFF;

  /*Notification*/
  --notification-color: #FFFFFF;
  --notification-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  
  /*Modal*/
  --modal-background: #FFFFFF;
  --modal-sidebar-background: #F2F2F2;
  --modal-backdrop-color: rgba(0, 0, 0, 0.5);

  /*Modal - Appearance*/
  --appearance-light-theme: #F4F4F6;
  --appearance-light-theme-border: rgba(224, 224, 224, 1);
  --appearance-dark-theme: #272727;
  --appearance-dark-theme-border: rgba(85, 85, 85, 1);

  /*Modal - Support*/
  --support-header-background: #D9D9D9;
  --support-choice-background: #FFFFFF;
  --support-dropzone-background: rgba(0, 153, 254, 0.1);

  /*Modal - Upgrade*/
  --upgrade-bg-popular: #0099FE10;

  /*Home*/
  --home-subtitle-color: #FFFFFF;
  --home-text-color: #FFFFFFB3;
  --home-verify-container-bg: #FFFFFFB3;
  --home-bar-color: #EEEEEE;
  --home-complyHealth-status-color: #FFFFFF;
  --comply-health-percentage: 80;
  --percent: 100%;
  --home-accepted-color: #0099FE;
  --home-modified-color: #0099fe80;
  --home-rejected-color: #F61C0D;
  --home-noanswer-color: #FE8700;
  --home-chart-color: #666666;
  --home-chart-icon-color: #F3F3F3;

  /*Builder - General*/
  --panels-width: 200px;
  --canvas-min-width: 350px;
  --canvas-max-width: 1480px;

  --panels-radius: 8px;

  --handlebars-color: #D9D9D9;
  --handlebars-color-active: #AAAAAA;

  --header-plan-background: #E3E3E3;
  --builder-background: #F5F5F5;
  --builder-text-color: #333333;
  --panels-background: #FFFFFF;
  --canvas-background: #FFFFFF;

  --border-light-color: #E6E6E6;
  --shadow-light-color: #00000010;

  --shadow-color: #999999;
  --subtitle-color: #666666;
  --label-color: #222222;
  --icons-color: #999999;

  /* Builder - User Tooltip*/
  --user-tooltip-background: #FFFFFF;
  --user-tooltip-color: #333333;

  /*Builder - Themes Modal*/
  --themes-modal-background: #FFFFFF;
  --free-badge-background: #EEEEEE;

  /*Builder - Toolbar*/
  --toolbar-items-background: #F0F0F0;
  --toolbar-items-background-hover: #e9e9e9;
  --toolbar-items-text-color: #999999;
  --toolbar-items-icon-color: #999999;
  --toolbar-items-icon-background: #FFFFFF;

  /*Builder - Left Panel*/
  --logo-background: #FFFFFF;
  --dropdown-background: #FFFFFF;
  --toggle-color: #999999;
  --tab-container-background: #F5F5F5;
  --tab-slider-background: #FFFFFF;
  --tab-color: #999999;
  --tab-active-color: #222222;
  --tab-hover-background: #E8E8E8;
  --tab-hover-color: #222222;

  /*Builder - Tree View*/
  --tree-item-hover-background: #E8E8E8;

  --tree-item-selected-background: #0099FE;
  --tree-item-selected-color: #FFFFFF;

  --tree-item-child-selected-color: #666666;

  --tree-expand-button-color: #999999;
  --tree-expand-button-selected-color: #FFFFFF;
  --tree-expand-button-child-selected-color: #666666;

  --square-icon-background: #666666;
  --tree-text-icon-color: #666666;
  
  --child-selected-color: #666666;
  --tree-childs-background: #0099FE26;
}

.sidebar__logo-img{
  background: url('/assets/logo-light-mode.svg');
  background-size: cover;
  width: 25px;
  height: 18px;
}
.sidebar--open .sidebar__logo-img{
  margin-left: 0px;
}
.tw-builder__logo{
  background: url('/assets/logo-light-mode.svg');
  background-size: cover;
  width: 15px;
  height: 11px;
}
.tw-builder--open .tw-builder__logo{
  margin-left: 0px;
}

html[data-theme="dark"] {
  --sidebar-menu-backdrop-color: rgba(0, 0, 0, 0.5);

  /*App*/
  --sidebar-background: #202020;
  --content-background: #191919;

  /*General*/
  --body-light-color: #666666;
  --body-fresco-color: #9B9B9B;
  --body-semistrong-color: #9B9B9B;
  --body-strong-color: #FFFFFF;
  --border-fresco-color: #252525;
  --border-strong-color: #333333;

  --icons-fresco-color: #9B9B9B;
  --icons-strong-color: #FFFFFF;
  --hover-light-color: #2B2B2B;
  --hover-fresco-color: #2B2B2B;
  --hover-strong-color: #333333;
  --shadow-fresco-color: rgba(0, 0, 0, 0.05);
  --shadow-strong-color: rgba(0, 0, 0, 0.15);
  --warning-color: #EB5757;
  --hover-warning-color: #EB575710;
  --wrappers-fresco-color: #202020;
  --wrappers-strong-color: #2B2B2B;
  --logo-background: #404040;
  --skeleton-color: gray;

  /*Dashboard Hello Grid*/
  --dashboard-hello-grid-heading-color: #FFFFFF;
  --dashboard-hello-grid-text-fresco-color: #FFFFFF85;
  --dashboard-hello-grid-text-strong-color: #FFFFFFB2;

  /*Sites List*/
  --site-background: #252525;
  --site-pro-toggle-background: #2B2B2B;
  --site-pro-toggle-text-color: #9B9B9B;
  --view-toggle-color: #666666;
  --view-toggle-background: #333333;

  /*Buttons*/
  --blue-button-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
  --secondary-button-border-color: #373737;

  /*Dropdown*/
  --dropdown-background: #2B2B2B;

  /*Sidebar Tooltip*/
  --sidebar-tooltip-background: #2B2B2B;
  --sidebar-tooltip-color: #9B9B9B;

  /*Tooltip*/
  --tooltip-background: #333333;
  --tooltip-color: #FFFFFF;

  /*Notification*/

  /*Modal*/
  --modal-background: #202020;
  --modal-sidebar-background: #272727;
  --modal-backdrop-color: rgba(0, 0, 0, 0.5);

  /*Modal - Appearance*/
  --appearance-light-theme: #F4F4F6;
  --appearance-light-theme-border: rgba(224, 224, 224, 1);
  --appearance-dark-theme: #272727;
  --appearance-dark-theme-border: rgba(85, 85, 85, 1);

  /*Modal - Support*/
  --support-header-background: #272727;
  --support-choice-background: #333333;
  --support-dropzone-background: rgba(0, 153, 254, 0.1);

  /* Modal - Upgrade*/
  --upgrade-bg-popular: #0099FE10;

  /*Home*/
  --home-subtitle-color: #FFFFFF;
  --home-text-color: #FFFFFFB3;
  --home-verify-container-bg: #191919b3;
  --home-bar-color: #666666;
  --home-complyHealth-status-color: #FFFFFF;
  --home-chart-color: #FFFFFF;
  --home-chart-icon-color: #272727;

  /*Builder - General*/
  --handlebars-color: #444444;
  --handlebars-color-active: #666666;

  --header-plan-background: #2B2B2B;
  --builder-background: #202020;
  --builder-text-color: #F5F5F5;
  --panels-background: #191919;
  --canvas-background: #FFFFFF;
  --tooltip-background: #2B2B2B;

  --border-light-color: #2A2A2A;
  --shadow-light-color: #00000010;

  --shadow-color: #999999;
  --subtitle-color: #AAAAAA;
  --label-color: #F5F5F5;
  --icons-color: #999999;

  /* Builder - User Tooltip*/
  --user-tooltip-background: #2B2B2B;
  --user-tooltip-color: #F5F5F5;

  /*Builder - Themes Modal*/
  --themes-modal-background: #191919;
  --free-badge-background: #2B2B2B;

  /*Builder - Toolbar*/
  --toolbar-items-background: #2B2B2B;
  --toolbar-items-background-hover: #3E3E3E;
  --toolbar-items-text-color: #999999;
  --toolbar-items-icon-color: #FFFFFF;
  --toolbar-items-icon-background: #666;

  /*Builder - Left Panel*/
  --logo-background: #2B2B2B;
  --dropdown-background: #2B2B2B;
  --toggle-color: #999999;
  --tab-container-background: #2B2B2B;
  --tab-slider-background: #555555;
  --tab-color: #999999;
  --tab-active-color: #F5F5F5;
  --tab-hover-background: #404040;
  --tab-hover-color: #F5F5F5;

  /*Builder - Tree View*/
  --tree-item-hover-background: #333333;

  --tree-item-selected-background: #0099FE;
  --tree-item-selected-color: #FFFFFF;

  --tree-item-child-selected-color: #999999;

  --tree-expand-button-color: #999999;
  --tree-expand-button-selected-color: #FFFFFF;
  --tree-expand-button-child-selected-color: #999999;

  --square-icon-background: #999999;
  --tree-text-icon-color: #999999;
  
  --child-selected-color: #999999;
  --tree-childs-background: #0099FE26;
}

html[data-theme="dark"] .sidebar__logo-img{
  background: url('/assets/logo-dark-mode.svg');
  background-size: cover;
  width: 25px;
  height: 18px;
}
html[data-theme="dark"] .tw-builder__logo{
  background: url('/assets/logo-dark-mode.svg');
  background-size: cover;
  width: 15px;
  height: 11px;
}


/* Button color variables using data-color */
html[data-color="blue"] {
  --blue-button-shadow: 0px -4px 4px 0px #048DE8 inset, 0px 0px 0px 1px #1D78EB, 0px 0px 0px 1px #57A6FE inset;
  --accent-bg-color: #0099FE;
}

html[data-color="green"] {
  --blue-button-shadow: 0px -4px 4px 0px #3CB82C inset, 0px 0px 0px 1px #2FB11F, 0px 0px 0px 1px #7BD86F inset;
  --accent-bg-color: #4EC93E
}

html[data-color="purple"] {
  --blue-button-shadow: 0px -4px 4px 0px #5951EB inset, 0px 0px 0px 1px #554DFD, 0px 0px 0px 1px #8882FF inset;
  --accent-bg-color: #635BFF
}

html[data-color="orange"] {
  --blue-button-shadow: 0px -4px 4px 0px #F8722C inset, 0px 0px 0px 1px #FF6A1D, 0px 0px 0px 1px #FFA170 inset;
  --accent-bg-color: #FD803F;
}

html[data-color="red"] {
  --blue-button-shadow: 0px -4px 4px 0px #E31B1B inset, 0px 0px 0px 1px #F91212, 0px 0px 0px 1px #F97474 inset;
  --accent-bg-color: #F33D3D;
}