.builder-save{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--accent-bg-color);
    color: var(--accent-color);
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: var(--blue-button-shadow);
    min-width: 46.67px;
    min-height: 27px;

}

.builder-save--loading {
    cursor: not-allowed;
    opacity: 0.8;
}

.builder-save__text{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
}

.builder-save__spinner {
    width: 15px;
    height: 15px;
    
}

.builder-save__svg {
    width: 100%;
    height: 100%;
    animation: spin 0.8s linear infinite;
}

.builder-save__circle {
    fill: none;
    stroke: #fff;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 100;
    opacity: 0.9;
}

@keyframes spin {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}