.modalAccount{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;

}

.modalAccount__aside{
  width: 20%;
  height: 100%;
  background-color: var(--modal-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalAccount__header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.modalAccount__avatar{
  width: 50px;
  height: 50px;
}

.modalAccount__edit{
  font-size: var(--font-size-medium);
  color: rgba(160, 160, 160, 1);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-negative);
  cursor: pointer;
}

.modalAccount__edit:hover{
  color: var(--color-black);
}
.modalAccount__main{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 120px;
  padding-right: 120px;
  padding-top: 20px;
}

