.modalUser{
    display: flex;
    flex-direction: row;
    gap: 5px;

    height: 100%;
    max-height: 350px;
    width: 100%;
}
.modalUser--upgrade{
    max-height: fit-content;
}
.modal:has(> .modalUser--upgrade){
    width: 100%;
}
.modalUser__aside{
    display: flex;
    flex-direction: column;
    min-width: 157px;
    height: 100%;
    background-color: var(--modal-sidebar-background);
    border-radius: 16px 0px 0px 16px;
    padding: 15px;

    overflow: auto;
}
.modalUser__aside::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.modalUser__aside::-webkit-scrollbar-thumb {
    background: var(--body-light-color);
    border-radius: 10px;
}
.modalUser__settings{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modalUser__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 26px;
    padding: 0 10px;
}
.modalUser__item--active{
    background-color: var(--hover-strong-color);
    border-radius: 8px;
}
.modalUser__item:hover{
    background-color: var(--hover-strong-color);
    border-radius: 8px;
    cursor: pointer;
}
.modalUser__item__span{
    color: var(--body-fresco-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
}
.modalUser__item__span--upgrade{
    color: var(--accent-bg-color);
    white-space: nowrap;
}
.modalUser__item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalUser__setting{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    align-items: center;
    min-width: 403px;

    overflow: auto;
}
.modalUser__setting::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.modalUser__setting::-webkit-scrollbar-thumb {
    background: var(--body-light-color);
    border-radius: 10px;
}
.modalUser__divider{
    height: 1px;
    background: var(--border-strong-color);
    width: 100%;
    border: none;
}
.modalUser__tick{
    color: var(--accent-bg-color);
}

@media (max-width: 767px) {
    .modalUser{
        height: 100%;
        max-height: fit-content;
        overflow: auto;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    .modalUser__settings{
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
    .modalUser__aside{
        width: 100%;
        border-radius: 16px 16px 0px 0px;
        justify-content: center;
        min-height: 56px;
        overflow: hidden;
    }
    .modalUser__setting{
        border-radius: 0px 0px 16px 16px;
        overflow-y: auto;
        min-width: 250px;
        scrollbar-width: thin;
        scrollbar-color: var(--border-strong-color) transparent;
    }
    .modalUser__item{
        justify-content: center;
        width: fit-content;
    }
    .modalUser__divider{
        display: none;
    }
    .modalUser__item--upgrade{
        gap: 2px;
    }
}

