.modal-user{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 375px;
    width: 100%;
}
.modal-user--upgrade{
    max-height: fit-content;
}

.modal-user__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 15px;
}
.modal-user__header-title{
    font-size: var(--font-size-small);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-negative);
    color: var(--label-color);
}
.modal-user__header-close{
    cursor: pointer;
    color: #999999;
}
.modal-user__header-close:hover{
    color: red;
}
.modal-user__body{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--border-fresco-color);
}
.modal-user__aside{
    display: flex;
    flex-direction: column;
    min-width: 157px;
    height: 100%;
    background-color: transparent;
    border-radius: 16px 0px 0px 16px;
    padding: 15px;
    overflow: auto;
}
.modal-user__aside::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.modal-user__aside::-webkit-scrollbar-thumb {
    background: var(--body-light-color);
    border-radius: 10px;
}

/* Settings section (Account, Appearance, Plan options) */
.modal-user__settings{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal-user__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 26px;
    padding: 0 10px;
}
.modal-user__item--active{
    background-color: var(--hover-strong-color);
    border-radius: 8px;
}
.modal-user__item:hover{
    background-color: var(--hover-strong-color);
    border-radius: 8px;
    cursor: pointer;
}
.modal-user__item-span{
    color: var(--body-fresco-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
}


/* Setting section (Account, Appearance, Plan view) */
.modal-user__setting{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    align-items: center;
    min-width: 403px;

    overflow: auto;
}
.modalUser__setting::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.modalUser__setting::-webkit-scrollbar-thumb {
    background: var(--body-light-color);
    border-radius: 10px;
}

.modalUser__tick{
    color: var(--accent-bg-color);
}
.modal-user__divider{
    height: 100%;
    background: var(--border-fresco-color);
    width: 1px;
    border: none;
}
@media (max-width: 767px) {
    .modal-user{
        height: 100%;
        max-height: fit-content;
        overflow: auto;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    .modal-user__settings{
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
    .modal-user__aside{
        width: 100%;
        border-radius: 16px 16px 0px 0px;
        justify-content: center;
        min-height: 56px;
        overflow: hidden;
    }
    .modal-user__setting{
        border-radius: 0px 0px 16px 16px;
        overflow-y: auto;
        min-width: 250px;
        scrollbar-width: thin;
        scrollbar-color: var(--border-fresco-color) transparent;
    }
    .modal-user__item{
        justify-content: center;
        width: fit-content;
    }
    .modal-user__divider{
        display: none;
    }
    .modal-user__item--upgrade{
        gap: 2px;
    }
}

