.modal-user{
    display: flex;
    flex-direction: row;
    height: 362px;
    max-width: 800px;
    gap: 5px;
}
.modal-user--upgrade{
    height: 493px;
}
.modal-user__aside{
    display: flex;
    flex-direction: column;
    height: 362px;
    width: 157px;
    height: 100%;
    background-color: var(--modal-sidebar-background);
    border-radius: 16px 0px 0px 16px;
    padding: 15px;
}
.modal-user__settings{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal-user__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 26px;
    padding: 0 10px;
}
.modal-user__item--active{
    background-color: var(--hover-strong-color);
    border-radius: 8px;
}
.modal-user__item:hover{
    background-color: var(--hover-strong-color);
    border-radius: 8px;
    cursor: pointer;
}
.modal-user__item__span{
    color: var(--body-fresco-color);
    font-size: var(--font-size-medium);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-negative);
}
.modal-user__item__span--upgrade{
    color: var(--accent-bg-color);
    white-space: nowrap;
}
.modal-user__item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-user__setting{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0px 16px 16px 0px;
    align-items: center;
    min-width: 403px;
}
.modal-user__divider{
    height: 0.8px;
    background: var(--border-strong-color);
    width: 100%;
    border: none;
}
.modal-user__item--upgrade{
    padding-right: 25px;
}
.modal-user__tick{
    color: var(--accent-bg-color);
}

@media (max-width: 767px) {
    .modal-user{
        height: 100%;
        max-height: fit-content;
        overflow: auto;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }
    .modal-user__settings{
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
    .modal-user__aside{
        width: 100%;
        border-radius: 16px 16px 0px 0px;
        height: 60px;
        justify-content: center;
        padding-left: 5px;
    }
    .modal-user__setting{
        border-radius: 0px 0px 16px 16px;
        overflow-y: auto;
        min-width: 250px;
        scrollbar-width: thin;
        scrollbar-color: var(--border-strong-color) transparent;
    }
    .modal-user__item{
        width: 80px;
        justify-content: center;
    }
    .modal-user__divider{
        display: none;
    }
    .modal-user__item--upgrade{
        width: 120px;
        gap: 2px;
    }
}

