/* Modal backdrop */
.modal__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    height: fit-content;
    background-color: var(--modal-backdrop-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.modal {
    background: var(--modal-background);
    border-radius: 16px;
    max-width: 800px;
    box-shadow: 0 2px 4px 0 var(--shadow-strong-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    position: relative;
    max-height: 493px;
}

/* Remove gap for edit actions */
.modal:has(.modal__actions-edit) {
    gap: 0px;
}

@media (max-width: 767px) {
    .modal__backdrop {
        left: 0;
        width: 100vw;
        top: 0;
    }
    .open {
        left: 0;
        width: 100vw;
    }
    .modal{
        max-height: 550px;
        max-width: 350px;
    }
}
