/* Modal backdrop */
.modal__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 100%;
    background-color: var(--modal-backdrop-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    padding: 20px;

    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.modal {
    background: var(--modal-background);
    border-radius: 16px;
    max-width: 800px;
    box-shadow: var(--fancy-shadow);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    position: relative;

    overflow: hidden;
    height: 100%;
    max-height: fit-content;
    will-change: opacity, transform;
}

/* Remove gap for edit actions */
.modal:has(.modal__actions-edit) {
    gap: 0px;
}

@media (max-width: 767px) {
    .modal{
        height: fit-content;
        max-height: 550px;
        max-width: 350px;
    }
}
