.modal-delete__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.modal:has(.modal-delete__content){
  max-width: 220px;
}

.modal-delete__top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-delete__title {
  letter-spacing: var(--letter-spacing-negative);
  font-size: 13px;
  font-weight: 600;
  color: var(--color-black);
  text-align: left;
}

.modal-delete__divider {
  height: 0.8px;
  background: var(--border-color);
  margin: 4px 0;
  width: 100%;
  border: none;
}

.modal-delete__paragraph {
 
  letter-spacing: var(--letter-spacing-negative);
  font-weight: var(--font-weight);
  font-size: var(--font-size-medium);
  color: var(--color-paragraph-delete);
  text-align: left;
}

.modal-delete__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.modal-delete__cancel {
  letter-spacing: var(--letter-spacing-negative);
  font-weight: var(--font-weight);
  font-size: var(--font-size-medium);
  background: #F3F3F3;
  color: var(--color-gray);
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  box-shadow: 0px -4px 4px 0px #E8E8E8 inset, 0px 0px 0px 1px #C8C8C8, 0px 0px 0px 1px #FFF inset;
  cursor: pointer;
}

.modal-delete__confirm {
  letter-spacing: var(--letter-spacing-negative);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  background: rgba(35, 35, 35, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 0px -4px 4px 0px #000 inset, 0px 0px 0px 1px #000, 0px 0px 0px 1px #444 inset;
}
