.modal-delete__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.modal-delete__top-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-delete__title {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-align: left;
}

.modal-delete__divider {
  height: 0.8px;
  background: #E0E0E0;
  margin: 4px 0;
  width: 100%;
  border: none;
}

.modal-delete__paragraph {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: 12px;
  color: #5E5E5E;
  text-align: left;
}

.modal-delete__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.modal-delete__cancel {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  font-size: 12px;
  background: #F3F3F3;
  color: #686B74;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  box-shadow: 0px -4px 4px 0px #E8E8E8 inset, 0px 0px 0px 1px #C8C8C8, 0px 0px 0px 1px #FFF inset;
  cursor: pointer;
}

.modal-delete__confirm {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-size: 12px;
  font-weight: 500;
  background: #232323;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: 0px -4px 4px 0px #000 inset, 0px 0px 0px 1px #000, 0px 0px 0px 1px #444 inset;
}
