/*Toolbar*/
.tw-builder__toolbar-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    --dimensions: 35px;

    width: var(--dimensions);
    height: var(--dimensions);
    padding: 8px;
    border-radius: 8px;

    transition: background 0.4s ease;

    position: relative;
    z-index: 1; /*to be above divider*/
}
.tw-builder__toolbar-icon:hover{
    background: var(--toolbar-items-background);
}
.tw-builder__toolbar-icon svg{
    width: 100%;
    height: 100%;
}
.tw-builder__toolbar-divider{
    background-color: var(--border-light-color);
    width: 2px;
    height: 100%;

    position: absolute;
    top: 0px;
    right: 47px;
}
.tw-builder__toolbar-icon--texts{
    margin-right: 8px;
}

/*Dropdown*/
.tw-builder__toolbar-dropdown{
    background-color: var(--panels-background);
    border-radius: 12px;
    border: 1px solid var(--border-light-color);
    box-shadow: 0 2px 4px 0 var(--shadow-light-color);

    position: absolute;
    /*left is determined by js calcs*/
    bottom: calc(100% + 12px);

    user-select: none;

    transform: translateY(10px) scale(0.9);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.2s ease, opacity 0.2s ease;
    will-change: transform, opacity;

    display: flex;
    flex-direction: row;
}
.tw-builder__toolbar-dropdown::after{
    --hover-padding-area: 20px;

    content: "";
    /*background-color: red; to see the hover padding area of the icon*/

    position: absolute;
    bottom: calc(var(--hover-padding-area) * -1);
    width: 100%;
    height: var(--hover-padding-area);
}
.tw-builder__toolbar-icon:hover > .tw-builder__toolbar-dropdown{
    transform: translateY(0px) scale(1);
    opacity: 1;
    pointer-events: auto;
}
.tw-builder__toolbar-dropdown-column{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
}
.tw-builder__toolbar-dropdown-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    padding: 6px;
    border-radius: 8px;

    cursor: pointer;
    background-color: var(--toolbar-items-background);

    width: 100px;
    height: 70px;

    transition: background-color 0.3s ease;
}
.tw-builder__toolbar-dropdown-item:hover{
    background-color: var(--toolbar-items-background-hover);
}
.tw-builder__toolbar-dropdown-item-title{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    color: var(--toolbar-items-text-color);
}
.tw-builder__toolbar-dropdown-item-icon{
    width: 40px;
    height: 28px;

    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--toolbar-items-icon-background);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
.tw-builder__toolbar-dropdown-column-title{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight);
    color: var(--toolbar-items-text-color);

    margin: 2px 0;
    margin-left: 2px;
}
.tw-builder__toolbar-dropdown-divider{
    min-height: 100%;
    width: 1px;
    background-color: var(--border-light-color);
}

/*Block element*/
.tw-builder__toolbar-dropdown-item-icon--block::before{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: var(--toolbar-items-icon-color);
}
.tw-builder__canvas .tw-block--empty{
    outline: 1px solid var(--border-light-color);
    outline-offset: -1px;
    min-height: 50px;
}

/*Image element*/
.tw-builder__toolbar-dropdown-item-icon--image svg{
    width: 100%;
    height: 100%;
    fill: var(--toolbar-items-icon-color);
}
.tw-builder__canvas .tw-image{
    width: auto;
    height: auto;
}

/*Divider element*/
.tw-builder__toolbar-dropdown-item-icon--divider::before{
    content: "";
    width: 16px;
    height: 2px;
    border-radius: 100px;
    background: var(--toolbar-items-icon-color);
}
.tw-divider{
    width: 100%;
    height: 2px;
    background: var(--border-light-color);
}

/*Text element*/
.tw-builder__toolbar-dropdown-item-icon--text svg{
    width: 100%;
    height: 100%;
    stroke: var(--toolbar-items-icon-color);
}
.tw-builder__canvas .tw-text{
    min-width: fit-content;
    width: fit-content;
}

/*Accept all*/
.tw-builder__toolbar-dropdown-item--accept-all{
    background-color: #19D85C15;
}
.tw-builder__toolbar-dropdown-item--accept-all:hover{
    background-color: #19D85C30;
}
.tw-builder__toolbar-dropdown-item--accept-all .tw-builder__toolbar-dropdown-item-title{
    color: #19D85C;
}
.tw-builder__toolbar-dropdown-item-icon--accept-all{
    background-color: #19D85C;
    border-radius: 7px;
}
.tw-builder__toolbar-dropdown-item-icon--accept-all::before{
    content: "";
    width: 15px;
    height: 3px;
    border-radius: 100px;
    background: #FFFFFF;
}
/*Accept all element*/
.tw-accept-all{
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;

    border-radius: 8px;
    background: #19D85C;

    width: fit-content;
    padding: 6px 12px;
}

/*Reject all*/
.tw-builder__toolbar-dropdown-item--reject-all{
    background-color: #FA243B15;
}
.tw-builder__toolbar-dropdown-item--reject-all:hover{
    background-color: #FA243B30;
}
.tw-builder__toolbar-dropdown-item--reject-all .tw-builder__toolbar-dropdown-item-title{
    color: #FA243B;
}
.tw-builder__toolbar-dropdown-item-icon--reject-all{
    background-color: #FA243B;
    border-radius: 7px;
}
.tw-builder__toolbar-dropdown-item-icon--reject-all::before{
    content: "";
    width: 15px;
    height: 3px;
    border-radius: 100px;
    background: #FFFFFF;
}
/*Reject all element*/
.tw-reject-all{
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;

    border-radius: 8px;
    background: #FA243B;

    width: fit-content;
    padding: 6px 12px;
}

/*Categories grid*/
.tw-builder__toolbar-dropdown-column--categories .tw-builder__toolbar-dropdown-grid{
    display: grid;
    grid-template-rows: 70px 70px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
}
.tw-builder__toolbar-dropdown-item--categories{
    grid-row: span 2;
    height: 100%;
}

/*Open modal*/
/*Enable categories*/
/*Disable categories*/
.tw-builder__toolbar-dropdown-item-icon--open-modal,
.tw-builder__toolbar-dropdown-item-icon--enable-categories,
.tw-builder__toolbar-dropdown-item-icon--disable-categories{
    background-color: #999999;
    border-radius: 7px;
}
.tw-builder__toolbar-dropdown-item-icon--open-modal::before,
.tw-builder__toolbar-dropdown-item-icon--enable-categories::before,
.tw-builder__toolbar-dropdown-item-icon--disable-categories::before{
    content: "";
    width: 15px;
    height: 3px;
    border-radius: 100px;
    background: #FFFFFF;
}
/*Open modal element*/
.tw-open-modal{
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;

    border-radius: 8px;
    background: #111111;

    width: fit-content;
    padding: 6px 12px;
}
/*Enable categories element*/
.tw-enable-categories{
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;

    border-radius: 8px;
    background: #111111;

    width: fit-content;
    padding: 6px 12px;
}
/*Disable categories element*/
.tw-disable-categories{
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;

    border-radius: 8px;
    background: #111111;

    width: fit-content;
    padding: 6px 12px;
}

/*Save categories*/
.tw-builder__toolbar-dropdown-item--save-categories{
    background-color: #0099FE15;
}
.tw-builder__toolbar-dropdown-item--save-categories:hover{
    background-color: #0099FE30;
}
.tw-builder__toolbar-dropdown-item--save-categories .tw-builder__toolbar-dropdown-item-title{
    color: #0099FE;
}
.tw-builder__toolbar-dropdown-item-icon--save-categories{
    background-color: #0099FE;
    border-radius: 7px;
}
.tw-builder__toolbar-dropdown-item-icon--save-categories::before{
    content: "";
    width: 15px;
    height: 3px;
    border-radius: 100px;
    background: #FFFFFF;
}
/*Save categories element*/
.tw-save-categories{
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.02em;

    border-radius: 8px;
    background: #0099FE;

    width: fit-content;
    padding: 6px 12px;
}

/*Categories*/
.tw-builder__toolbar-dropdown-item--categories{
    background-color: #0099FE15;
}
.tw-builder__toolbar-dropdown-item--categories:hover{
    background-color: #0099FE30;
}
.tw-builder__toolbar-dropdown-item--categories .tw-builder__toolbar-dropdown-item-title{
    color: #0099FE;
}
.tw-builder__toolbar-dropdown-item--categories svg{
    height: 105px;
}
/*Categories element*/
.tw-categories__expander {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.tw-categories__expander-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tw-categories__expander-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tw-categories__expander-toggle {
    position: relative;
    width: 26px;
    height: 16px;
    background-color: #555;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.2s;
}
.tw-categories__expander-toggle input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    margin: 0;
    cursor: pointer;
}
.tw-categories__expander-toggle span {
    position: absolute;
    z-index: 1;
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 100px;
    box-shadow: 0 4px 4px #00000020;
    transition: left 0.2s;
}
.tw-categories__expander-toggle:has(input:checked) {
    background: #0099FE;
}
.tw-categories__expander-toggle input:checked + span {
    left: 12px;
}
.tw-categories__expander-label {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tw-categories__expander-content {
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
}
.tw-categories__expander-icon {
    width: 14px;
    height: 14px;
    color: #000;
    transition: transform 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.tw-categories__expander--open .tw-categories__expander-icon {
    transform: rotate(45deg);
}