.sidebar__sites-tooltip-wrapper{
    position: relative;
    width: 100%;
}

.sidebar__sites-tooltip-wrapper--open{
    position: static;
}


.sidebarSites__site{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: var(--background-color-black);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    font-family: var(--font-family);
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid transparent;
    gap: 10px;
    padding: 4.5px 3.5px 1.5px 3.5px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.sidebarSites__site--open{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        cursor: pointer;
        text-decoration: none;
        color: var(--background-color-black);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight);
        letter-spacing: var(--letter-spacing-negative);
        font-family: var(--font-family);
        display: flex;
        overflow: visible;
        white-space: nowrap;
        border: 1px solid transparent;
        gap: 10px;
        padding: 3.5px 3.5px 1.5px 3.5px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    
.sidebarSites__site:hover{
    background-color: rgba(235, 235, 235, 1);
}
.sidebarSites__site--open:hover{
    background-color: rgba(235, 235, 235, 1);
}
.sidebarSites__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.sidebarSites__header-name{
    text-overflow: ellipsis;
    max-width: 94px;
    overflow: hidden;
    white-space: nowrap;
}
.sidebarSites__edit{
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: opacity 0.3s ease;
    margin-right: 10px;
    height: 15px;
}   
.sidebarSites__site--open:hover .sidebarSites__edit{
    opacity: 1;
    transition: opacity 0.3s ease;
    height: 15px;
}

.sidebarSites__header-avatar-img{
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 6px;
    background-color: #fff;
    padding: 4px;
}



.tooltip--sidebar{
   display: none;
}

.sidebar__sites-tooltip-wrapper:hover .tooltip--sidebar{
    display: block;
}

.sidebarSites__header-name{
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    font-family: var(--font-family);
    padding-bottom: 4px;
}

@media (max-width: 767px) {
    .sidebarSites__header-name{
        max-width: 487px;
    }
}

