.integrations{
    width: 100%;
    padding: 50px 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.integrations__card{
    width: 100%;
    max-width: 867px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background: var(--integrations-card-background);
    border-radius: 16px;
    border: 1px solid var(--border-fresco-color);

    box-shadow: var(--fancy-shadow);
}
.integrations__card-title{
    font-size: var(--font-heading);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}
.integrations__card-text{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);

    line-height: 1.4;
}
.integrations__card-divider{
    height: 1px;
    background: var(--border-strong-color);
    width: 100%;
    border: none;
}

/* Mini cards */
.integrations__mini-cards-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.integrations__mini-card{
    padding: 15px;
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100px;

    border-radius: 8px;
}
.integrations__mini-card--google-analytics{
    background: linear-gradient(281deg, #FFAD01 -28.12%, #FF4B14 127.58%);
}
.integrations__mini-card--google-tag-manager{
    background: linear-gradient(84deg, #89B4F8 -27.35%, #256FDC 115.35%);
}
.integrations__mini-card-title{
    font-size: var(--heading-font-size);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: #fff;
}
.integrations__mini-card-image{
    position: absolute;
    right: 25px;
    bottom: -10px;
}

/* Responsive */
@media (max-width: 768px) {
    .integrations__mini-cards-wrapper{
        flex-direction: column;
    }
}