/* Sidebar Desktop - General */
.sidebar{
  padding: 35px 15px 20px 15px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100dvh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  align-items: start;
  z-index: 4;
  gap: 25px;
}
.sidebar__container{
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  align-content: space-between;

  white-space: nowrap;
  background-color: var(--sidebar-background);
}
.sidebar__logos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-bottom: var(--border);
  width: 31px;
  color: var(--icons-fresco-color);

  width: 100%;
  height: fit-content;

  z-index: 1;
}
.sidebar__action {
  cursor: pointer;
}
.sidebar__sites-overflow-padding{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sidebar__desk{
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}
.sidebar__divider{
  min-height: 1px;
  background: var(--border-strong-color);
  width: 100%;
  border: none;
  margin: 10px 0;
}

/* Upper section of the content */	
.sidebar__upper {
  display: grid;
  grid-template-columns: 100%;
  gap: 0;
  min-height: 100%;
}

/* Header of the sidebar (Home/Dashboard) */
.sidebar-header{
  padding: 6px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  gap: 10px;
  white-space: nowrap;
  align-items: center;         
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: var(--sidebar-transition);
}
.sidebar-header--active,
.sidebar-header:hover{
  background-color: var(--hover-light-color);
  border: 1px solid var(--border-fresco-color);
  padding: 6px;
}
.sidebar-header__icon{
  width: 22px;
  height: 22px;
  background-color: var(--logo-background);
  padding: 4px;
  border-radius: 6px;            
  border: 1px solid var(--border-fresco-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px var(--shadow-fresco-color);
  color: var(--body-strong-color);
}
.sidebar-header__svg{
  width: 22px;
  height: 22px;
}
.sidebar-header__text{
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  color: var(--body-strong-color);
  letter-spacing: var(--letter-spacing-negative);
}

/* Sites section */
.sidebar__sites{
  display: grid;
  grid-template-columns: 100%;

  width: 100%;
  min-height: 100%;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;
}
/* Sites header */
.sidebar__sites-header{
  display: none;
  min-height: 23px;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
/* Sites searcher */
.sidebar__sites-searcher{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.sidebar__sites-searcher--open{
  justify-content: flex-start;
}
.sidebar__sites-input{
  display: flex;
  width: 0;
  opacity: 0;
  transition: opacity 0.4s ease; 
}
.sidebar__sites-input--open{
  width: 100px;
  background-color: var(--hover-light-color);
  border: 1px solid var(--border-fresco-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  border-radius: 7px;
  padding: 5px 5px 5px 5px;
  opacity: 1;
  font-size: var(--font-size-mini);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-strong-color);
}
.sidebar__sites-searcher--open .sidebar__sites-search{
  display: none;
}
.sidebar__sites-input:focus{
  outline: none;
}
.sidebar__sites-title{
  font-size: 10px;
  font-weight: 700;
  color: var(--body-fresco-color);
  letter-spacing: 0.10em;
  margin-right: 10px; 
  text-transform: uppercase;
}
.sidebar__sites-title--link{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar__sites-search{
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-left: 13px;
  color: var(--body-fresco-color);
}
.sidebar__sites-add{
  margin-left: 5px;
  cursor: pointer;
  padding-bottom: 3.5px;
  color: var(--icons-fresco-color);
}

/* Sites container */
.sidebar__sites-container{
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  height: 100%;
}
.sidebar__sites-display{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  height: 100%;

  overflow: auto;
}
.sidebar__sites-display::-webkit-scrollbar {
  width: 4px;
}
.sidebar--closed .sidebar__sites-display::-webkit-scrollbar {
  width: 0px;
}
.sidebar__sites-display::-webkit-scrollbar-thumb {
  background: var(--body-light-color);
  border-radius: 100px;
}

.sidebar__sites-display-links{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* No sites yet */
.sidebar__sites-display--none{
  color: var(--body-fresco-color);
  font-size: var(--font-size-mini);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  display: none;
  transition: opacity 0.4s ease; 
}
.sidebar__sites-display-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: var(--wrappers-strong-color);
  padding: 20px 10px;
  border-radius: 8px;
  width: 100%;
}
.sidebar__sites-display-text{
  font-size: var(--font-size-mini);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-fresco-color);
}
.sidebar__sites-display-span{
  color: var(--accent-bg-color);
}

/* Lower section of the content */
.sidebar__lower {
  display: flex;
  flex-direction: column;
  gap: 0;

  padding-top: 10px;
}
.sidebar__others{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.sidebar__site-link{
  display: flex;
  overflow: hidden;
  gap: 12px;
  white-space: nowrap;
  align-items: center;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s ease;
}
.sidebar__site-link:hover{
  background-color: var(--hover-light-color);
  border: 1px solid var(--border-fresco-color);
}

.sidebar__site-link-icon{
  background-color: var(--logo-background);
  padding: 3px;
  border-radius: 6px;
  border: 1px solid var(--border-fresco-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px var(--shadow-fresco-color);
  color: var(--icons-strong-color);
}

.sidebar__site-link-text{
  color: var(--body-strong-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
}
.sidebar__link-svg{
  width: var(--sidebar-icon-size);
  height: var(--sidebar-icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__site-link--active{
  background-color: var(--hover-light-color);
  border: 1px solid var(--border-fresco-color);
}

.sidebar__site-link--coming-soon {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  position: relative;
}

/* Badge for Coming Soon */
.sidebar__site-link-badge {
  position: absolute;
  top: 2px;
  right: 20px;
  font-weight: 600;
  color: var(--warning-color);
  font-size: var(--font-size-medium);
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-negative);
}

.sidebar__user-avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}


/* Sidebar Desktop - Opened */
.sidebar--open {
  width: var(--sidebar-width-open);
}
.sidebar--open .sidebar__logo-img{
  margin-left: 5px;
}
.sidebar--open .sidebar__logos{
  flex-direction: row;
  gap: 0;
}
.sidebar--open .sidebar__sites-display--overflow .sidebar__sites-overflow-padding{
  padding-right: 5px;
}
.sidebar--open .sidebar__sites-display--overflow .sidebar__sites-overflow-padding:has(> .sidebar__sites-display--none){
  padding-right: 0px;
}
.sidebar--open .sidebar__sites{
  flex-direction: column;
}
.sidebar--open .sidebar__sites-header{
  display: flex;
}
.sidebar--open .sidebar__sites-display--none{
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
}

/* Sidebar Desktop - Closed */
.sidebar--closed{
  width: var(--sidebar-width-close);
}
.sidebar--closed .sidebar__action {
  position: absolute;
  z-index: 1;
  left: calc(100% + 10px);
  transform: rotate(180deg);

  background: var(--content-background);
  padding: 5px;
  margin-top: -5px;
  border-radius: 8px;
}
.sidebar--closed .user__name,
.sidebar--closed .skeleton-user-name{
  display: none;
}

/* Sidebar Mobile - General */
.sidebar__burger,
.sidebar__cross{
  display: none;
}
@media (max-width: 767px) {
  .sidebar{
    width: 100%;
    background-color: transparent;
    padding: 0 15px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    z-index: 4;
    gap: 0;
  }
  .sidebar__burger{
    display: flex;
    z-index: 4;
    color: var(--icons-strong-color);
  }
  .sidebar__logos{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
    border: none;
  
    min-height: 87px;
  }
  .sidebar__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
  }
  .sidebar__logo-img{
    margin-left: 5px;
  }
  .sidebar__container{
    display: none;
  }
  .sidebar__desk{
    display: none;
  }
  .sidebar--menu .sidebar__burger{
    display: none;
  }
  .sidebar--menu .sidebar__cross{
    display: flex;
    color: var(--icons-strong-color);
  }
  .sidebar-header{
    background-color: var(--hover-light-color);
    border: 1px solid var(--border-fresco-color);
    padding: 6px;
  }
  .sidebar .sidebar__action {
    position: static;

    /*sidebar--closed overrides*/
    transform: unset;
    background: unset;
    padding: unset;
    margin-top: unset;
    border-radius: unset;
  }
}
.sidebar__backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--sidebar-menu-backdrop-color);
  display: flex;
  z-index: 3;

  -webkit-backdrop-filter: blur(var(--backdrop-blur));
  backdrop-filter: blur(var(--backdrop-blur));
}
.sidebar--menu .sidebar__logos{
  flex-direction: row;
  gap: 0;
}
.sidebar--menu .sidebar__sites-header{
  display: flex;
  align-items: center;
}
.sidebar--menu .sidebar__sites-title{
  width: 100%;
}
.sidebar--menu .sidebar__sites-display--none{
  display: flex;
  align-self: center;
}
.sidebar--menu .sidebar__container{
  width: 100%;
  background-color: var(--sidebar-background);
  padding: 15px;
  position: relative;
  left: 0;
  top: 0;
  display: grid;
  z-index: 1;
  border: 1px solid var(--border-fresco-color);
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;

  min-height: unset;
  height: fit-content;
  max-height: calc(100dvh - 102px);
}
.sidebar--menu .sidebar__sites-dropdown .dropdown__menu{
  margin-top: 10px;
}
.sidebar--menu .sidebar__sites-display--overflow .sidebar__sites-overflow-padding{
  padding-right: 5px;
}
.sidebar.sidebar--menu .user__profile{
  display: flex;
}