.new-site__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--accent-bg-color);
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: var(--blue-button-shadow);
  }
  .new-site__text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--accent-color);
  }
  .new-site__svg{
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5px;
  }