.new-site__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--accent-bg-color);
    padding: 6px 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: var(--blue-button-shadow);

    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--accent-color);
  }