.siteView{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.siteView__header{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--border-strong-color);
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.siteView__header__avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.siteView__header__img{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--logo-background);
    border: 1px solid var(--border-strong-color);
    padding: 1.5px;
}
.siteView__header__title{
    font-size: var(--font-size-medium);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}
@media (max-width: 767px) {
    .siteView__header{
        height: 150px;
    }
}
