.offcanvas-pricing {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    
}
.offcanvas-pricing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%; 
    background-image: url('/assets/login-blur.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transform: rotate(180deg);
    z-index: 0;
    pointer-events: none;
}


.offcanvas-pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 200px 0 50px 0;
}

.offcanvas-pricing__header-title {
    font-size: var(--font-heading);
    font-weight: var(--font-weight-semibold);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
}

.offcanvas-pricing__header-billing {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    background-color: var(--offcanvas-toggle-background);
    border-radius: 100px;
    position: relative;
    height: 30px;
    width: 144px;
    
}

.offcanvas-pricing__header-billing-slider {
    width: 72px;
    height: 100%;
    background-color: var(--offcanvas-toggle-active);
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid var(--offcanvas-toggle-background);
 
}

.offcanvas-pricing__header-billing-time {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-semibold);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    cursor: pointer;
    z-index: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.offcanvas-pricing__header-billing-discount {
position: absolute;
right: 0;
top: 0;
transform: translateX(50%) translateY(-50%);
font-size: var(--font-size-extreme-mini);
font-weight: var(--font-weight-semibold);
color: var(--accent-bg-color);
background-color: #0099FE1A;
letter-spacing: var(--letter-spacing-negative);
border-radius: 100px;
border: 1px solid #0099FE5A;
padding: 2px;
}

.offcanvas-pricing__content {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: end;
}

.offcanvas-pricing__content-plan {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border-fresco-color);
    border-radius: 8px;
    padding: 16px;
    height: max-content;
}
.offcanvas-pricing__content-plan-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.offcanvas-pricing__content-plan-name {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}
.offcanvas-pricing__content-plan-limited {
    font-size: var(--font-size-extreme-mini);
    font-weight: var(--font-weight-semibold);
    color: var(--accent-bg-color);
    background-color: #0099FE1A;
    letter-spacing: var(--letter-spacing-negative);
    border-radius: 3px;
    padding: 2px;
}
.offcanvas-pricing__content-plan-price-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.offcanvas-pricing__content-plan-price {
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    display: flex;
    align-items: end;
}
.offcanvas-pricing__content-plan-price-currency {
    font-size: var(--font-size-mini);
    padding-bottom: 2px;
}
.offcanvas-pricing__content-plan-billed {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    color: var(--offcanvas-billing-color);
    letter-spacing: var(--letter-spacing-negative);
}
.offcanvas-pricing__content-plan-flexpay {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.offcanvas-pricing__content-plan-flexpay-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 26px;
    height: 16px;
}
.offcanvas-pricing__content-plan-flexpay-toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
.offcanvas-pricing__content-plan-flexpay-toggle-action {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--offcanvas-toggle-background);
    border-radius: 34px;
    transition: .2s;
    overflow: hidden;
}

.offcanvas-pricing__content-plan-flexpay-toggle-action:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .2s;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
  
.offcanvas-pricing__content-plan-flexpay-toggle-checkbox:checked + .offcanvas-pricing__content-plan-flexpay-toggle-action {
    background-color: #1CD51F;
}
.offcanvas-pricing__content-plan-flexpay-toggle-checkbox:checked + .offcanvas-pricing__content-plan-flexpay-toggle-action:before {
    transform: translateX(10px);
}
.offcanvas-pricing__content-plan-flexpay-text {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-semibold);
    color: #FFFFFFBF;
    letter-spacing: var(--letter-spacing-negative);
}
.offcanvas-pricing__content-plan-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--accent-bg-color);
}

.offcanvas-pricing__content-plan-cta--current {
    border: 1px solid var(--border-strong-color);
    background-color: transparent;
}
.offcanvas-pricing__content-plan-cta-text {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-semibold);
    color: var(--accent-color);
    letter-spacing: var(--letter-spacing-negative);
}

.offcanvas-pricing__content-plan-cta--current .offcanvas-pricing__content-plan-cta-text {
    color: var(--body-fresco-color);
}

.offcanvas-pricing__content-plan-features {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.offcanvas-pricing__content-plan-features-title {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-semibold);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}
.offcanvas-pricing__content-plan-features-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.offcanvas-pricing__content-plan-features-icon--pro{
    color: var(--accent-bg-color);
}
.offcanvas-pricing__content-plan-features-text {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing-negative);
}
.offcanvas-pricing__content-plan-features-text--keyword {
    display: inline-block;
    position: relative;
    cursor: help;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.offcanvas-pricing__content-plan-features-text--keyword .tooltip__mask{
    right: 75%;
    max-width: 150px;
    width: max-content;
    }
.offcanvas-pricing__content-plan-features-text--keyword .tooltip__message{
    white-space: normal;
}
.offcanvas-pricing__content-plan-features-text--keyword .tooltip--top{
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;

}


.offcanvas-pricing__content-plan-features-text--cross {
    color: var(--body-light-color);
}
.offcanvas-pricing__content-plan-features-icon--cross {
    color: var(--body-light-color);
}


.offcanvas-pricing__conent-divider {
    width: 100%;
    height: 1px;
    background-color: var(--border-fresco-color);
}

.offcanvas-pricing__footer {
    padding: 16px 24px;
    display: flex;
   
} 

.offcanvas-pricing__footer-enterprise {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid var(--border-fresco-color);
    border-radius: 8px;
    gap: 16px;
}

.offcanvas-pricing__footer-enterprise-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.offcanvas-pricing__footer-enterprise-block {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    gap: 16px;
}
.offcanvas-pricing__footer-enterprise-title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    width: fit-content;
}

@media (max-width: 767px) {
    .offcanvas-pricing__footer{
        align-items: center;
        justify-content: center;
    }
    .offcanvas-pricing__footer-enterprise{
        width: 100%;
    }
    .offcanvas-pricing__footer-enterprise-content{
        flex-direction: column;
        gap: 32px;
    }
    .offcanvas-pricing__footer-enterprise-block{
        width: 100%;
    }
    .offcanvas-pricing__content{
        grid-template-columns: repeat(1, 1fr);
    }
}