.offcanvas-pricing {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('/assets/login-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--offcanvas-background);
    position: relative;
    overflow: hidden;
}

.offcanvas-pricing__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 55%;
    display: flex;
    justify-content: center;
}

.offcanvas-pricing__bg svg {
    filter: blur(1px);   
}

.offcanvas-pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 200px 0 50px 0;
    border-bottom: 1px solid var(--border-fresco-color);
}

.offcanvas-pricing__header-title {
    font-size: var(--font-heading);
    font-weight: var(--font-weight-semibold);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
}

.offcanvas-pricing__header-billing {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    background-color: var(--offcanvas-toggle-background);
    border-radius: 100px;
    position: relative;
    height: 30px;
    width: 144px;
    
}

.offcanvas-pricing__header-billing-slider {
    width: 72px;
    height: 100%;
    background-color: var(--offcanvas-toggle-active);
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
 
}

.offcanvas-pricing__header-billing-time {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-semibold);
    color: var(--body-strong-color);
    letter-spacing: var(--letter-spacing-negative);
    cursor: pointer;
    z-index: 1;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.offcanvas-pricing__header-billing-discount {
position: absolute;
right: 0;
top: 0;
transform: translateX(50%) translateY(-50%);
font-size: var(--font-size-extreme-mini);
font-weight: var(--font-weight-semibold);
color: var(--accent-bg-color);
letter-spacing: var(--letter-spacing-negative);
background-color: #1D2C36;
border-radius: 100px;
border: 1px solid #1E3747;
padding: 2px;
}

.offcanvas-pricing__content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.offcanvas-pricing__content-plan {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--border-fresco-color);
    border-radius: 8px;
    padding: 16px;
}
.offcanvas-pricing__content-plan-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.offcanvas-pricing__conent-divider {
    width: 100%;
    height: 1px;
    background-color: var(--border-fresco-color);
}

.offcanvas-pricing__footer {
    padding: 16px 24px;
    border-top: 1px solid var(--border-fresco-color);
    text-align: center;
}

