.dropdown * {
  will-change: transform;
}
/* Dropdown root container */
.dropdown {
  position: static;
  display: inline-block;
}

/* Sidebar open state (desktop) */
.sidebar--open .dropdown {
  position: static;
}

.sidebar--mobile .dropdown {
  position: static;
}

/* Dropdown menu styles */
.dropdown__menu {
  position: absolute;
  min-width: 165px;
  background: var(--dropdown-background);
  border: 1px solid var(--border-strong-color);
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 var(--shadow-fresco-color);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  margin-top: 4px;
  overflow: hidden;
  padding: 4px;
  z-index: 2;
}

/* Dropdown item styles */
.dropdown__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  background: none;
  border: none;
  border-radius: 6px;
  color: var(--body-fresco-color);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight);
  font-size: var(--font-size-medium);
  padding: 8px 12px;
}
.dropdown__item:hover {
  background: var(--accent-bg-color);
  color: var(--accent-color);
  border-radius: 6px;
}

/* Delete item */
.dropdown__item--delete {
  color: var(--warning-color);
}
.dropdown__item--delete:hover {
  background: var(--hover-warning-color);
  color: var(--warning-color);
}

/* Icon and delete icon styles */
.dropdown__icon,
.dropdown__icon--delete {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-fresco-color);
}
.dropdown__icon--delete {
  color: var(--warning-color);
}
.dropdown__item.dropdown__item--delete:hover .dropdown__icon--delete {
  color: var(--warning-color);
}
.dropdown__item:hover .dropdown__icon {
  color: var(--accent-color);
}

/* Divider */
.dropdown__divider {
  height: 0.8px;
  background: var(--border-strong-color);
  width: 100%;
  border: none;
}

/* Site Dropdown */
.site-dropdown {
  position: relative;
}
.site-dropdown .dropdown__menu {
  top: calc(100% + 4px);
  left: 0;
  transform-origin: top left;
}

/* Dashboard Header Dropdown */
.dashboardHeader-dropdown .dropdown__menu {
  transform-origin: top right;
  top: calc(100% + 4px);
  left: -150%;
  transform: translateX(50%);
}

@media (max-width: 992px), (max-width: 467px) {
  .site-dropdown .dropdown__menu {
    right: 0;
    left: unset;
  }
}

/* Sort Dropdown */
.sort-dropdown {
  position: relative;
}
.sort-dropdown .dropdown__menu {
  top: calc(100% + 4px);
  left: 0;
  transform-origin: top left;
  min-width: 130px;
}

@media (max-width: 1280px), (max-width: 992px), (max-width: 467px) {
  .sort-dropdown .dropdown__menu {
    right: 0;
    left: unset;
    transform-origin: top right;
  }
}

/* Sidebar Dropdown */
.sidebarSites-dropdown {
  position: relative;
}
.sidebarSites-dropdown .dropdown__menu {
  transform-origin: top left;
  min-width: fit-content;
}
@media (max-width: 767px), (max-width: 467px) {
  
    .sidebar--mobile .sidebarSites__site .dropdown{
      width: 100%;
      justify-content: flex-end;
      display: flex;
    } 

    
    .sidebar--mobile .sidebarSites__site .dropdown__menu{
      left: 6%;
      width: 85%;
      transform-origin: top;
    }

    .dashboardHeader-dropdown .dropdown__menu {
      top: calc(100% + 4px);
      left: -130%;
      transform: translateX(0%);
    }
    
  }

/* User */
.user-dropdown {
  width: 100%;
}
.user-dropdown:hover::before{
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}
.user-dropdown .dropdown__menu {
  bottom: calc(100% + 15px);
  transform-origin: bottom;
}
@media (max-width: 767px) {
  .user-dropdown .dropdown__menu {
    width: 100%;
    left: 0;
  }
}