/* Dropdown root container */
.dropdown {
  position: static;
  display: inline-block;
}

/* Sidebar open state (desktop) */
.sidebar--open .dropdown {
  position: static;
}

/* Dropdown menu styles */
.dropdown__menu {
  position: absolute;
  min-width: 180px;
  background: var(--dropdown-background);
  border: 1px solid var(--border-strong-color);
  border-radius: 8px;
  box-shadow: 0 4px 5px 0 var(--shadow-fresco-color);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  margin-top: 4px;
  overflow: hidden;
  padding: 4px;
  z-index: 2;
}

/* Dropdown item styles */
.dropdown__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
  background: none;
  border: none;
  border-radius: 6px;
  color: var(--body-fresco-color);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--font-weight);
  font-size: var(--font-size-medium);
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;

}
.dropdown__item:hover {
  background: var(--accent-bg-color);
  color: var(--accent-color);
  border-radius: 6px;
}

/* Delete item */
.dropdown__item--delete {
  color: var(--warning-color);
}
.dropdown__item--delete:hover {
  background: var(--hover-warning-color);
  color: var(--warning-color);
}

/* Icon styles */
.dropdown__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-fresco-color);
}
.dropdown__icon--delete {
  color: var(--warning-color);
}
.dropdown__item.dropdown__item--delete:hover .dropdown__icon--delete {
  color: var(--warning-color);
}
.dropdown__item:hover .dropdown__icon {
  color: var(--accent-color);
}

/* Divider */
.dropdown__divider {
  height: 0.8px;
  background: var(--border-strong-color);
  margin: 4px 0;
  width: 100%;
  border: none;
}

/* Site Dropdown */
.site-dropdown {
  position: relative;
}
.site-dropdown .dropdown__menu {
  top: calc(100% + 4px);
  left: 0;
  transform-origin: top left;
}
@media (max-width: 1550px), (max-width: 992px), (max-width: 467px) {
  .site-dropdown .dropdown__menu {
    right: 0;
    left: unset;
    transform-origin: top right;
  }
}

/* Sort Dropdown */
.sort-dropdown {
  position: relative;
}
.sort-dropdown .dropdown__menu {
  top: calc(100% + 4px);
  left: 0;
  transform-origin: top right;
}
@media (max-width: 1550px), (max-width: 992px), (max-width: 467px) {
  .sort-dropdown .dropdown__menu {
    right: 0;
    left: unset;
    transform-origin: top right;
  }
}

/* Sidebar Dropdown */
.sidebarSites-dropdown {
  position: relative;
}
.sidebarSites-dropdown .dropdown__menu {
  transform-origin: top left;
}
@media (max-width: 992px), (max-width: 467px) {
  .sidebarSites-dropdown .dropdown__menu {
    transform-origin: top right;
  }
}
@media (max-width: 767px) {
  .sidebarSites__site--open .dropdown{
      width: 100%;
      justify-content: flex-end;
      display: flex;
    } 
    .sidebarSites__site--open .dropdown__menu{
      width: 100%;
    }
  }

/* Profile Dropdown */
.profileDropdown-dropdown {
  width: 100%;
}
.profileDropdown-dropdown:hover::before{
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}
.profileDropdown-dropdown .dropdown__menu {
  bottom: calc(100% + 15px);
  left: -7px;
  transform-origin: bottom;
}

@media (max-width: 767px) {
  .profileDropdown-dropdown .dropdown__menu {
    width: 100%;
    left: 0;
  }
}