

.app-container {
  width: 100%;
}

.content__container {
    display: flex;
    background-color: var(--content-background);
    border-radius: 10px;
    border: 1px solid var(--border-fresco-color);
    min-height: calc(100vh - 40px);
    width: calc(100% - 70px);
    height: fit-content;
    padding: 0px;
    left: var(--sidebar-width-close);
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

  }

  /* we use this class in the elements we need to readjust when sidebar is open. with only this class we not need modifyers in every element we wanna change*/
  .open{
    left: var(--sidebar-width-open);
    width: calc(100% - 200px);
  } 



  @media (max-width: 767px) {
    

    .app-container{
      width: 100%;      
    }
  .content__container {
    width: 100%;
    min-height: calc(100vh - 0px);
    left: 0px;
    top: 0px;
    border: 0px;
    border-radius: 0px;
   
   
  
  }
  .open{
    left: 0px;
    width: 100%;
  }
    /* Block content when sidebar is open and we are in mobile by hiding overflow*/
    .content__container--blocked{
      overflow: hidden;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
}