.modal:has(.modal-welcome){
    width: 100%;
    max-width: 400px;
}

.modal-welcome{
    display: flex;
    flex-direction: column;

    width: 100%;

    background: #202020;
}
.modal-welcome__content{
    position: relative;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-welcome__logo{
    background: url('/assets/logo-dark-mode.svg');
    background-size: cover;
    width: 30px;
    height: 22px;
}
.modal-welcome__divider{
    width: 100%;
    height: 1px;
    background: #333333;
}
.modal-welcome__blur{
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(180deg);

    background: url('/assets/login-blur.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100%;
    width: 100%;
}

/*Form body*/
.modal-welcome__body{
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.modal-welcome__welcome{
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}
.modal-welcome__text{
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

/*Form body - Bottom*/
.modal-welcome__bottom-actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-welcome__intro-to-trustwards{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    color: var(--website-accent-color);
    letter-spacing: var(--letter-spacing-negative);

    cursor: pointer;
}
.modal-welcome__button {
    width: fit-content;
    padding: 4px 8px;

    background: var(--accent-bg-color);
    border: none;
    border-radius: 6px;

    letter-spacing: var(--letter-spacing-negative);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    color: var(--accent-color);
    cursor: pointer;
    box-shadow: var(--blue-button-shadow);
}

/*input*/
.modal-welcome__input {
    border: 1px solid var(--border-strong-color);
    background: transparent;
    height: 34px;
    border-radius: 8px;
    padding: 15px 10px;
    font-size: var(--font-size-small);
    letter-spacing: var(--letter-spacing-negative);
    color: #FFFFFF;
    font-weight: var(--font-weight);
    width: 100%;

    outline: none;
}.modal-welcome__input::placeholder {
    color: var(--body-fresco-color);
}
.modal-welcome__input--warning{
    border: 1px solid var(--warning-color);
    background-color: var(--hover-warning-color);
    color: var(--warning-color);
}.modal-welcome__input--warning::placeholder {
    color: var(--warning-color);
}