:root{
  --color-logout: #db1515;
}
  
  /* <PROFILE DROPDOWN */
  .profileDropdown{
    display: block; 
    align-items: center;
    justify-content: space-between;
    transition: all 0.8s ease;

  }
  .profileDropdown--open{
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    transition: all 0.8s ease;
    position: relative;
  } 
  .profileDropdown__profile{
    height: 40px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--sidebar-transition);
    flex-direction: row;
    
    
  }

  .profileDropdown__profile--open{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    transition: var(--sidebar-transition);
   
  }

  .profileDropdown__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3.5px;
  }
  .profileDropdown__header__avatar{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--avatar-background);
    padding: 3px;

    
  }
  .profileDropdown__header__name{
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    color: var(--sidebar-items-color);
    letter-spacing: var(--letter-spacing-negative);
    font-family: var(--font-family);
    transition: var(--sidebar-transition);
    display: flex;
    opacity: 0;
  }
  .profileDropdown__header__name--open{
   
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    color: var(--background-color-black);
    letter-spacing: var(--letter-spacing-negative);
    font-family: var(--font-family);
    transition: var(--sidebar-transition);
    display: flex;
    opacity: 1;
  }
  .profileDropdown__icons{
    display: flex;
    transition: var(--sidebar-transition);
    opacity: 0;
    
  }
  .profileDropdown__icons--open{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    transition: var(--sidebar-transition);
    opacity: 1;
  }
  .profileDropdown__icons--down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .profileDropdown__icons--up{
    display: none;
  }


  .profileDropdown--open:hover .profileDropdown__icons--up{
    display: flex;
    transition: all 0.6s ease;
  }
  .profileDropdown--open:hover .profileDropdown__icons--down{
    display: none;
    transition: all 0.6s ease;
  }
  .profileDropdown--open:hover .profileDropdown__profile--open{
    background-color: rgba(235, 235, 235, 1);
    transition: all 0.2s ease;

  }
  
  /* Dropdonw */
  .profileDropdown__dropdown{
    display: none;
  }
 .profileDropdown--open:hover .profileDropdown__dropdown{
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    width: 165px;
    height: 131px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: -2px;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    align-items: center;
  }

  .profileDropdown--open:hover::after {
    content: '';
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: transparent;
  }


  
  .profileDropdown__upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }
  .profileDropdown__lower{
    border-top: 1.5px solid var(--border-color);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .profileDropdown__link {
    padding: 0px 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: var(--sidebar-items-color);
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    font-family: var(--font-family);
    width: 100%;
    justify-items: center;
   
  }

  .profileDropdown__link__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;                 /*  PONER VARIABLES CON EL TAMAÑO DE LOS ICONOS */
    height: 16px;
  }
  .profileDropdown__link__logout svg{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profileDropdown__link__logout{
    display: flex;
    align-items: center;
    
  }
  .profileDropdown__link:hover {
    color: var(--background-color-black);
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__path{
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__fill{
    fill: var(--background-color-black);
    stroke: none;
  }

  .profileDropdown__link__logout:hover {
    color: var(--color-logout);
  }
  .profileDropdown__link__logout:hover .profileDropdown__link__path {
    stroke: var(--color-logout);
  }

  .profileDropdown__dropdown--inactive{
    display: none;
  }

  /* >PROFILE DROPDOWN */

  @media (max-width: 767px) {
    .profileDropdown--open{
        display: flex;
        height: 40px;
        justify-content: center;
        width: 100%;
        margin-top: 5px;

      } 
      .profileDropdown{
        
        margin-top: 5px;

      } 
      .profileDropdown--open:hover{
        height: 40px;
      }
    
    .profileDropdown__dropdown{
      display: none;
    }

    .profileDropdown--open:hover .profileDropdown__dropdown{
     display: none;
    }
 
    
    .profileDropdown--open:hover .profileDropdown__dropdown{
    background-color: rgba(255, 255, 255, 0.97);
    display: flex !important;
    width: 100%;
    height: 130px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .profileDropdown__profile--open{
    height: 40px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .profileDropdown__header{
    flex-direction: row;
  }

  
  .profileDropdown__upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profileDropdown__lower{
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    
    width: 100%;
  }
  .profileDropdown__link {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: var(--sidebar-items-color);
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    font-family: var(--font-family);
    width: 100%;
   
  }

  .profileDropdown__link__svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profileDropdown__link:hover {
    color: var(--background-color-black);
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__path{
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__fill{
    fill: var(--background-color-black);
    stroke: none;
  }

  .profileDropdown__link__logout:hover {
    color: var(--color-logout);
  }
  .profileDropdown__link__logout:hover .profileDropdown__link__path {
    stroke: var(--color-logout);
  }



  }


 