
  
  /* <PROFILE DROPDOWN */
  .profileDropdown--open{
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 100%;
    transition: all 0.4s ease;
    align-items: center;
  } 
  .profileDropdown{
    display: block; 
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;

  }
  .profileDropdown__profile--open{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    width: 100%;
    transition: all 0.4s ease;
  }
  .profileDropdown__profile{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
  }
  .profileDropdown__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
  .profileDropdown__header__avatar{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    padding: 2px;
  }
  .profileDropdown__header__name{
    display: none;
    transition: all 0.4s ease;
  }
  .profileDropdown__header__name--open{
    display: flex;
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    color: var(--sidebar-items-color);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    transition: all 0.4s ease;
  }
  .profileDropdown__icons{
    display: none;
    transition: all 0.4s ease;
  }
  .profileDropdown__icons--open{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    transition: all 0.4s ease;
  }

  .profileDropdown__icons--down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .profileDropdown__icons--up{
    display: none;
  }
  .profileDropdown:hover .profileDropdown__icons--up{
    display: flex;
    transition: all 0.6s ease;
  }
  .profileDropdown:hover .profileDropdown__icons--down{
    display: none;
    transition: all 0.6s ease;
  }

  /* Dropdonw */
  .profileDropdown__dropdown{
    display: none;
  }
 .profileDropdown--open:hover .profileDropdown__dropdown{
    background-color: rgba(255, 255, 255, 0.97);
    display: flex;
    width: 185px;
    height: 189px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }


  
  .profileDropdown__upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profileDropdown__lower{
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
    width: 100%;
  }
  .profileDropdown__link {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    color: var(--sidebar-items-color);
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    width: 100%;
   
  }

  .profileDropdown__link__svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profileDropdown__link:hover {
    color: var(--background-color-black);
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__path{
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__fill{
    fill: var(--background-color-black);
    stroke: none;
  }

  .profileDropdown__link__logout:hover {
    color: #db1515;
  }
  .profileDropdown__link__logout:hover .profileDropdown__link__path {
    stroke: #db1515;
  }

  .profileDropdown__dropdown--inactive{
    display: none;
  }

  /* >PROFILE DROPDOWN */

  @media (max-width: 767px) {
    .profileDropdown{
        display: flex;
        height: 40px;
        justify-content: center;
        width: 100%;
        margin-top: 40px;

      } 
      .profileDropdown:hover{
        height: 40px;
      }
    
    .profileDropdown__dropdown{
      display: none;
    }
 
    
   .profileDropdown__dropdown--active{
    background-color: rgba(255, 255, 255, 0.97);
    display: flex !important;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    z-index: 1;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .profileDropdown__profile{
    height: 40px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    

    

  }
  .profileDropdown__header{
    flex-direction: row;
  }

  
  .profileDropdown__upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profileDropdown__lower{
   gap: 20px;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 0px;
    width: 100%;
  }
  .profileDropdown__link {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: var(--sidebar-items-color);
    font-size: var(--sidebar-font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    width: 100%;
   
  }

  .profileDropdown__link__svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profileDropdown__link:hover {
    color: var(--background-color-black);
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__path{
    stroke: var(--background-color-black);
  }
  .profileDropdown__link:hover .profileDropdown__link__fill{
    fill: var(--background-color-black);
    stroke: none;
  }

  .profileDropdown__link__logout:hover {
    color: #db1515;
  }
  .profileDropdown__link__logout:hover .profileDropdown__link__path {
    stroke: #db1515;
  }
  }