/* SITES */

.sites__wrapper {
  width: 100%;
  max-width: 992px;
  padding: 60px 17px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 1 auto;
  min-height: 0;
}

.sites__welcome {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-negative);
  color: var(--body-strong-color);
}

.sites__top-card {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px var(--shadow-fresco-color);
  display: flex;
  flex-direction: column;
  min-height: 160px;
  box-shadow: 0px 2px 4px 0px var(--shadow-strong-color);
  overflow: hidden;
}

.sites__top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
}

/* Top Left Grid*/

.sites__top-left {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

/* Legacy */
.sites__top-card--legacy {
  background: linear-gradient(180deg, #0099FE -22.03%, #1AE8FF 112.81%);
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.sites__top-card--legacy .sites__legacy-svg {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 450px;
  height: 150px;
  pointer-events: none;
  overflow: visible;
}
@media (max-width: 467px) {
  .sites__top-card--legacy .sites__top-card-text {
    max-width: 65%;
  }
}
@media (max-width: 367px) {
  .sites__top-card--legacy .sites__top-card-text {
    max-width: 65%;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    top: 10px;
    right: -20px;
    width: 375px;
    height: 130px;
  }
}
@media (max-width: 312px) {
  .sites__top-card--legacy .sites__top-card-text {
    max-width: 80%;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    top: 10px;
    right: -20px;
    width: 350px;
    height: 120px;
  }
}
@media (max-width: 292px) {
  .sites__top-card--legacy .sites__top-card-text {
    max-width: 70%;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    top: 10px;
    right: -20px;
    width: 325px;
    height: 110px;
  }
}
@media (max-width: 292px) {
  .sites__top-card--legacy .sites__top-card-text {
    max-width: 80%;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    top: 10px;
    right: -20px;
    width: 325px;
    height: 110px;
  }
}
@media (max-width: 272px) {
  .sites__top-card--legacy .sites__top-card-text {
    max-width: 90%;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    top: 10px;
    right: -20px;
    width: 280px;
    height: 90px;
  }
}
@media (max-width: 232px) {
  .sites__top-card--legacy .sites__top-card-text {
    max-width: 100%;
  }
  .sites__top-card--legacy .sites__legacy-svg {
    top: 10px;
    right: -20px;
    width: 250px;
    height: 80px;
  }
}

/* Changelog */
.sites__top-card--changelog {
  background: linear-gradient(119deg, #A100FF -11.71%, #FAEDFF 117.26%);
  position: relative;
  display: flex;
}
.sites__top-card--changelog .sites__changelog-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  height: 110px;
  overflow: hidden;
  pointer-events: none;
}
.sites__top-card--changelog .sites__top-card-text {
  color: var(--dashboard-hello-grid-text-strong-color);
}
@media (max-width: 567px) {
  .sites__top-card--changelog .sites__changelog-svg {
    width: 350px;
    height: 100px;
  }
  .sites__top-card--changelog .sites__top-card-text {
    max-width: 65%;
  }
}
@media (max-width: 492px) {
  .sites__top-card--changelog .sites__changelog-svg {
    width: 300px;
    height: 90px;
  }
  .sites__top-card--changelog .sites__top-card-text {
    max-width: 80%;
  }
}
@media (max-width: 367px) {
  .sites__top-card--changelog .sites__changelog-svg {
    width: 250px;
    height: 80px;
  }
  .sites__top-card--changelog .sites__top-card-text {
    max-width: 100%;
  }
}
@media (max-width: 312px) {
  .sites__top-card--changelog .sites__changelog-svg {
    width: 200px;
    height: 75px;
  }
}
@media (max-width: 267px) {
  .sites__top-card--changelog .sites__changelog-svg {
    width: 160px;
    height: 65px;
  }
}

/* Top Right Grid*/

.sites__top-right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 17px;
}

/* Trustwards */
.sites__top-card--trustwards {
  background: linear-gradient(355deg, #009AFF -24.13%, #000 67.45%);
  position: relative;
  display: flex;

}
.sites__top-card--trustwards .sites__trustwards-svg {
  position: absolute;
  bottom: 0;
  right: -40px;
  width: 250px;
  height: 90px;
  overflow: visible;
}
.sites__top-card--trustwards .sites__top-card-text {
  color: var(--dashboard-hello-grid-text-strong-color);
  max-width: 100%;
}
@media (max-width: 867px) {
  .sites__top-card--trustwards .sites__trustwards-svg {
    width: 225px;
    height: 70px;
  }
}
@media (max-width: 767px) {
  .sites__top-card--trustwards .sites__trustwards-svg {
    width: 250px;
    height: 80px;
  }
}
@media (max-width: 212px) {
  .sites__top-card--trustwards .sites__trustwards-svg {
    width: 200px;
    height: 55px;
  }
}

/* News */
.sites__top-card--news {
  background: linear-gradient(355deg, #009AFF -24.13%, #000 67.45%);
  position: relative;
  display: flex;
  grid-row: span 2;
  overflow: hidden;
}
.sites__top-card--news .sites__news-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.sites__top-card--news .sites__news-svg {
  position: absolute;
  bottom: -100px;
  left: -80px;
  width: 600px;
  height: auto;
  overflow: visible;
  pointer-events: none;
}
.sites__top-card--news .sites__top-card-text {
  color: var(--dashboard-hello-grid-text-strong-color);
  max-width: 85%;
}
@media (max-width: 992px) {
  .sites__top-card--news .sites__news-svg {
    bottom: -130px;
    left: 0px;
  }
}
@media (max-width: 767px) {
  .sites__top-card--news .sites__news-svg { 
    left: 0;
  }
  .sites__top-card--news .sites__top-card-text {
    max-width: 80%;
  }
}
@media (max-width: 592px) {
  .sites__top-card--news .sites__news-svg {
    bottom: -80px;
    left: -60px;
  }
  .sites__top-card--news .sites__top-card-text {
    max-width: 80%;
  }
}
@media (max-width: 467px) {
  .sites__top-card--news .sites__top-card-text {
    max-width: 70%;
  }
  .sites__top-card--news .sites__news-svg {
    bottom: -130px;
    left: 70px;
  }
}
@media (max-width: 367px) {
  .sites__top-card--news .sites__news-svg {
    bottom: -90px;
    left: 0;
    height: 250px;
  }
}
@media (max-width: 267px) {
  .sites__top-card--news .sites__news-svg {
    bottom: -75px;
    left: -50px;
    width: 500px;
    height: 200px;
  }
  .sites__top-card--news .sites__top-card-text {
    max-width: 100%;
  }
}

/* Builder */
.sites__top-card--builder {
  background: linear-gradient(119deg, #A100FF -11.71%, #FF681A 117.26%);
  position: relative;
  display: flex;

}
.sites__top-card--builder .sites__builder-svg {
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 300px;
  height: 115px;
  overflow: hidden;
  pointer-events: none;
}
.sites__top-card--builder .sites__top-card-text {
  color: var(--dashboard-hello-grid-text-strong-color);
}
@media (max-width: 267px) {
  .sites__top-card--builder .sites__builder-svg {
    width: 250px;
    height: 100px;
  }
}

/* Card Content */
.sites__top-card-content {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sites__top-card-title {
  color: var(--dashboard-hello-grid-heading-color);
  letter-spacing: var(--letter-spacing-negative);
  font-weight: 600;
  font-size: 16px;
}

.sites__top-card-text {
  color: var(--dashboard-hello-grid-text-strong-color);
  letter-spacing: var(--letter-spacing-negative);
  font-size: 14px;
  font-weight: 500;
  max-width: 55%;
}

/* Bottom Grid */
.sites__grid.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 17px;
}
.sites__grid:empty {
  display: none;
}
.sites__grid.list:not(:has(.site)) {
  display: none;
}

.sites__grid.list {
  display: flex;
  flex-direction: column;
}

.sites__nosites-big {
  flex: 1 1 auto;
  min-height: 0;
}


/* HEADER */
.sites__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  gap: 10px;
}

.sites__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--body-strong-color);
}

/* Header buttons */
.sites__header-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.sites__new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 7px;
  background-color: var(--accent-bg-color);
  box-shadow: var(--blue-button-shadow);
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.sites__new-button svg {
  color: var(--accent-color);
  width: 12px;
  height: 12px;
}

/* No Sites - Add a new site */
.sites__nosites-big {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  background-color: var(--wrappers-fresco-color);
  padding: 60px;
}

.sites__nosites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sites__nosites-heading {
  font-size: 16px;
  letter-spacing: var(--letter-spacing-negative);
  font-weight: 600;
  color: var(--body-strong-color);
  text-align: center;
}

.sites__nosites-text {
  font-size: 16px;
  letter-spacing: var(--letter-spacing-negative);
  font-weight: 500;
  color: var(--body-fresco-color);
  text-align: center;
}

.sites__nosites-span {
  color: var(--accent-bg-color);
}


/* At least one site - Add a new site */
.sites__nosites-small {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  gap: 10px;
  background-color: var(--wrappers-fresco-color);
}

/* :has() */

/* At least one site */
.sites__grid:has(.site) + .sites__nosites-big {
  display: none;
}
/* No sites */
.sites__grid:not(:has(.site)) .sites__nosites-small {
  display: none;
}

/* Hide the 'Add a new website' box in list mode */
.sites__grid.list .sites__nosites-small {
  display: none !important;
}

/* Show the 'Add a new website' box in grid view if there is at least one .site */
.sites__grid.grid:has(.site) .sites__nosites-small {
  display: flex;
}

/* Hide the 'Add a new website' box if there are no .sites */
.sites__grid:not(:has(.site)) .sites__nosites-small {
  display: none;
}

/* Hide the grid/list if there are no sites */
.sites__grid:not(:has(.site)) {
  display: none !important;
}

/* Responsive */
@media (max-width: 992px) {
  .sites__top-grid {
    grid-template-columns: 1fr;
  }
  .sites__grid.grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablet */
@media (max-width: 767px) {
  .sites__title {
    font-size: 22px;
  }
  .sites__new-button {
    font-size: 12px;
  }
  .sites__wrapper {
    padding: 150px 17px 40px 17px;
  }
}

/* Mobile */
@media (max-width: 467px) {
  .sites__title {
    font-size: 22px;
  }
  .sites__new-button {
    font-size: 12px;
  }
  .sites__top-right-grid {
    grid-template-columns: 1fr;
  }
  .sites__grid.grid {
    grid-template-columns: 1fr;
  }
  .sites__top-card-text {
    max-width: 75%;
  }
}
