.offcanvas__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-backdrop-color);
    z-index: 9999;
    display: flex;
    justify-content: flex-start;
}

.offcanvas {
    background-color: var(--offcanvas-background);
    height: 100%;
    overflow-y: auto;
    box-shadow: -4px 0 24px rgba(0, 0, 0, 0.15);
    outline: none;
    max-width: 90vw;
    width: 740px;
}

.offcanvas--right {
    margin-left: auto;
}

.offcanvas--left {
    margin-right: auto;
    box-shadow: 4px 0 24px rgba(0, 0, 0, 0.15);
}

.offcanvas::-webkit-scrollbar {
    width: 8px;
}

.offcanvas::-webkit-scrollbar-thumb {
    background: var(--body-light-color);
    border-radius: 10px;
}

@media (max-width: 767px) {
    .offcanvas {
        width: 100%;
        max-width:85vw;
    }


}