.proof-of-consent{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    width: 50%;
}
.proof-of-consent__header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0 10px 0;
    gap: 15px;
}
.proof-of-consent__header-title{
    font-size: var(--font-heading);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}
.proof-of-consent__header-text{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
}
.proof-of-consent__header-actions{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 15px;	
}
.proof-of-consent__header-dates-wrapper{
    display: flex;
    flex-direction: row;
    width: 66%;
    gap: 15px;
}
.proof-of-consent__header-dates{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 15px;
    border: 1px solid var(--border-fresco-color);
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    padding: 6px 10px;
}
.proof-of-consent__calendar-popover {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
}
.proof-of-consent__header-btn{
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    gap: 15px;
    background-color: var(--accent-bg-color);
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.proof-of-consent__header-btn-disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.proof-of-consent__header-btn-text{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}
.proof-of-consent__header-monthly{
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 10px;
}
.proof-of-consent__header-monthly-label{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.proof-of-consent__divider{
    height: 1px;
    width: 100%;
    background-color: var(--border-fresco-color);
}
.proof-of-consent .rdp-root {
    background-color: #333333;
    bottom: -50px;
    border-radius: 10px;
    padding: 10px;
    --rdp-accent-background-color: #FFFFFF;
    --rdp-accent-color: #999999;
    --rdp-today-color: var(--accent-bg-color);
    --rdp-range_middle-color: #000000;
    --rdp-range_start-color: #000000;
    --rdp-day_button-border-radius: 10px;
    --rdp-day_button-border: none;
    --rdp-selected-border: none;
    --rdp-day-height: 38px;              
    --rdp-day-width: 38px;              
    --rdp-day_button-height: 32px;       
    --rdp-day_button-width: 32px; 
    --rdp-outside-opacity: 0.5;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
  }
  
  
  .proof-of-consent .rdp-day.rdp-selected {
    background: transparent !important;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
  }
  

  .proof-of-consent .rdp-day.rdp-range_middle .rdp-day_button {
    background-color: #555; 
    border-radius: 0 !important;
    color: #fff;
  }
  
  
  .proof-of-consent .rdp-day.rdp-range_start:not(.rdp-range_end) .rdp-day_button {
    background-color: #fff;
    color: #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  

  .proof-of-consent .rdp-day.rdp-range_end:not(.rdp-range_start) .rdp-day_button {
    background-color: #fff;
    color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  

  .proof-of-consent .rdp-day.rdp-range_start.rdp-range_end .rdp-day_button {
    background-color: #fff;
    color: #000;
    border-radius: 10px !important;
  }
  

  .proof-of-consent .rdp-month_grid {
    border-collapse: collapse !important;
  }
  
  .proof-of-consent .rdp-weekday{
    color: #737373;
    font-size: var(--font-size-small);
  }
   
  .proof-of-consent .rdp-chevron{
    height: 16px;
    width: 16px;
  }
  .proof-of-consent .rdp-dropdown_root{
    background-color: #454545;
    border-radius: 6px;
    padding: 5px;
  }

  .proof-of-consent .rdp-caption_label{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
  }

  .proof-of-consent .rdp-caption_label .rdp-chevron{
    height: 12px;
    width: 12px;
    fill: #ffffff;
    margin-left: 5px;
  }

.proof-of-consent__header-monthly-bar{
    width: 100%;
    height: 10px;
    border: 1px solid var(--border-fresco-color);
    border-radius: 100px;
    background-color: transparent;
    padding: 2px;
}
.proof-of-consent__header-monthly-bar-fill{
    height: 100%;
    border-radius: 100px;
}

.proof-of-consent__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
}
.proof-of-consent__content-created{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.proof-of-consent__content-created-dates{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.proof-of-consent__content-created-dates-range{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semibold);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
}
.proof-of-consent__content-created-dates-today{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-fresco-color);
    font-style: italic;
}
.proof-of-consent__content-created-download{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--border-fresco-color);
    border-radius: 8px;
}
.proof-of-consent__content-created-download-text{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
    cursor: pointer;
}

