
.planCard{
    width: 100%;
    height: 121PX;
    background: linear-gradient(to bottom, #93BFFF 0%, #ffffff 50%);
    border-radius: 10px;
    border: 2px solid #E0E0E0;
    transition: border 0.4s ease;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 10px;
  } 
  .planCard:hover{
    border: 2px solid #000000;
    transition: border 0.4s ease;
  }
  
  .planCard__header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 5px;
  } 
  
/* .planCard__header-icon-container{
    color: var(--category-items-font-color);
    } */

.planCard__icon {
    background-color: #000;
    border-radius: 20%;
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
}
.planCard__icon--svg {
    transform: translateY(2.5px);
}
  .planCard__title{
    font-size: var(--items-font-size);
    font-weight: var(--font-weight);
    color: var(--category-items-font-color);
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
  }
  .planCard__subtitle{
    font-size: 12px;
    font-weight: var(--font-weight);
    color: #969696;
    letter-spacing: var(--letter-spacing);
    font-family: var(--font-family);
    margin-bottom: 5px;
  }
  .planCard__widgets{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5px;
  }
  .planCard__bar {
    width: 100%;
    height: 5px;
    background-color: #D9D9D9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .planCard__fill {
    height: 100%;
    background-color: #0099FE;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.3s ease; /* animación opcional */
  }
  .planCard__button{
    height: 30px;
    width: 100%;
    border-radius: 6px;
    background-color: var(--category-items-font-color);
    color: #ffffff;
    font-size: 12px;
    padding: 10px 10px;
    font-weight: var(--font-weight);
    cursor: pointer;
    font-family: Inter;
    letter-spacing: var(--letter-spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .planCard__button:hover{
    opacity: 0.9;
  }
  .planCard__button--disabled{
    display: none;
  }

  @media (max-width: 767px) {
    .planCard{
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }