.modalUpgradePlan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.modalUpgradePlan__header{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.modalUpgradePlan__title{
    font-size: var(--font-size-medium);
    font-weight: 600;
    color: var(--body-fresco-color);
}
.modalUpgradePlan__info{
    font-size: 11px;
    font-weight: var(--font-weight);
    color: var(--body-fresco-color);
}

