.dashboardHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid var(--border-strong-color);
    justify-content: center;
    
    
}

.dashboardHeader__header{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;    
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding-left: 104px;
}
.dashboardHeader__avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.dashboardHeader__img{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--logo-background);
    border: 1px solid var(--border-strong-color);
    padding: 1.5px;
}
.dashboardHeader__img--null{
    display: none;
}
.dashboardHeader__color{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid var(--border-strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;  
}
.dashboardHeader__color--null{
    display: none;
}


.dashboardHeader__title{
    font-size: var(--font-size-medium);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
    cursor: pointer;
    display: inline-block;
    position: relative;
    max-width: 200px;
  


}
.dashboardHeader__fileInput{
    display: none;
}
.dashboardHeader__input{
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    width: 100px;
    box-sizing: border-box;
    text-decoration: none;
 
}
.dashboardHeader__plan{
    font-size: var(--font-size-small);
    font-weight: 700;
    letter-spacing: var(--letter-spacing-negative);
    color: var( --site-pro-toggle-text-color);
    background-color: var(--view-toggle-background);
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.dashboardHeader__plan--pro{
    color: var(--accent-color);
    background-color: var(--accent-bg-color);
}
.dashboardHeader__actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
    position: relative;
}
.dashboardHeader__dots{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 26px;
    height: 24px;
    border-radius: 6px;
    background-color: var(--view-toggle-background);
    cursor: pointer;
 
}
.dashboardHeader__dots-dot{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--site-pro-toggle-text-color);
 
}

.dashboardHeader__builder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--accent-bg-color);
    box-shadow: var(--blue-button-shadow);
}
.dashboardHeader__builder-text{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--accent-color);
    padding: 5px;
}


@media (max-width: 767px) {
    .dashboardHeader{
        padding-top: 70px;
        
    }
    .dashboardHeader__header{
        padding-left: 40px;
        justify-content: flex-start;
    }
    .dashboardHeader__actions{
        padding-right: 40px;
    }

}