.dashboard-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid var(--border-fresco-color);
    justify-content: center;

    height: 54px;
}

.dashboard-header__header{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    width: 100%;    
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.dashboard-header__avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: default;


}
.dashboard-header__img{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--logo-background);
    border: 1px solid var(--border-strong-color);
    padding: 1.5px;
}
.dashboard-header__img--null{
    display: none;
}

.dashboard-header__color-wrapper{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dashboard-header__color{
    font-size: var(--font-size-mini);
    font-weight: 500;
    text-transform: uppercase;
    position: absolute
}
.dashboard-header__color--null{
    display: none;
}

.dashboard-header__title{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--body-strong-color);
    cursor: pointer;
    display: inline-block;
    position: relative;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashboard-header__file-input{
    display: none;
}

.dashboard-header__input{
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;

}

.dashboard-header__plan{
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-bold);
    color: var( --site-pro-toggle-text-color);
    background-color: var(--view-toggle-background);
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;

}

.dashboard-header__plan--pro{
    color: var(--accent-color);
    background-color: var(--accent-bg-color);
}

.dashboard-header__actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    right: 15px;
    position: absolute;
}

.dashboard-header__dots{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 28px;
    height: 26px;
    border-radius: 6px;
    background-color: var(--view-toggle-background);
    cursor: pointer;
}

.dashboard-header__dots-dot{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--site-pro-toggle-text-color);
}

.dashboard-header__builder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--accent-bg-color);
    box-shadow: var(--blue-button-shadow);
    padding: 6px 10px;
}
.dashboard-header__builder-text{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-negative);
    color: var(--accent-color);
}



@media (max-width: 767px) {
    .dashboard-header{
        padding-top: 85px;
    }
    .dashboard-header__header{
        justify-content: flex-start;
        padding-left: 20px;
    }
}