#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.app-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  width: 20px;
  background-color: transparent;
  padding: 1rem;
  border: 1px solid #f5f5f5;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}
.sidebar:hover {
  padding-right: 200px;
  transition: padding-right 0.5s ease;
}

.sidebar__link{
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);

}

.sidebar__link:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
