:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-table {
  width: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  border: 1px solid #E5E7EB;
  border-radius: 20px;
  background-color: #ffffff;
}

.md-card-button {
  width: fit-content;
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #3b82f6;
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s;
}
.md-card-button:hover {
  background-color: #2563eb;
}

.cards-list {
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}
.card:hover {
  background-color: #ebeced;
  border-radius: 0px;
}

.card-text {
  font-weight: 600;
  color: #374151;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-inputs {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.modal input::placeholder {
  color: #858585;
  font-weight: 500;
}

.modal-button {
  width: fit-content;
  display: flex;
  align-self: flex-end;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

h2 {
  color: #000;
}
