:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-table {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.md-card-button {
  padding: 10px 20px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.md-card-button:hover {
  background-color: #2563eb;
}

.cards-list {
  width: 100%;
  border: 2px solid #747272;
  border-radius: 12px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.card {
  background-color: #da2323;
  padding: 12px;
  border-radius: 8px;
}

.card-text {
  font-weight: 600;
  color: #374151;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: right;
}

h2 {
  color: #000;
}
