.modalAccount{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
 
}

.modalAccount__aside{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.modalAccount__header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.modalAccount__avatar{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--border-strong-color);
}

.modalAccount__avatar--null{
  display: none;
}

.modalAccount__color{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--border-strong-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.modalAccount__color--null{
  display: none;
}


.modalAccount__edit{
  font-size: var(--font-size-small);
  color: var(--body-light-color);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-negative);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modalAccount__edit:hover{
  color: var(--body-strong-color);
  transition: all 0.3s ease;
}

.modalAccount__main{
  width: 263px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 0;
}

.modalAccount__section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.modalAccount__title{
  font-size: var(--font-size-small);
  color: var(--body-fresco-color);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
}

.modalAccount__field{
  font-size: var(--font-size-small);
  color: var(--body-fresco-color);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing-negative);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
  white-space: nowrap;
}

.modalAccount__change{
  font-size: var(--font-size-small);
  color: var(--accent-bg-color);
  font-weight: var(--font-weight);
  cursor: pointer;
  transition: all 0.2s ease;
}

.modalAccount__change:hover{
  opacity: 0.8;
}

.modalAccount__divider{
  height: 1px;
  background: var(--border-strong-color);
  margin: 4px 0;
  width: 100%;
  border: none;
}

.modalAccount__fileInput{
  display: none;
}