.modal-account{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
 
}

/* Icon Aside wrapper */
.modal-account__aside{
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.modal-account__header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.modal-account__avatar{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--border-fresco-color);
}
.modal-account__avatar--null{
  display: none;
}

/* Color Avatar */
.modal-account__color{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--border-fresco-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.modal-account__color--null{
  display: none;
}

.modal-account__edit{
  font-size: var(--font-size-small);
  color: var(--body-light-color);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-negative);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.modal-account__edit:hover{
  color: var(--body-strong-color);
  transition: all 0.3s ease;
}

/* Main section (content) */
.modal-account__main{
  width: 263px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 0;
}

/* Section wrapper for top/mid/bottom */
.modal-account__section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.modal-account__title{
  font-size: var(--font-size-small);
  color: var(--body-fresco-color);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-negative);
}

.modal-account__field{
  font-size: var(--font-size-small);
  color: var(--body-fresco-color);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-negative);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
  white-space: nowrap;
}

.modal-account__change{
  font-size: var(--font-size-small);
  color: var(--accent-bg-color);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all 0.2s ease;
}
.modal-account__change:hover{
  opacity: 0.8;
}

.modal-account__divider{
  height: 1px;
  background: var(--border-fresco-color);
  margin: 4px 0;
  width: 100%;
  border: none;
}

.modal-account__file-input{
  display: none;
}

@media (max-width: 767px) {
  .modal-account__avatar{
    width: 45px;
    height: 45px;
  }
  .modal-account__color{
    width: 45px;
    height: 45px;
  }

}