/* Sort button */
.sort__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 6px;
    color: var(--body-fresco-color);
    letter-spacing: var(--letter-spacing);
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--secondary-button-border-color);
    border-radius: 8px;
    cursor: pointer;
}
.sort__button svg {
    width: 12px;
    height: 12px;
    color: var(--body-fresco-color);
}

/* Sort title */
.sort__title {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  color: var(--body-fresco-color);
  padding: 6px 12px;
  pointer-events: none;
  user-select: none;
}
.sort__title--alphabetical {
  margin-top: 10px;
}

/* Sort divider */
.sort__divider {
  height: 0.8px;
  background: var(--border-strong-color);
  width: 100%;
  border: none;
  margin-bottom: 8px;
}

/* Mobile responsive */
@media (max-width: 480px) {
    .sort__button {
      font-size: 12px;
    }
    .sort__button svg {
      width: 12px;
      height: 12px;
    }
}