.modal__backdrop {
    position: fixed;
    left: var(--sidebar-width-close);
    top: 20px;
    min-height: calc(100vh - 40px);
    width: calc(100vw - 100px);
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--sidebar-transition);
    z-index: 10;
}
.open {
    left: var(--sidebar-width-open);
    width: calc(100vw - var(--sidebar-width-open));
    transition: var(--sidebar-transition);
}
.modal {
    background: var(--modal-background);
    padding: 3px;
    border: 1px solid rgba(219, 219, 219, 0.85);
    border-radius: 16px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    position: relative;
  }

@media (max-width: 767px) {
    .modal__backdrop {
        left: 0;
        width: 100vw;
        top: 0;
    }
    .open {
        left: 0;
        width: 100vw;
    }
}