.modal__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--sidebar-transition);
    z-index: 1000;
}
.open {
    left: var(--sidebar-width-open);
    width: calc(100vw - var(--sidebar-width-open));
    transition: var(--sidebar-transition);
}
.modal {
    background: var(--modal-background);
    padding: 3px;
    /* border: 1px solid rgba(219, 219, 219, 0.85); */
    border-radius: 16px;
    width: 100%;
    max-width: 380px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(11px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    position: relative;
  }

.modal:has(.modal__actions-edit) {
    gap: 0px;
    
}




@media (max-width: 767px) {
    .modal__backdrop {
        left: 0;
        width: 100vw;
        top: 30px;
    }
    .open {
        left: 0;
        width: 100vw;
    }
}
@media (max-width: 467px) {
    .modal {
        max-width: 300px;
    }
}
