.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: left 0.4s ease;
}

.modal__backdrop.open {
    left: var(--sidebar-width-open);
    width: calc(100vw - var(--sidebar-width-open));
}

@media (max-width: 767px) {
    .modal__backdrop {
        left: 0;
        width: 100vw;
    }
    .modal__backdrop.open {
        left: 0;
        width: 100vw;
    }
}