/* SITE CARD */
.site {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  width: 100%;
}

.site__visual {
  min-height: 120px;
  border: 1px solid var(--border-fresco-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.site__avatar {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid var(--border-strong-color);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 5px 0px var(--shadow-fresco-color);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--logo-background);
}
.site__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.site__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: var(--site-background);
  border: 1px solid var(--border-fresco-color);
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.site__name {
  letter-spacing: var(--letter-spacing);
  font-size: 16px;
  font-weight: 600;
  color: var(--body-semistrong-color);
  text-align: center;

}



.site__footer-right {
  display: flex;
  align-items: center;
}

/* Pro Button Styles */
.site__pro-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--site-pro-toggle-background);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

.site__pro-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
}

.site__pro-label {
  font-size: var(--font-size-btn);
  color: var(--site-pro-toggle-text-color);
  font-weight: 500;
  
  letter-spacing: var(--letter-spacing);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  transition: opacity 0.15s;
  user-select: none;
}

.site__pro-label.is-hidden {
  opacity: 0;
}

.site__pro-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.15s;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.site__pro-dots.is-visible {
  opacity: 1;
}

.site__pro-dots-item {
  width: 14px;
  object-fit: cover;
}

.site--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
  padding: 12px 0;
  position: relative;
  gap: 16px;
  width: 100%;
  border-bottom: 1px solid var(--border-fresco-color);
}

.site--list:last-child {
  border-bottom: none;
}

.site__list-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site__list-avatar {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid var(--border-strong-color);
  box-shadow: 0px 0px 5px 0px var(--shadow-fresco-color);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site__list-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.site__list-name {
  letter-spacing: var(--letter-spacing);
  font-size: 16px;
  font-weight: 600;
  color: var(--body-semistrong-color);


}

.site__list-right {
  display: flex;
  align-items: center;
}

.site__img--null {
  display: none;
}
.site__color {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;

  


}
.site__color--null {
  display: none;
}